<div class="about-sidebar">
  <ul>
    <a href="/sobre-qqw"><li class="{{#if about }}active{{/if}}">Historia</li></a>
    <a href="/entidades-y-fuentes"><li class="{{#if sources }}active{{/if}}">Fuentes</li></a>
    <a href="/herramientas"><li class="{{#if apis }}active{{/if}}">Herramientas</li></a>
    <a href="/investigaciones"><li class="{{#if investigations }}active{{/if}}">Investigaciones</li></a>
    <a href="/manual"><li class="{{#if manual }}active{{/if}}">Manual</li></a>
    <a href="/aliados"><li class="{{#if partners }}active{{/if}}">Aliados</li></a>
    <a href="/contacto"><li class="{{#if contact }}active{{/if}}">Contacto</li></a>
  </ul>
</div>