<div class="about-sidebar">
  <ul>
    <a href="/sobre-qqw"><li class="{{#ifCond currentSection "==" "about" }}active{{/ifCond}}">Historia</li></a>
    <a href="/entidades-y-fuentes"><li class="{{#ifCond currentSection "==" "sources" }}active{{/ifCond}}">Fuentes</li></a>
    <a href="/herramientas"><li class="{{#ifCond currentSection "==" "apis" }}active{{/ifCond}}">Herramientas</li></a>
    <a href="/investigaciones"><li class="{{#ifCond currentSection "==" "investigations" }}active{{/ifCond}}">Investigaciones</li></a>
    <a href="/manual"><li class="{{#ifCond currentSection "==" "manual" }}active{{/ifCond}}">Manual</li></a>
    <a href="/aliados"><li class="{{#ifCond currentSection "==" "partners" }}active{{/ifCond}}">Aliados</li></a>
    <a href="/contacto"><li class="{{#ifCond currentSection "==" "contact" }}active{{/ifCond}}">Contacto</li></a>
  </ul>
</div>
