
<section class="profile profile-banner" id="banner-evaluaciones">
  <div class="profile-content">
    <div class="row bg-banner">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "CALIDAD DE CONTRATO"}}}</h4>
      </div>

      <div class="col-md-12 col-12">
        <div class="row" style="background: transparent">
          <div class="offset-md-2 col-md-8 col-sm-12">
            <p class="text-center">
                Estamos actualizando el sistema.
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-12 col-12 text-center">
        {{!-- <img class="img-fluid banner-ev-img p-3" src="/images/tolocomx.png" alt="Todos los COntratos Mx"> --}}
        {{!-- <img class="img-fluid banner-ev-img p-3" src="/images/tolococr-transparent.png" alt="Todos los Contratos Cr"> --}}
      </div>
    </div>
  </div>
</section>
