{{#ifCond result.type "==" "persons" }}
<section class="profile profile-banner" id="banner-buenaonda">
  <div class="profile-content">
    <div class="row" class="col-md-12 col-12" style="background-color: rgb(178, 243, 181);">
      <div class="box-title-section" style="background-color: rgb(138, 230, 142);">
        <div class="box-title-icon" style="color:rgb(234, 252, 71)">
          <i class="fas fa-lightbulb"></i>
        </div>
        <h4 class="description-data-subtitle" style=" color:rgb(26, 54, 21)">{{{_ "Contrataciones transparentes"}}}</h4>
      </div>

      <div class="col-md-12 col-12">
        <div class="media">
          <div class="media-body">
            <p class="banner-text">
                Los perfiles en QuienEsQuien.wiki no implican una acusaci칩n.
            </p>
            <p>

                QuienEsQuien.wiki es un proyecto de la sociedad civil que promueve la transparencia de las contrataciones de gobierno. El estado est치 obligado a publicar esta informaci칩n y nosotros la replicamos para facilitar el acceso a la misma, ayudar a realizar investigaciones y promover la rendici칩n de cuentas corporativas.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}