{{#if filters }}
  <p class="search-terms-text">
    Búsqueda para:
    {{#each filters }}
      {{!-- {{#ifCond filter.hidden '=' true }} --}}
        <span class="blob" data-field="{{this.htmlField}}">
          {{this.fieldLabel}}: {{this.value}}
          <i class="fa fa-times delete-blob-filter" aria-hidden="true">x</i>
        </span>
      {{!-- {{/ifCond}} --}}
    {{/each}}
  </p>
{{/if}}