<div class="media card-border investigaciones-card my-4">
  <div class="card-image-container">
    {{#each entry.enclosures }}
      {{#ifCond (indexOf "image" this.$.type) ">" -1 }}
        <img class="align-self-start mr-3 card-image" src="{{this.$.url}}">
      {{/ifCond}}
    {{/each}}
    
  </div>
  <div class="media-body">
    <div class="card-pad">
      <p class="serif-gray">{{entry.title}}</p>
    </div>
    <div class="center-button text-center">
      <button class="button-link" type="button" name="leer" onClick="window.open('{{entry.link}}','Leer')">VER LA NOTA COMPLETA</button>
    </div>
  </div>
</div>
