<div class="card-pad-ext">
  <div class="card explore-card investigaciones-card">
    <div class="card-image-container">
      {{#each entry.enclosures }}
        {{#ifCond (indexOf "image" this.$.type) ">" -1 }}
          <img src="{{this.$.url}}" alt="" class="card-image">
        {{/ifCond}}
      {{/each}}
    </div>
    <div class="card-pad">
      <p class="serif-gray">{{entry.title}}</p>
    </div>
    <div class="center-button text-center">
      <button class="button-link" type="button" name="leer" onClick="window.open('{{entry.link}}','Leer')">VER LA NOTA COMPLETA</button>
    </div>
  </div>
</div>
