<footer {{#ifCond currentSection "==" "about"}}style="position: absolute; right: 0; left: 0; bottom: 0; width: 100%;"{{/ifCond}}{{#if error}}style="position: absolute; right: 0; left: 0; bottom: 0; width: 100%;"{{/if}}>
  <div class="row block text-center">
    <div class="content">
      <div class="col-5 col-m-5">
        <div class="right">
          <p>Proyecto promovido por:</p>
          <a href="https://www.projectpoder.org/es" target="_blank">
            <img src="../../../images/logo-poder.png" alt="Project PODER">
          </a>
        </div>
      </div>
      <div class="col-2 col-m-2">
        <p class="text-link"><a class="anchor-scroll" href="/aliados" style="font-size: 0.8rem">Ver todos los aliados</a></p>
      </div>
      <div class="col-5 col-m-5">
        <div class="left">
          <p>Con el apoyo de:</p>
          <a href="https://luminategroup.com" target="_blank">
            <img class="logofooter-pl" src="../../../images/luminate_logo.png" alt="Luminate">
          </a>
          <a href="https://www.hivos.org/" target="_blank">
            <img class="logofooter-ml" src="../../../images/hivoslogo-blanco.png" alt="Hivos">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>