<footer>
  <div class="container block text-center">
    <div class="row">
      <div class="col-12">
        <span>Proyecto promovido por</span>
        <a href="https://www.projectpoder.org/es" target="_blank">
          <img src="../../../images/logo-poder.png" class="logofooter-poder" alt="Project PODER">
        </a>
        <span>con el apoyo de</span>
        <a href="https://luminategroup.com" target="_blank">
          <img class="logofooter-pl" src="../../../images/luminate_logo.png" alt="Luminate">
        </a>
        <a href="https://www.hivos.org/" target="_blank">
          <img class="logofooter-ml" src="../../../images/hivoslogo-blanco.png" alt="Hivos">
        </a>
        <span>
          <a class="anchor-scroll" href="/aliados">y <u>aliados</u>.</a>
        </span>
      </div>
    </div>
    <div class="pageStats">
      {{pageStats}}
    </div>
  </div>
</footer>