<div class="col-12 col-m-12 bg-purple">
    <div class="gender-container row">
        {{!-- <div class="col-m-2 col-2"> --}}
            <img src="../images/mujeresenlabolsa-blanco.png" alt="Mujeres en la bolsa" class="img-fluid mujeres-logo-white">
        {{!-- </div> --}}
        {{!-- <div class="col-2 col-m-2"> --}}
            <div class="media text-white media-gender">
                <div class="media-left media-middle">
                    <i class="fas fa-venus"></i>
                </div>
                <div class="media-body">
                    <p class="js-data">153</p>
                    <p class="js-title-data">Consejeras</p>
                </div>
            </div>
        {{!-- </div>
        <div class="col-2 col-m-2"> --}}
            <div class="media text-white media-gender">
                <div class="media-left media-middle">
                    <i class="fas fa-mars"></i>
                </div>
                <div class="media-body">
                    <p class="js-data">153</p>
                    <p class="js-title-data">Consejeros</p>
                </div>
            </div>
        {{!-- </div> --}}
            <div class="media text-white media-gender">
                <div class="media-left media-middle">
                    <img src="" alt="">
                </div>
                <div class="media-body">
                    <p class="js-data">13%</p>
                    <p class="js-title-data">Mujeres consejeras</p>
                </div>
            </div>
            <div class="media text-white media-gender">
                <div class="media-left media-middle">
                    <img src="" alt="">
                </div>
                <div class="media-body">
                    <p class="js-data">10%</p>
                    <p class="js-title-data">Media del país (<a href="">México</a>)</p>
                </div>
            </div>
    </div>
    <div class="container-button">
                <a href="https://mujeresenlabolsa.org/" class="button-link stockexchange-out">VER MUJERESENLABOLSA.ORG</a>
            </div>
</div>