<div class="menu-bar">
  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</div>
<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="/contracts">Contratos</a></li>
      <li><a href="/persons">Personas</a></li>
      <li><a href="/empresas">Empresas</a></li>
      <li><a href="/instituciones">Instituciones</a></li>
      <li><a href="/sobre-qqw">Sobre QuiénesQuiénWiki</a></li>
    </ul>
  </nav>
</div>