<div class="menu-bar">
  <div class="navbar-header">
    <a href="/"><img class="logo-horizontal" src="../../../images/logo-h.png" alt="Logo QuiénEsQuién.wiki"></a>
  </div>
  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</div>
<div class="overlay" id="overlay">
{{#if home }}
{{else}}
    <form id="search-header" class="nav-form" role="search" method="get">
      {{> main_search }}
    </form>
{{/if}}
  <nav class="overlay-menu" {{#if home }}{{else}}style="top: 40%"{{/if}}>
    <ul>
      <li><a href="/contracts"><img class="icon-navbar" src="/images/icons/contrato.svg" alt="Contratos">Contratos</a></li>
      <li><a href="/persons"><img class="icon-navbar icon-navbar-persons" src="/images/icons/personas.svg" alt="Personas">Personas</a></li>
      <li><a href="/empresas"><img class="icon-navbar" src="/images/icons/empresa.png" alt="Empresas">Empresas</a></li>
      <li><a href="/instituciones"><img class="icon-navbar" src="/images/icons/institucion.svg" alt="instituciones">Instituciones</a></li>
      <hr>
      <li><a href="/sobre-qqw">Sobre QQW</a></li>
    </ul>
  </nav>
</div>