{{!-- <div class="menu-bar">
  <div class="navbar-header">
    <a href="/"><img class="logo-horizontal" src="../../../images/logo-h.png" alt="Logo QuiénEsQuién.wiki"></a>
  {{#if home }}
  {{else}}
      <form id="search-header" class="nav-form" role="search" method="get">
        {{> main_search }}
      </form>
  {{/if}}
  <nav class="overlay-menu">
    <ul>
      <li class="{{#ifCond templateName "==" "searcher" }}active{{/ifCond}}">
        <a href="/buscador" class="btn btn-primary mr-2"><i class="fas fa-file-alt"></i> Buscador</a>
      </li>
      <li class="{{#ifCond currentTemplate "==" "about" }}active{{/ifCond}}"><a href="/sobre-qqw" class="btn btn-primary">Sobre QQW</a></li>
    </ul>
  </nav>
  </div>
</div> --}}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-mainmenu">
  <a href="/" class="navbar-brand">
    <img class="img-fluid logo-horizontal" src="../../../images/logo-h.png" alt="QuiénEsQuién.wiki">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item {{#ifCond templateName "==" "searcher" }}active{{/ifCond}}">
        <a class="nav-link" href="/buscador"><i class="fas fa-search"></i></i> Buscador</a>
      </li>
      <li class="nav-item {{#ifCond currentTemplate "==" "about" }}active{{/ifCond}}">
        <a class="nav-link" href="/sobre-qqw"><i class="fas fa-info-circle"></i> Sobre QQW</a>
      </li>
    </ul>
  </div>
</nav>

{{#if general.notificacion}}
<div class="navbar bg-dark text-white fixed-top" style="margin-top: 50px;">
  {{{general.notificacion.[0].es}}}
</div>
{{/if}}
