<div class="autosuggest mr-1">
	<input class="easy-search-input header-search-inputtext" name="name" placeholder="{{_ "BUSCA POR EMPRESA, PERSONA O INSTITUCIÓN..." }}" type="text" aria-label="{{_ "Buscador" }}" data-autocomplete-parameters="?ids={{autocomplete_ids}}">
</div>
