<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Solicitar informaci贸n</h3>
      </div>
      <div class="modal-body flexbox-container-modal">
        <div class="column-50 column-left">
          <form class="sendinfo-form">
            <fieldset>
              <div class="form-group" data-required="true">
                <label for="name" class="control-label"><b>Nombre</b></label>
                <input type="text" name="name" id="name" maxlength="50" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="institution" class="control-label"><b>Instituci贸n</b></label>
                <input type="text" name="subject" id="institution" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group" data-required="true">
                <label for="email" class="control-label"><b>Correo electr贸nico</b></label>
                <input id="email" type="email" name="contact-email" class="form-control">
                <span class="help-block"></span>
              </div>
            </fieldset>
            <input id="uc_id_message" type="hidden" name="message" value="true">
            <div class="centered">
                <button id="send_info_uc" type="submit" class="btn contact-submit">Enviar</button>
            </div>
          </form>
          <div id="thanks-column" style="display: none;">
            <h4>Mensaje enviado</h4>
            <p>Muchas gracias, pronto le enviaremos la informaci贸n correspondiente.</p>
          </div>
        </div>
        <div class="column-50 column-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aspernatur provident praesentium perspiciatis cumque inventore deleniti dolorum voluptatum ipsam reprehenderit et aperiam ab corporis, veniam, corrupti, ipsa repellat adipisci nobis.</p>
        </div>
      </div>
    </div>
  </div>
</div> 