<div class="dataTables_paginate paging_simple_numbers" id="organization-index_paginate">
  <ul class="pagination">
    <li class="paginate_button previous disabled" id="organization-index_previous"><a href="#" aria-controls="organization-index" data-dt-idx="0" tabindex="0">Anterior</a></li>
    <li class="paginate_button active"><a href="#" aria-controls="organization-index">1</a></li>
    <li class="paginate_button "><a href="#" aria-controls="organization-index">2</a></li>
    <li class="paginate_button "><a href="#" aria-controls="organization-index">3</a></li>
    <li class="paginate_button "><a href="#" aria-controls="organization-index">4</a></li>
    <li class="paginate_button "><a href="#" aria-controls="organization-index">5</a></li>
    <li class="paginate_button disabled" id="organization-index_ellipsis"><a href="#" aria-controls="organization-index">…</a></li>
    <li class="paginate_button "><a href="#" aria-controls="organization-index">36479</a></li>
    <li class="paginate_button next" id="organization-index_next"><a href="#" aria-controls="organization-index" data-dt-idx="8" tabindex="0">Siguiente</a></li>
  </ul>
</div>