<section class="profile" id="sadico-banner">
  <div class="profile-content">
    <div class="row bg-sadico">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-bell"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "Nuevo especial de PODER"}}}</h4>
      </div>

      <div class="col-md-12 col-12">
        <p class="center text-uppercase mt-1 mb-0">
          
        </p>
        <div class="media">
          <div class="align-self-center sadico-logo">
            <img class=" img-fluid" src="/images/saluddineroycorrupcionpng.png"
              alt="Salud, dinero y corrupción">
          </div>
          <div class="media-body">
            <p class="banner-text">Sobreprecios, compras sin sentido y proveedores que acaparan las ventas son sólo algunas de las prácticas que encontramos analizando más de 2 millones de contratos del Instituto Mexicano del Seguro Social (IMSS) entre 2008 y 2019.</p>
            <p>En alianza con medios y periodistas del país, te contemos lo más jugoso de cómo compró el IMSS medicinas e insumos médicos a Nivel Central y en cada una de sus 32 representaciones.</p>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-sadico" href="https://saluddineroycorrupcion.mx">➡ Ver el especial</a>
        </div>
      </div>
    </div>
  </div>
</section>