<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue May 11 2021 04:07:22 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6042ad6400622642530c7712" data-wf-site="6042ad6400622643350c7711">
<head>
  <meta charset="utf-8">
  <base href="/salud2/">
  <title>Salud, dinero y corrupción</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  {{!-- SOCIAL MEDIA META --}}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://saluddineroycorrupcion.mx" />
  <meta property="og:site_name" content="Salud, dinero y corrupción" />
  <meta property="og:description"
    content="18.4 mil millones de pesos es lo que el IMSS ha pagado en sobrecosto en las compras realizadas entre los años 2008 y 2018, según cálculos de PODER, hechos a partir de precios promedio ponderados anuales." />
  <meta property="og:image"
    content="https://saluddineroycorrupcion.quienesquien.wiki/salud2/images/_ORIGINAL---PODER-MX---SALUD-DINERO-Y-CORRUPCION-1440x1080-FULL.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Salud, dinero y corrupción">
  <meta name="og:title" content="Salud, dinero y corrupción">
  <meta name="twitter:text:title" content="Salud, dinero y corrupción">
  <meta name="twitter:image"
    content="https://saluddineroycorrupcion.quienesquien.wiki/salud2/images/_ORIGINAL---PODER-MX---SALUD-DINERO-Y-CORRUPCION-1440x1080-FULL.jpg">

  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/salud-dinero-y-corrupcion.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <style>
	.text-right{
  text-align: right;
}
table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #ffffff;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

</style>
</head>
<body class="body">
  <section class="main-bg">
    <div class="main-container w-container">
      <p class="main-paragraph main-text">Tres cosas hay en la vida:</p><img src="images/saludddineroycorrupcion-shadow.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 720px) 93vw, 670px" srcset="images/saludddineroycorrupcion-shadow-p-500.png 500w, images/saludddineroycorrupcion-shadow.png 670w" alt="" class="main-cover-logo">
      <p class="main-paragraph">18.4 mil millones de pesos es lo que el IMSS ha pagado en sobrecosto en las compras realizadas entre los años 2008 y 2018, según cálculos de PODER, hechos a partir de precios promedio ponderados anuales. La Cuarta Transformación ha dejado de publicar los detalles de las compras, mientras que en los dos últimos años y medio, organizaciones de pacientes y familiares denuncian desabasto de medicamentos vitales.</p>
      <div class="main-buttons">
        <a href="https://tinyurl.com/informetransparencia" target="_blank" class="btn-primary mg-1 w-button">Informe de CeroDesabasto</a>
        <a href="https://saluddineroycorrupcion.quienesquien.wiki/es/salud-estados" target="_blank" class="btn-primary mg-1 w-button">Compras por estado</a>
        <a href="https://www.quienesquien.wiki/es/buscador?collection=contracts&amp;name=&amp;tipo-entidad=purchase&amp;pais=&amp;estado=&amp;ciudad=&amp;fuente=&amp;size=&amp;sort-all=" target="_blank" class="btn-primary mg-1 w-button">Buscador de compras</a>
        <a href="/es/salud#sobrecosto" class="btn-primary mg-1 w-button">Cálculo del sobrecosto</a>
      </div>
      <a href="/es/salud#introduccion" class="w-inline-block"><img src="images/chevron-down-solid.svg" loading="lazy" alt="" class="arrow-down"></a>
    </div>
  </section>
  <section id="introduccion" class="section">
    <div class="w-container">
      <div class="intro-date">Ciudad de México, 11 de mayo de 2021</div>
      <p><span class="comilla">&quot;</span><span class="main-letter">T</span>oda persona tiene derecho a la protección de la salud”, dice el <a href="http://www.diputados.gob.mx/servicios/datorele/cmprtvs/iniciativas/Inic/136/2.htm" target="_blank">Artículo 4° de la Constitución Mexicana</a>. Pero con más de 200,000 muertos por coronavirus, filas interminables en los hospitales públicos y una dependencia inmensa en la salud privada, falta mucho recorrido para que en México el derecho a la salud, y en consecuencia a la vida, sea un derecho universal.<br></p>
      <p>El Instituto Mexicano del Seguro Social (IMSS), la institución de salud pública más grande de América Latina, es la punta de lanza de un sistema que no funciona. En un ejercicio de transparencia tan importante como poco publicitado, el IMSS publicó el detalle de dos millones de compras de medicamentos e insumos médicos en el <a href="http://compras.imss.gob.mx/" target="_blank">Portal Compras IMSS</a> en el periodo 2008-2018.<br></p>
      <p>El análisis de estos datos, realizado por <a href="https://poderlatam.org/" target="_blank">PODER</a> y sus aliados, muestra un sistema cooptado por las grandes distribuidoras y laboratorios farmacéuticos, que genera ineficiencias en la atención de los pacientes, no respeta el derecho a la salud de las y los mexicanas, y que pagó, en un cálculo conservador, un sobrecosto de 18,442,648,397.09 de pesos.<br></p>
      <div class="intro-data-container">
        <h3 class="text-center">¿A qué equivalen <strong>18.4</strong> mil millones de pesos?</h3>
        <div class="w-layout-grid grid intro-data">
          <div id="w-node-_7fbd09b3-f2eb-14ab-db96-bd10b77a9e68-530c7712" class="intro-data-number">
            <div class="number">54</div><img src="images/ballot-box-with-ballot_1f5f3-fe0f.png" loading="lazy" alt="" class="intro-data-image">
          </div>
          <div id="w-node-_10c5b518-6bd4-e470-ae54-0dcdd0861cdb-530c7712" class="intro-data-number">
            <div class="number">15</div><img src="images/airplane-departure_1f6eb.png" loading="lazy" alt="" class="intro-data-image">
          </div>
          <div id="w-node-ce4c8733-8852-4384-1d73-8f4ad50e3f65-530c7712" class="intro-data-number">
            <div class="number">490</div><img src="images/beer.png" loading="lazy" alt="" class="intro-data-image">
          </div>
          <div id="w-node-d3d67b00-1a4e-8e21-7a6e-7b8bcf9505ce-530c7712" class="intro-data-text">CAMPAÑAS DE ELECCIÓN PRESIDENCIAL</div>
          <div id="w-node-_27db27d3-81d4-e9a3-fd75-214b461762b5-530c7712" class="intro-data-text">TORRES DE CONTROL DEL EXTINTO NAICM</div>
          <div id="w-node-f1730b84-87f6-f53b-1aec-1b22f1fc2406-530c7712" class="intro-data-text">MILLONES DE CAGUAMAS</div>
          <div id="w-node-ccfb85a4-7916-ffbf-cb14-aa2dc30d8a95-530c7712" class="line"></div>
          <div id="w-node-bf23f67c-789c-3207-5610-ab46165c21d2-530c7712" class="line"></div>
          <div id="w-node-_0f794504-bdf9-5583-3532-89b41412fb02-530c7712" class="line"></div>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://www.quienesquien.wiki/es/buscador?collection=contracts&amp;name=&amp;tipo-entidad=purchase&amp;pais=&amp;estado=&amp;ciudad=&amp;fuente=&amp;size=&amp;sort-all=" target="_blank" class="btn-secondary margin w-button">Buscador de compras</a>
        <a href="https://saluddineroycorrupcion.quienesquien.wiki/es/salud-estados" target="_blank" class="btn-secondary margin w-button">Ver cálculo de estados</a>
      </div>
    </div>
  </section>
  <section id="investigaciones" class="bg-gray">
    <div class="container w-container">
      <div class="card-block">
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-1">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://poderlatam.org/2021/05/el-imss-de-amlo-niega-medicamentos-y-deja-de-reportar-compras/" target="_blank" class="news-link w-inline-block">
              <h3 class="news-title">El IMSS de AMLO niega medicamento a derechohabiente</h3>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">Por Claudia Ocaranza | PODER<br>ILUSTRACIÓN: DANI SCHARF</div>
            </div>
            <p class="news-text">El IMSS bajo la administración de AMLO ha dejado de publicar los detalles de sus compras en el Portal Compras IMSS, además los procesos internos del instituto, la pandemia y el desabasto generalizado, ha dificultado el acceso a medicamentos para pacientes. Esta es la historia de una de esas pacientes, diagnosticada con autismo de alto funcionamiento y Trastorno por Déficit de Atención e Hiperactividad, y que ha tenido negativas por parte del IMSS para proveerle el medicamento que necesita.</p>
            <div class="btn-news-container">
              <a href="https://poderlatam.org/2021/05/el-imss-de-amlo-niega-medicamentos-y-deja-de-reportar-compras/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-2">
              <div class="news-tag opinion">
                <h6>Opinión editorial</h6>
              </div>
            </div>
            <a href="https://www.washingtonpost.com/es/post-opinion/2021/05/10/desbasto-medicamentos-mexico-investigacion-imss-opacidad/" target="_blank" class="news-link w-inline-block">
              <h3 class="news-title">Desabasto de medicamentos en México: entre compras con sobrecosto millonario y opacidad</h3>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">POR Eduard Martín-Borregón | PODER</div>
            </div>
            <p class="news-text">La decisión gubernamental de frenar las compras al “monopolio de medicamentos” del Presidente Andrés Manuel López Obrador parece acertada. Sin embargo, las acciones que el presidente ha tomado desde entonces para mejorar el acceso a la salud de toda la ciudadanía no parecen ser las más adecuadas. El desabasto de medicamentos continúa y la falta de transparencia de esta administración es preocupante. Hay que comprar de forma más eficiente y transparente.</p>
            <div class="btn-news-container">
              <a href="https://www.washingtonpost.com/es/post-opinion/2021/05/10/desbasto-medicamentos-mexico-investigacion-imss-opacidad/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://poderlatam.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;amp;id=182bfd36c0" target="_blank" class="btn-secondary w-button">Suscríbete al Boletín de Periodismo</a>
      </div>
    </div>
  </section>
  <section id="desabasto-medicamentos" class="section">
    <div class="w-container">
      <h2>Desabasto de medicamentos</h2>
      <p><span class="main-letter">L</span>a falta de acceso a medicamentos e insumos médicos perjudica seriamente la salud, la tranquilidad y la economía de pacientes y familiares. Es especialmente problemático en el caso de enfermedades crónico-degenerativas. Las patentes y privatización de fórmulas médicas encarecen los costos y empeoran la situación.<br></p>
      <p>En México el Colectivo Cero Desabasto ha recopilado más de 4,200 reportes de escasez en los dos últimos años. Son los únicos disponibles del país, ya que la Encuesta Nacional de Satisfacción de Usuarios de Servicios Médicos del IMSS (<a href="http://datos.imss.gob.mx/group/encuesta-nacional-de-satisfaccion-de-usuarios-de-servicios-medicos-del-imss-ensat" target="_blank">ENSat</a>) únicamente hace mención a porcentajes de abastecimiento general. A puerta cerrada funcionarias y funcionarios públicos reconocen que usan los datos del colectivo para detectar y remediar situaciones de desabasto.<br></p>
      <div class="btn-container desabasto">
        <a href="https://tinyurl.com/informetransparencia" target="_blank" class="btn-primary link w-inline-block"><img src="images/cerodesabasto.png" loading="lazy" alt="" class="btn-icon">
          <div class="btn-text">Mapeo del desabasto de medicamentos en México</div>
        </a>
      </div>
      <p>Como problema de salud pública, el desbasto es el que tiene una solución más simple: comprar más medicamentos. El problema no es de dinero en México, pues con un presupuesto de compras orientado a la eficiencia de la garantía de cumplimento del derecho a la salud se podría ampliar la cobertura de atención, como se muestra en estos tres casos paradigmáticos.<br></p>
      <div class="medicine-container">
        <div class="medicine-title"><img src="images/prescription-bottle-alt-solid-1.svg" loading="lazy" alt="" class="medicine-icon">
          <h3 class="heading-2">Emtricitabina y tenofovir</h3>
        </div>
        <p><em class="italic-text">La combinación, Truvada de nombre comercial, se usa junto con otros medicamentos para tratar el VIH en adultos y niños que pesan al menos 37 libras (17 kg)</em>.</p>
        <div class="w-layout-grid grid medicine-data">
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a5c-530c7712" class="intro-data-number">
            <div class="number medicine">1,181,791.84</div>
          </div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a60-530c7712" class="intro-data-number">
            <div class="number medicine">536</div>
          </div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a64-530c7712" class="intro-data-number">
            <div class="number medicine">301</div>
          </div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a68-530c7712" class="intro-data-text medicine">SOBRECOSTO 2008-18</div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a6a-530c7712" class="intro-data-text medicine">Cantidad de medicinas pErdidas por sobrecosto</div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a6c-530c7712" class="intro-data-text medicine">Reportes de desabasto en medicinas relacionadas con el VIH entre 2019 y 2021</div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a6e-530c7712" class="line"></div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a6f-530c7712" class="line"></div>
          <div id="w-node-_35864b13-857d-78b2-5129-3485f0209a70-530c7712" class="line"></div>
        </div>
        <div class="graph-container"><img src="images/VIH_emtricitabina.svg" loading="lazy" alt="" class="medicine-graph"></div>
        <div class="btn-container">
          <a href="https://www.quienesquien.wiki/es/productos/010.000.4396.01?collection=products&amp;name=tenofovir&amp;tipo-entidad=Medicinas+y+vacunas&amp;producto-indicacion=&amp;fuente=&amp;size=&amp;sort-pr=purchase_amount.product" target="_blank" class="btn-secondary w-button">Ver detalle en QuiénEsQuién.Wiki</a>
        </div>
      </div>
      <div class="medicine-container">
        <div class="medicine-title"><img src="images/prescription-bottle-alt-solid-1.svg" loading="lazy" alt="" class="medicine-icon">
          <h3 class="heading-2">Metformina</h3>
        </div>
        <p><em class="italic-text">Se utiliza sola o con otros medicamentos, incluyendo insulina, para tratar diabetes tipo 2.</em></p>
        <div class="w-layout-grid grid medicine-data">
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a18163036b-530c7712" class="intro-data-number">
            <div class="number medicine">52,016,083.08</div>
          </div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a18163036e-530c7712" class="intro-data-number">
            <div class="number medicine">9.5 millones</div>
          </div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a181630371-530c7712" class="intro-data-number">
            <div class="number medicine">636</div>
          </div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a181630374-530c7712" class="intro-data-text medicine">SOBRECOSTO 2008-18</div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a181630376-530c7712" class="intro-data-text medicine">Cantidad de medicinas pErdidas por sobrecosto</div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a181630378-530c7712" class="intro-data-text medicine">Reportes de desabasto en medicinas relacionadas con diabetes entre 2019 y 2021</div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a18163037a-530c7712" class="line"></div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a18163037b-530c7712" class="line"></div>
          <div id="w-node-_3067589f-39e7-7ceb-0561-43a18163037c-530c7712" class="line"></div>
        </div>
        <div class="graph-container"><img src="images/Diabetes_grafica.svg" loading="lazy" alt="" class="medicine-graph"></div>
        <div class="btn-container">
          <a href="https://www.quienesquien.wiki/es/productos/010.000.5165.00?collection=products&amp;name=Metformina&amp;tipo-entidad=Medicinas+y+vacunas&amp;producto-indicacion=&amp;fuente=&amp;size=&amp;sort-pr=purchase_amount.product" target="_blank" class="btn-secondary w-button">Ver detalle en QuiénEsQuién.Wiki</a>
        </div>
      </div>
      <div class="medicine-container">
        <div class="medicine-title"><img src="images/prescription-bottle-alt-solid-1.svg" loading="lazy" alt="" class="medicine-icon">
          <h3 class="heading-2">Losartan</h3>
        </div>
        <p><em class="italic-text">Se usa solo o en combinación con otros medicamentos para tratar la presión arterial alta.</em></p>
        <div class="w-layout-grid grid medicine-data">
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5b3-530c7712" class="intro-data-number">
            <div class="number medicine">43,873,210.15</div>
          </div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5b6-530c7712" class="intro-data-number">
            <div class="number medicine">6.6 millones</div>
          </div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5b9-530c7712" class="intro-data-number">
            <div class="number medicine">358</div>
          </div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5bc-530c7712" class="intro-data-text medicine">SOBRECOSTO 2008-18</div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5be-530c7712" class="intro-data-text medicine">Cantidad de medicinas pErdidas por sobrecosto</div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5c0-530c7712" class="intro-data-text medicine">Reportes de desabasto en medicinas relacionadas con la hipertensión entre 2019 y 2021</div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5c2-530c7712" class="line"></div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5c3-530c7712" class="line"></div>
          <div id="w-node-_83a32328-3bf5-f867-8c02-d007e720c5c4-530c7712" class="line"></div>
        </div>
        <div class="graph-container"><img src="images/Hipertension_grafica.svg" loading="lazy" alt="" class="medicine-graph"></div>
        <div class="btn-container">
          <a href="https://www.quienesquien.wiki/es/productos/010.000.2520.00?collection=products&amp;name=&amp;tipo-entidad=Medicinas+y+vacunas&amp;producto-indicacion=&amp;fuente=&amp;size=&amp;sort-pr=purchase_count.product" target="_blank" class="btn-secondary w-button">Ver detalle en QuiénEsQuién.Wiki</a>
        </div>
      </div>
    </div>
  </section>
  <section id="investigaciones" class="bg-gray">
    <div class="container w-container">
      <div class="card-block">
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-3">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://poderlatam.org/2021/05/fracasan-compras-consolidadas-para-arv/" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title">Fracasan compras consolidadas para ARV</h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">Por Ricardo Balderas con información de Eduard Martín-Borregón | PODER<br>ILUSTRACIÓN: DANI SCHARF</div>
            </div>
            <p class="news-text">Durante los sexenios de Felipe Calderón Hinojosa, del Partido Acción Nacional y Enrique Peña Nieto, del Partido Revolucionario Institucional, los costos de los medicamentos, incluidos los Antirretrovirales (ARV), indispensables para el tratamiento del Virus Inmunodeficiencia Humana (VIH), quedaban en manos de la Comisión Coordinadora para la Negociación de Precios de Medicamentos e Insumos para la Salud. Estas operaciones se realizaban a puerta cerrada directamente con las distribuidoras y farmacéuticas. Con la llegada de Andrés Manuel López Obrador, del partido Morena, la situación continua con la misma opacidad, y el desabasto de tratamiento ARV encabeza las listas de medicamento faltante.</p>
            <div class="btn-news-container">
              <a href="https://poderlatam.org/2021/05/fracasan-compras-consolidadas-para-arv/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-4">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://binoticias.com/nota.cfm?id=112973" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title"><strong>Del sobreprecio al desabasto. Los niños en busca de las quimios</strong></h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">POR Dulce Rodríguez | BI Noticias</div>
            </div>
            <p class="news-text">En México, del 2008 a 2018, el IMSS ha realizado al menos 4,737 compras enfocadas a medicamentos para tratar la leucemia. En este rubro, los sobrecostos con los que se han adquirido estos tratamientos han sido millonarios.  Únicamente en la compra de tratamientos para este tipo de cáncer, 27,868,767.89 pesos corresponden a sobrecosto. Actualmente el desabasto de medicamentos oncológicos reportado por las familias, en varios estados, como Aguascalientes, persiste.</p>
            <div class="btn-news-container">
              <a href="https://binoticias.com/nota.cfm?id=112973" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://poderlatam.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;amp;id=182bfd36c0" target="_blank" class="btn-secondary w-button">Suscríbete al Boletín de Periodismo</a>
      </div>
    </div>
  </section>
  <section id="sobrecosto" class="section">
    <div class="w-container">
      <h2>¿Cómo calculamos el sobrecosto?</h2>
      <p><span class="main-letter">L</span>a cifra de 18,442,648,397.09 pesos de sobrecosto, así como de los medicamentos comprados y empresas beneficiadas, se obtiene restando el precio de referencia al precio unitario de la compra reportado en el Portal Compras IMSS.<br></p>
      <p>El precio de referencia se calcula haciendo un promedio ponderado de todos los precios de una misma clave del IMSS en un mismo año. Esta fórmula tiene en cuenta las fluctuaciones de precio anual, se adapta a situaciones de escasez y permite calcular el sobreprecio de las más de 24 mil claves distintas que el IMSS ha comprado a lo largo del periodo analizado. El defecto de la fórmula es que en caso de que todas las compras tuvieran sobreprecio, el precio de referencia se dispara hacia arriba y esconde el sobrecosto.<br></p>
      <p>Comparando los precios de referencia calculados para este proyecto con los de la Organización Panamericana de la Salud (OPS) se observa un incremento promedio de casi 800% en el precio de referencia de 15 claves de medicamentos antirretrovirales. Es decir, si este patrón se replicara en todas las claves del IMSS, el sobrecosto sería de 147 mil millones de pesos.</p>
      <div class="btn-container">
        <a href="/es/salud#metodologia" class="btn-primary w-button">Si quieres conocer más, ve a la Metodología</a>
      </div>
      <div class="medicine-container">
        <div class="medicine-title">
          <div class="sobrecosto-table table-responsive w-embed">
            <table class="table">
              <thead>
                <tr>
                  <th>Clave IMSS</th>
                  <th>Medicamento</th>
                  <th>Precio de referencia OPS*</th>
                  <th>Precio ponderando del IMSS</th>
                  <th>Incremento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-right">1000042730000</td>
                  <td>Abacavir 300 mg</td>
                  <td class="text-right">113.50</td>
                  <td class="text-right">542.89</td>
                  <td class="text-right">378.30%</td>
                </tr>
                <tr>
                  <td class="text-right">1000043710000</td>
                  <td>Abacavir + Lamivudina 600 + 300 mg/tab</td>
                  <td class="text-right">221.28</td>
                  <td class="text-right">1250.68</td>
                  <td class="text-right">465.31%</td>
                </tr>
                <tr>
                  <td class="text-right">1000042660000</td>
                  <td>Atazanavir (sulfato) 300 mg</td>
                  <td class="text-right">408.81</td>
                  <td class="text-right">2641.32</td>
                  <td class="text-right">546.10%</td>
                </tr>
                <tr>
                  <td class="text-right">1000042890000</td>
                  <td>Darunavir 600 mg</td>
                  <td class="text-right">1442.85</td>
                  <td class="text-right">4513.09</td>
                  <td class="text-right">212.79%</td>
                </tr>
                <tr>
                  <td class="text-right">1000043700000</td>
                  <td>Efavirenz 600 mg</td>
                  <td class="text-right">72.14</td>
                  <td class="text-right">219.98</td>
                  <td class="text-right">204.92%</td>
                </tr>
                <tr>
                  <td class="text-right">1000043960000</td>
                  <td>Emtricitabina+Tenofovir 300 + 200 mg</td>
                  <td class="text-right">114.27</td>
                  <td class="text-right">2060.88</td>
                  <td class="text-right">1703.45%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052750000</td>
                  <td>Etravirina 100 mg</td>
                  <td class="text-right">865.71</td>
                  <td class="text-right">5429.27</td>
                  <td class="text-right">527.15%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052820100</td>
                  <td>Lamivudina 150 mg</td>
                  <td class="text-right">52.90</td>
                  <td class="text-right">441.09</td>
                  <td class="text-right">733.74%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052880000</td>
                  <td>Lopinavir + Ritonavir 200 mg + 50 mg</td>
                  <td class="text-right">505.00</td>
                  <td class="text-right">2052.02</td>
                  <td class="text-right">306.34%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052960000</td>
                  <td>Nevirapina 200 mg</td>
                  <td class="text-right">52.90</td>
                  <td class="text-right">376.56</td>
                  <td class="text-right">611.77%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052800000</td>
                  <td>Raltegravir (potásico) 400 mg</td>
                  <td class="text-right">1334.73</td>
                  <td class="text-right">3610.0</td>
                  <td class="text-right">170.47%</td>
                </tr>
                <tr>
                  <td class="text-right">1000052810100</td>
                  <td>Ritonavir 100 mg</td>
                  <td class="text-right">180.45</td>
                  <td class="text-right">347.96</td>
                  <td class="text-right">92.83%</td>
                </tr>
                <tr>
                  <td class="text-right">1000042770000</td>
                  <td>Tenofovir disoproxil fumarate 300 mg/tab</td>
                  <td class="text-right">57.71</td>
                  <td class="text-right">2000.12</td>
                  <td class="text-right">3365.57%</td>
                </tr>
                <tr>
                  <td class="text-right">1000042680000</td>
                  <td>Zidovudina + Lamivudina 300 mg + 150 mg</td>
                  <td class="text-right">45.79</td>
                  <td class="text-right">894.00</td>
                  <td class="text-right">1852.52%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="delegaciones-estatales-imss" class="section bg-yellow">
    <div class="w-container">
      <h2>Delegaciones estatales del IMSS</h2>
      <p><span class="main-letter">E</span>l 68.65% del sobrecosto del IMSS, 12.6 mil millones de pesos, proviene de compras realizadas por alguna de las 49 delegaciones u hospitales con capacidad de compra que están repartidos en los 32 estados de la República. Pero la capacidad de gasto de estas delegaciones es muy pequeña. Sólo Oficinas Centrales controla un 69.77% del gasto y el resto de las 49 delegaciones u hospitales el otro 30.23%.<br></p>
      <p>Este fenómeno se puede explicar tanto porque la capacidad de adquisición de las Oficinas Centrales en las compras consolidadas le permite bajar el precio al que compra, como porque las delegaciones se quedan sin medicinas y recurren a compras de emergencia, que tienen menos controles.<br></p>
      <div class="graph-container state"><img src="images/mapahexbin1.svg" loading="lazy" alt=""></div>
      <div class="btn-container states">
        <a href="https://saluddineroycorrupcion.quienesquien.wiki/es/salud-estados" target="_blank" class="btn-secondary w-button">Ver Tablero de datos para investigar estados</a>
        <div class="line states"></div>
      </div>
      <div class="card-block">
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-5">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://www.zonadocs.mx/2021/05/10/que-medicina-va-a-llevar-adquirir-en-la-calle-el-medicamento-que-el-imss-compra-a-sobrecosto/" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title">“¿Qué medicina va a llevar?”: Adquirir en la calle, el medicamento que el IMSS compra a sobrecosto</h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">Por Darwin Franco | ZonaDocs<br></div>
            </div>
            <p class="news-text">El desabasto en la Delegación del IMSS Jalisco ha dejado sinmedicamentos a personas que padecen cáncer, VIH o hemofilia; sinembargo, en la revisión de sus registros varios de estosmedicamentos sí han sido adquiridos a sobrecosto. Aún así, noestán llegando a quienes los necesitan, lo cual orilla a lospacientes a comprarlos en uno de los mercados ilegales demedicamentos más importantes del país: El Santuario.</p>
            <div class="btn-news-container">
              <a href="https://www.zonadocs.mx/2021/05/10/que-medicina-va-a-llevar-adquirir-en-la-calle-el-medicamento-que-el-imss-compra-a-sobrecosto/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-6">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://serendipia.digital/datos-y-mas/sobrecosto-en-compras-de-imss-puebla/" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title">IMSS Puebla adjudicó compras con más de 1000% de sobrecosto; los picos, con Fraile y Doger</h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">POR Erika Lilian Contreras (Serendipia) </div>
            </div>
            <p class="news-text">Entre 2008 y 2018, el IMSS Puebla adjudicó contratos con sobrecostos de hasta 194,000%. Los picos más altos están en los periodos del panista Francisco Fraile y el priista Enrique Doger como delegados del IMSS en esa entidad.</p>
            <div class="btn-news-container">
              <a href="https://serendipia.digital/datos-y-mas/sobrecosto-en-compras-de-imss-puebla/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://poderlatam.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;amp;id=182bfd36c0" target="_blank" class="btn-secondary w-button">Suscríbete al Boletín de Periodismo</a>
      </div>
    </div>
  </section>
  <section id="empresas-beneficiadas" class="section">
    <div class="w-container">
      <h2>Las empresas beneficiadas</h2>
      <div class="medicine-container companies">
        <p class="white--text margin"><span class="main-letter">27,886</span> es el número de proveedores que vendieron al IMSS entre 2008 y 2018, pero sólo el 10% de ellos recibieron el 95% del gasto en las compras del instituto. La concentración de venta a las empresas más grandes es significativa. Aunque el sobrecosto perjudica a la ciudadanía, puede ser un negocio muy rentable para algunas empresas y personas proveedoras del IMSS.<br></p><img src="images/Deciles_IMSS5.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 84vw, (max-width: 991px) 648px, 860px" srcset="images/Deciles_IMSS5.png 500w, images/Deciles_IMSS5.png 800w, images/Deciles_IMSS5.png 1080w, images/Deciles_IMSS5.png 1345w" alt="" class="graph-gini">
      </div>
      <div class="medicine-container companies">
        <p class="white--text margin"><span class="main-letter">D</span>entro de la élite también hay diferencias. Entre 2008 y 2018, un 1% de los proveedores, 278, recibió el 78.2% del monto contratado, mientras que sólo 10 empresas acapararon el 15.53% del sobrecosto total, como se muestra en la tabla 1.<br></p>
        <p class="white--text margin">Es decir, esas 10 empresas fueron contratadas por un total de $39,655,890,009.93 pesos, de los cuales, $2,864,260,473.09 pesos fueron sobrecosto. En la tabla 2, se puede ver la evolución del sobrecosto para estas 10 empresas en los años analizados.<br></p>
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="btn-secondary tabs w-inline-block w-tab-link w--current">
              <div>Tabla 1 - 10 empresas con 15.53% del sobrecosto (2008-2018)</div>
            </a>
            <a data-w-tab="Tab 2" class="btn-secondary tabs w-inline-block w-tab-link">
              <div>Tabla 2 - Año por año de los 10 proveedores con más sobrecosto</div>
            </a>
          </div>
          <div class="tabs-content w-tab-content">
            <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active"><img src="images/Tabla1_2.svg" loading="lazy" alt="" class="suppliers-graph1"></div>
            <div data-w-tab="Tab 2" class="tab-pane-tab-2 w-tab-pane"><img src="images/gganim2.gif" loading="lazy" alt="" class="suppliers-graph2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="investigaciones" class="bg-gray">
    <div class="container w-container">
      <div class="card-block">
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://poderlatam.org/2021/03/10-anos-de-sobreprecio-en-medicinas-para-cancer-de-mama/" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title">10 años de sobreprecio en medicinas para cáncer de mama</h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">Por Claudia Ocaranza, Queletzú Aspra y Ricardo Balderas | PODER<br>ILUSTRACIÓN: DANI SCHARF</div>
            </div>
            <p class="news-text">El cáncer de mama en México, cobra casi la misma cantidad de víctimas que la violencia feminicida. Diez mujeres mueren cada día a causa de este padecimiento, y a pesar de que la crisis del cáncer va en aumento, las autoridades del Instituto Mexicano del Seguro Social (IMSS) sólo invierten 36 de cada 1000 pesos para adquirir el tratamiento que salvaría miles de vidas, principalmente de mujeres, según la información correspondiente al periodo de 2008 a 2018.</p>
            <div class="btn-news-container">
              <a href="https://poderlatam.org/2021/03/10-anos-de-sobreprecio-en-medicinas-para-cancer-de-mama/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="news-bg">
            <div class="news-img img-7">
              <div class="news-tag">
                <h6>Reportaje</h6>
              </div>
            </div>
            <a href="https://newsweekespanol.com/2021/05/imss-bc-pago-95-mdp-de-sobreprecio-en-medicinas/" target="_blank" class="news-link w-inline-block">
              <h2 class="news-title">IMSS BC pagó 95 mdp de sobreprecio en medicinas</h2>
            </a>
            <div class="news-info">
              <div class="info-line"></div>
              <div class="text-block">POR Elizabeth Rosales | Newsweek Baja California</div>
            </div>
            <p class="news-text">Empresas de reciente creación o de giros que no corresponden al sector salud vendieron medicamentos con sobreprecio al IMSS, delegación Baja California, entre 2008 y 2018. Especialistas ven señales de alarma que podrían indicar corrupción y problemas de gestión de recursos.</p>
            <div class="btn-news-container">
              <a href="https://newsweekespanol.com/2021/05/imss-bc-pago-95-mdp-de-sobreprecio-en-medicinas/" target="_blank" class="btn-primary w-button">Leer la nota completa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://poderlatam.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;amp;id=182bfd36c0" target="_blank" class="btn-secondary w-button">Suscríbete al Boletín de Periodismo</a>
      </div>
    </div>
  </section>
  <section id="metodologia" class="section">
    <div class="w-container">
      <h2>Metodología</h2>
      <p><span class="main-letter">E</span>l proyecto “Salud, Dinero y Corrupción” se basa en el trabajo de mapeo de compras y análisis de sobrecosto, en especial las dos ediciones del proyecto <a href="https://vivirconvih.org/" target="_blank">VivirConVIH.org</a> y la metodología que desarrolló Daniel de León para la <em>International Treatment Preparedness Coalition Latin America and Caribbean</em> (ITPC LATCA). Así mismo fueron de gran inspiración las discusiones y reflexiones para el especial “<a href="https://www.redpalta.org/compras-pandemia/" target="_blank">Las Compras de la Pandemia</a>” de la Red de Periodistas de América Latina para la Transparencia y la Anticorrupción (Red PALTA).<br></p>
      <h3>Obtención de datos</h3>
      <p>Todos los datos para este proyecto se consiguieron a través de un proceso de <em>web scraping</em> del Portal <a href="http://compras.imss.gob.mx/" target="_blank">Compras IMSS</a> que según la propia web “tiene el objetivo de acercar y hacer accesible para ti, información sobre Transparencia y Rendición de Cuentas en los procesos de adquisiciones en el IMSS, así como facilitar la competitividad entre proveedores.”</p>
      <p>El portal tiene datos desde 1999 hasta finales de 2021, pero el periodo donde el volumen es significativo para hacer un análisis es entre 2008 y 2018. Dentro de cada compra se encuentran campos que permiten identificar el producto en concreto, la cantidad comprada y el precio unitario, así como identificadores de los proveedores/as, las unidades compradoras y campos técnicos de contratación.</p>
      <p>Según el IMSS, “el Portal de Compras se encuentra en proceso de mantenimiento, actualización y reestructura”, de acuerdo a lo que contestó el 5 de marzo de 2021 a una petición de información de PODER sobre la no actualización del portal. En la misma respuesta aclaró que ahora las compras se reportan en Compranet, que no tiene tanto detalle como Compras IMSS y mucha información está en PDF escaneados.</p>
      <h3>Calidad de datos</h3>
      <p>El conjunto de datos del Portal Compras IMSS tiene un primer reto importante: la falta de documentación. No se explica la aparición o desaparición de algunos campos, la estandarización de las respuestas o directamente el significado de los mismos. Algunas de las decisiones tomadas para este trabajo fueron:</p>
      <ul role="list">
        <li>Cantidad comprada: En prácticamente todas las compras aparece el campo “cantidad solicitada” y en algunos casos aparece el campo “cantidad recibida”. Para el análisis se usó la cantidad recibida siempre que estaba disponible, en su falta se optó por el campo “Cantidad solicitada”.</li>
        <li>Clave del producto: Se excluyeron los valores 9999999999 y 0000000000 dado que estas claves no están asociadas a ningún producto y se usan para registrar productos que no están en el Cuadro Básico de Medicamentos e Insumos (CBMEI) o compras emergentes sin catalogar. En total estas claves representan 101,433 compras por un monto de 233,680,682.34 pesos.</li>
        <li>Producto y Descripción: Ninguno de los campos está estandarizado, por lo que existe una multiplicidad de nombres considerable. Para unificarlos se optó en primera instancia por asociarlo al nombre que aparece en el CBMEI y en su falta por el nombre más habitual con sentido asociado a la clave.</li>
        <li>IVA: El campo del Impuesto del Valor Añadido es inconsistente, contiene habitualmente valores como 10%, 11%, 15% y 16% pero otras veces tiene cifras sin demasiado sentido como 85% y 101%. Cuando el contrato tiene campo IVA se contempla en el cálculo de sobrecosto.</li>
        <li>Procedimiento, Contrato, Pedido, Orden de Compra y Factura: A partir de estos campos y añadiendo variables como fecha, proveedor y monto, se ha intentado hacer coincidir los registros del Portal Compras IMSS con las correspondientes en Compranet. Si bien se encontraron algunas coincidencias, no se encontró un patrón o lógica de unión en una cantidad significativa de casos, por lo que se optó por mantener los conjuntos de datos separados.</li>
        <li>Unidades Compradoras y Delegaciones: Las compras están asociadas a un estado, una delegación u hospital, y en la mayoría de los casos una unidad compradora. Los nombres en el portal no coinciden con los nombres de las unidades compradoras que reportan en Compranet, y como consecuencia de la decisión de no unificar los conjuntos de datos se decidió nuevamente no intentar unificar estas delegaciones y unidades compradoras con las de Compranet, creando en QuiénEsQuíen.Wiki nuevas entidades asociadas a las compras del <em>dataset</em>.</li>
      </ul>
      <p>Hemos detectado en el Portal Compras IMSS errores de inserción, como sucede en otros portales de compras de México y en general en cualquier sistema de integración de datos hecho por humanos. Estos casos no tienen un impacto significativo en las cifras del trabajo y recomendamos a quien quiera reportar casos con porcentaje de sobrecosto extremadamente alto que se pongan en contacto con el proveedor o la delegación para verificar y evitar tomar como ciertos casos como el que se reporta a continuación:</p>
      <div class="error-imss">
        <p><em>La delegación en Chihuahua del IMSS publica en el Portal Compras IMSS que el 09 de mayo de 2014 adquirió un tríptico tamaño carta en impresión a color por 53,244 pesos. La clave de producto fue registrada con el número: 37007210240001. El procedimiento de contratación fue Adjudicación Directa y el proveedor César Adrián Olivas Alarcón, un empresario de la región que hace algunos años cerró su empresa.</em><br></p>
        <p><em>Pese a que esta información quedó registrada como “oficial”, PODER se entrevistó con el proveedor quien aún vive en dicho estado y explicó lo siguiente: “Eso fue cuando tenía mi negocio de publicidad. Ahora ya cerró. Y no, ese no es el costo de un tríptico, lo que se vendió fue un millar, lo que seguramente ocurrió fue un error de captura”. Es decir, el Portal de Compras IMSS reportó información errónea debido a una mala captura. Siete años después, nadie ha resarcido el acto que podría incurrir en consecuencias para el empresario.</em><br></p>
      </div>
      <p>Al respecto de modificaciones y/o eliminación de datos, informamos que los datos en posesión de PODER, así como aquellos que aparecen en las publicaciones QuiénEsQuién.Wiki o Salud, Dinero y Corrupción, han sido obtenidos de diversas fuentes de acceso al público, por lo que de conformidad con la fracción II del artículo 10 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, estos pueden tratados sin necesidad del consentimiento del titular. PODER no se responsabiliza de la exactitud o inexactitud de la información que se publique en su sitio web, al no ser la fuente originaria de la misma.</p>
      <h3>Sobrecosto</h3>
      <p>En la sección “<a href="/es/salud#sobrecosto">¿Cómo calculamos el sobrecosto?</a>” se explican las razones de la elección del cálculo de referencia y se compara con otras opciones existentes. Esta sección se centra en detalles técnicos del proceso del cálculo, que fueron:</p>
      <ol role="list">
        <li>Identificación del año de la compra a través del operador “pr=” que aparece en la url de todas la compras del portal Compras IMSS. En algunos casos este operador pertenece a un año distinto que la fecha de la compra debido a la temporización de algunas compras consolidadas.</li>
        <li>Segmentamos por año y clave de producto, y dentro de este subconjunto se realiza un promedio del Precio Unitario (PU) ponderado por la Cantidad Comprada (CC). Este campo lo llamamos Promedio Ponderado Unitario Anual (PPUA).</li>
        <li>Para calcular el importe de sobrecosto (IS) se usa el campo Monto Total (MT) como aparece en el Portal Compras IMSS (y que es equivalente a multiplicar CC por PU y sumarle el IVA) y se le resta el resultado de multiplicar PPUA por CC más IVA. El IVA sólo se tiene en cuenta cuando este campo existe, si no se asume importe sin IVA.</li>
        <li>El porcentaje de sobrecosto lo calculamos como un incremento siendo la fórmula: (IS / MT).</li>
      </ol>
      <div><strong>*Los precios de referencia de la OPS incluyen un 25% de incremento en concepto de flete, gastos administrativos y seguro, de acuerdo con la sugerencia de la propia OPS en su </strong>
        <a href="https://www.paho.org/es/documentos/fondo-estrategico-medicamentos-antiretrovirales-hasta-31-diciembre-2021" target="_blank"><strong>lista de precios de medicamentos antirretrovirales</strong></a><strong>.</strong>
      </div>
      <h3><strong>Diligencias periodísticas</strong></h3>
      <p>PODER solicitó una entrevista y envió cuestionarios al IMSS y a la UNOPS a inicios de mayo. Ninguna respondió a nuestras preguntas antes del cierre del proyecto.</p>
      <p><strong>Después de entablar comunicación con el enlace de prensa de la UNOPS, las preguntas enviadas el 4 de mayo fueron:</strong></p>
      <ol role="list">
        <li>De acuerdo con Animal Político, la primer compra de la UNOPS fue por más de 18 mil millones de pesos, representando un ahorro inicial de 2,389 millones de pesos. ¿En cuánto estima UNOPS que será el ahorro en todo el proceso (compras indispensables, las de 2021 y de 2022-2024)?</li>
        <li>Según el Inefam, citado por El Economista, el retraso en la compra y entrega de medicamentos por parte de la UNOPS, anulará el ahorro esperado. ¿Cómo asegura la UNOPS que existirá ahorro a pesar de los retrasos?</li>
        <li>¿Cómo negocia la UNOPS con empresas que tienen patentes, como aquellas que venden la mayor parte de antirretrovirales?</li>
        <li>¿Es cierto que la compra de medicamento antirretrovirales contempla ya un retraso de 3 meses (aproximadamente) por lo que se pronostica desabasto?</li>
        <li>¿Las compras de antirretrovirales las realizarán ya con costo de distribución o se piensa almacenar todo el insumo?</li>
        <li>Si la respuesta es lo segundo ¿Cómo planean ejecutar la distribución?</li>
        <li>¿Grupo Fármacos Especializados, Maypo y PiSA presentaron propuestas a las licitaciones? ¿Fueron seleccionadas?</li>
        <li>En caso de haber sido seleccionadas, ¿por qué sí a pesar de que el presidente López Obrador las vetó?</li>
        <li>Estas tres empresas, ¿son proveedoras de la UNOPS?</li>
        <li>¿Cuánto tiempo en promedio tarda la UNOPS desde que el país realiza la entrega del listado de medicamentos hasta que la UNOPS los entrega en almacén?</li>
        <li>¿Cuál es la relación entre la UNOPS y la OPS?</li>
        <li>En algunos países las compras realizadas por la UNOPS no se publican en los portales de compra del país, ¿eso es condición de la UNOPS o es decisión del país?</li>
        <li>En el Observatorio de Precios de la UNOPS se tienen precios de costos de medicamentos por clave de todo el mundo, esta información la UNOPS no la hace pública. En palabras de uno de sus responsables, Andrés Redin Mideros, “la UNOPS no tiene la obligación”. ¿Esta es una posición oficial de la UNOPS?</li>
        <li>¿Cómo se plantea abrir las compras que la UNOPS hace para México?</li>
        <li>¿Se planea llegar al nivel de detalle de publicación que hace el IMSS en su Portal Compras IMSS?</li>
      </ol>
      <p><strong>Después de entablar comunicación con el enlace de prensa del IMSS, las preguntas enviadas el 3 de mayo fueron:</strong></p>
      <ol role="list">
        <li>¿Por qué se decidió hacer mantenimiento al Portal Compras IMSS y dejar de actualizarlo?</li>
        <li>¿Desde cuándo se está trabajando en el mantenimiento del Portal Compras IMSS?</li>
        <li>¿Es un trabajo interno o se contrató a una empresa? ¿A cuál empresa?</li>
        <li>¿Cuánto dinero tiene destinado el IMSS para ese proceso y cuándo se terminará de actualizar?</li>
        <li>¿Para el fin del mantenimiento, se publicarán los contratos del IMSS de 2018, 2019, 2020 y 2021?</li>
        <li>Según una respuesta a una solicitud de información, el IMSS está reportando los contratos en Compranet, pero para el caso del metilfenidato, sólo se encuentran 3 contratos entre 2019 y 2021. ¿Eso es todo lo que ha comprado el IMSS de metilfenidato? ¿Se ha reportado desabasto de ese medicamento? ¿Cómo se asegura el IMSS de que todas las compras están siendo reportadas en Compranet?</li>
        <li>¿Cómo reportan los errores de captura en el Portal Compras IMSS? Es decir, cuando lo que reportan haber adquirido no corresponde a la realidad. ¿Quién es responsable de esos errores?</li>
        <li>¿Por qué no reportan los medicamentos que hacen falta en los centros de almacenamiento?</li>
        <li>¿Por qué las compras no se realizan entre todas las instituciones de salud y así abaratan los costos?</li>
        <li>¿Por qué se sigue comprando medicamentos con patentes pese a que en TMEC ya no obliga a México a esto?</li>
        <li>¿Cuales son las atribuciones de las delegaciones para realizar compras? ¿Bajo que condiciones se realizan?</li>
        <li>¿El IMSS realiza o realizó algún análisis de los precios de compra de medicamentos para detectar sobrecosto o corrupción?</li>
        <li>¿Cómo realiza el IMSS la previsión de compra de medicamentos?</li>
        <li>¿Cómo se detecta el desbasto interno en las distintas unidades y hospitales del IMSS? ¿Qué se hace para solucionarlo?</li>
        <li>Viendo la gestión de la UNOPS para la compra consolidada, proceso que antes hacía el IMSS, ¿cuál es la opinión del IMSS sobre la gestión de la UNOPS? ¿Considera que habrá ahorros como lo prometió el presidente López Obrador?</li>
      </ol>
    </div>
  </section>
  <section id="sobre-proyecto" class="bg-gray">
    <div class="w-container">
      <h2>Sobre el proyecto</h2>
      <p><strong>Dirección de proyecto:</strong> Eduard Martín-Borregón<br><strong>Coordinación de periodismo:</strong> Claudia Ocaranza<br><strong>Coordinación de tecnología:</strong> Martín Szyszlican<br><strong>Análisis y visualización de datos: </strong>Queletzú Aspra<br><strong>Desarrollo Back-End:</strong> Fernando Matzdorf<br><strong>Desarrollo Front-End: </strong>Marisol Carrillo <br><strong>Investigación y redacción: </strong>Ricardo Balderas<br><strong>Colaboración en análisis de datos: </strong>Celso Alan Villegas<br><strong>Investigación desabasto:</strong> Andrés Castañeda, Juan Mendez y equipo de Nosotrxs<br><strong>Gráficas de medicamentos en QuiénEsQuién.Wiki:</strong> Ricardo Sangines y equipo de Yeeko<br><strong>Periodistas aliades:</strong> Dulce Rodríguez de BI Noticias, Elizabeth Rosales de Newsweek Baja California, Alejandra Padilla de Serendipia, Ernesto Aroche de LadoB y Darwin Franco de ZonaDocs.<br><strong>Comunicación externa:</strong> María Fernanda Wray y Mariela Álvarez<br><strong>Ilustraciones: </strong>Dani Scharf<br><strong>Codirección Ejecutiva de PODER:</strong> Fernanda Hopenhaym y Elena Arengo<br><strong>Apoyo, cuidado e inspiración:</strong> Compañeres de PODER.</p>
      <p><strong>Agradecimientos:</strong> Este proyecto es producto de años de trabajo y ha sido retroalimentado por muchas personas, entre las cuales están Giulio Petrocco, Alba Florencia A. López Martín (EPD), Cesar Jeronimo Esquinca, Oscar Hernandez, Camila Salazar y José Antonio Garcia, además de todas aquellas personas que nos han guiado, asesorado o dado información en algún momento pero nos pidieron no nombrarlas para protegerlas.<br></p>
      <p>El código abierto es la base de nuestro desarrollo. Queremos agradecer a Diego Valle por la librería de r mxmaps con la que hicimos <a href="https://www.diegovalle.net/mxmaps/" target="_blank">el mapa hexagonal</a> de México, y animar a hacer una donación a algunos de los siguientes proyectos que están buscando financiación: <a href="https://opencollective.com/bootstrap" target="_blank">bootstrap</a>, <a href="https://opencollective.com/popperjs" target="_blank">popper</a>, <a href="https://github.com/sponsors/isaacs" target="_blank">glob</a>, <a href="https://github.com/sponsors/ljharb" target="_blank">has-symbols</a>, <a href="https://opencollective.com/eslint" target="_blank">eslint</a>, <a href="https://github.com/sponsors/sindresorhus" target="_blank">globals</a> y <a href="https://github.com/chalk/ansi-styles?sponsor=1" target="_blank">ansi-styles</a>.<br></p>
      <p>Todo trabajo es una base del anterior, y no hubiéramos conseguido hacer este proyecto sin el apoyo que hemos recibido en otro momento de Hivos.<br></p>
    </div>
  </section>
  <section id="contacto" class="section bg-red">
    <div class="w-container">
      <h2 class="white--text">CONTACTO</h2>
    </div>
    <div class="btn-container">
      <a href="https://www.quienesquien.wiki/es/contacto" target="_blank" class="btn-primary w-button">Envíanos un mensaje</a>
    </div>
  </section>
  <section class="footer">
    <div class="container-2 w-container">
      <div class="w-row">
        <div class="column w-col w-col-4">
          <h5 class="footer-text">Proyecto de</h5>
          <a href="https://poderlatam.org/" target="_blank" class="w-inline-block"><img src="images/logoPODER_19.png" loading="lazy" alt="" class="logo-poder"></a>
        </div>
        <div class="column-2 w-col w-col-4">
          <h5 class="footer-text">Con la colaboración de</h5>
          <div class="two-logos">
            <a href="https://nosotrxs.org/" target="_blank" class="w-inline-block"><img src="images/nostrxs-1.png" loading="lazy" sizes="(max-width: 479px) 46vw, (max-width: 767px) 48vw, (max-width: 991px) 118.609375px, 155.140625px" srcset="images/nostrxs-1-p-500.png 500w, images/nostrxs-1-p-800.png 800w, images/nostrxs-1.png 983w" alt="" class="logo-nosotrxs"></a>
            <a href="https://cerodesabasto.org/" target="_blank" class="w-inline-block"><img src="images/cerodesabasto-1.png" loading="lazy" sizes="(max-width: 479px) 43vw, (max-width: 767px) 45vw, (max-width: 991px) 110.71875px, 144.84375px" srcset="images/cerodesabasto-1-p-500.png 500w, images/cerodesabasto-1.png 917w" alt="" class="logo-cerodesabasto"></a>
          </div>
        </div>
        <div class="column-4 w-col w-col-4">
          <h5 class="footer-text">Con el apoyo de</h5>
          <div class="two-logos">
            <a href="https://www.open-contracting.org/es/" target="_blank" class="w-inline-block"><img src="images/OC_logo_CMYK_white.png" loading="lazy" alt="" class="logo-ocp"></a>
            <a href="https://luminategroup.com/" target="_blank" class="w-inline-block"><img src="images/luminate_logo.png" loading="lazy" alt="" class="luminate-logo"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6042ad6400622643350c7711" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145836266-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145836266-1');
  </script>
</body>
</html>