<div class="container addinfo">
  <div class="row">
    {{#ifCond type '==' 'company'}}
    <div class="col-m-12 col-12">
      <hr>
    </div>
    {{/ifCond}}
    <div class="col-m-12">
      <h4 class="addinfo-title ">¿Conoces más información? Puedes ayudarnos a completar este perfil.</h4>
    </div>
    <div class="col-m-8 col-8 mb-2">
      <form action="" class="addinfo-form">
        <div class="form-group">
          <label>SI TIENES INFORMACIÓN PARA APORTAR A ESTA PERSONA, AGRÉGALA AQUÍ.</label>
          <textarea id="message" class="form-control" rows="6" placeholder="ESCRIBE LOS DATOS QUE DESEAS APORTAR"></textarea>
        </div>
        <div class="form-group">
          <label>FUENTE</label>
          <input id="source" class="form-control" type="text" placeholder="AGREGA LA FUENTE DE INFORMACIÓN">
        </div>
        <div class="form-group">
          <label>EMAIL</label>
          <input id="email" class="form-control" type="email" placeholder="AGREGA TU EMAIL">
        </div>
        <div class="mt-2">
          <button id="send_info_email" type="submit" class="button-link">ENVIAR</button>
        </div>
      </form>
      <div id="thanks-column" style="display: none;">
        <h3>Información enviada</h3>
        <p>Gracias por aportar información.</p>
      </div>
    </div>
    <div class="col-m-4 col-4 mb-2">
      <div class="addinfo-box">
        <h4>SI DESEAS ENVIAR DATOS DE FORMA ANÓNIMA, USA EL BUZÓN DE <a href="https://www.projectpoder.org/es/">PODER</a> EN</h4>
        <img src="../images/mexicoleaks-negro.png" alt="Mexicoleaks Logo" class="addinfo-box-logo">
        <p>Una plataforma de filtración de datos anónima y segura que verifica la información proporcionada.</p>
        <div class="mt-2 mb-1">
          <a href="https://mexicoleaks.mx/enviar-para.php?r=poder" class="button-link" target="_blank">ACCEDER</a>
        </div>
      </div>
    </div>
  </div>
</div>