<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div class="history">
          <div class="row">
            <div class="col-md-12 col-12 mb-1">
              <h1 class="page-title"><img src="../../../images/favicon-96x96.png" alt="logo-QQW"> Historia</h1>
              <p>QuiénEsQuién.Wiki es una plataforma que presenta datos de distinta procedencia y permite mapear las élites económicas y políticas en América Latina, exhibiendo así el fenómeno de la captura del estado.</p>
              <p>La captura del estado -mediante la cual intereses económicos privados interfieren en la toma de decisiones públicas para su propio beneficio- sucede a nivel nacional, regional e internacional. El propósito para construir una base de datos latinoamericana es facilitar la detección de patrones de captura tales como la opacidad, la corrupción y la impunidad.</p>
              <p>QuiénEsQuién.Wiki está promovido por <a href="http://projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>, construido enteramente usando software libre y siempre bajo premisas de datos abiertos. La información está abierta a organizaciones de la sociedad civil, medios de comunicación, académicos, investigadores y otros actores que busquen evidenciar la captura del estado y otros fenómenos asociados.</p>
              <p>En la construcción de la plataforma ha contribuido <a href="https://winguweb.org/" target="_blank">Wingu</a> en distintos momentos, hemos contado con el apoyo de <a href="https://www.hivos.org/" rel="nofollow noreferrer noopener" target="_blank">Hivos</a> y <a href="" rel="nofollow noreferrer noopener" target="_blank">Luminate</a>, y hemos realizado proyectos con <a href="https://ojo-publico.com/" rel="nofollow noreferrer noopener" target="_blank">Ojo-Público</a> y <a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a>, entre otros. </p>
              <p>Somos más efectivos si trabajamos de forma colaborativa compartiendo datos e información del estado en la región,  por esto formamos parte de <a href="http://www.interconexion.lat/">Interconexión.lat</a>. Si estás interesado en hacer un proyecto conjunto, quieres añadir una nueva fuente de información o tienes dudas sobre los datos o cómo cruzarlos, escríbenos a <a href="mailto:info@quienequien.wiki">info@quienequien.wiki</a>.</p>
              
              <p><b>Julio 2020</b> - Se lanza la versión 1.0 de QuienEsQuien.Wiki ya con un nuevo diseño en el buscador y los perfiles, actualización automática de datos de contrataciones mexicanas e incorporación de los datos de contrataciones en OCDS de Hacienda y el INAI además del Registro Único de Proveedores y Contratistas.</p>
              <p><b>Marzo 2020</b> - Incorporación de los datos y la perspectiva de MujeresEnLaBolsa.org: contamos con análisis de genero de los consejos de administración de las empresas que cotizan en las principales Bolsas de Valores de Argentina, Bolivia, Brasil, Chile, Colombia, Costa Rica, Ecuador, El Salvador, España, Guatemala, México, Nicaragua, Panamá, Paraguay, Perú y Uruguay.</p>
              <p><b>Diciembre 2019</b> - Mejoras de compatibilidad con Safari y iOS. Se agregan datos de América Latina Off-Shore: titulares mexicanos de empresas registradas en Companies House del Reino Unido.</p>
              <p><b>Agosto 2019</b> - Actualización del front-end de QuienEsQuienWiki, basada en el framework Express y consumiendo datos directo desde la API. Incluye: Sección de herramientas, notas de Rindecuentas en la home actualizadas automaticamente, manual de investigación corporativa, evaluación de calidad de contrataciones. El sitio es ahora compatible con teléfonos móviles e indexable por motores de búsqueda. Se empieza a medir el uso de QuienEsQuien.wiki con Google Analytics.</p>
              <p><b>Julio 2019</b> - Agregamos la funcionalidad de exportar CSV.</p>
              <p><b>Julio 2018</b> - Rediseño de QuienEsQuien.wiki, nuevo sistema de búsqueda con filtros, gráficos en los perfiles. Se elimina la posibilidad de editar perfiles por falta de uso, se crea un formulario para aportar datos.</p>
              <p><b>Enero 2018</b> - Se agregan contratos a la API, en una versión modificada del standard OCDS.</p>
              <p><b>Agosto 2017</b> - Empezamos a trabajar en la API, que permite obtener datos de personas y organizaciones para su reutilización.</p>
              <p><b>Mayo 2016</b> - Adoptamos el framework Meteor para la plataforma, lo que nos permite incrementar la agilidad tanto en la gestión de datos como en la construcción del front-end. Empezamos a importar Compranet, base de datos de contratos del gobierno federal de México.</p>
              <p><b>Agosto 2015</b> - QuiénEsQuién.Wiki y Rindecuentas.org se separan, uno se centra exclusivamente en datos mientras que el otro concentra los reportajes de investigación a partir de los datos. Incorporamos las empresas que cotizan en deuda en México y el mercado internacional de Valeres en México, en alianza con Ojo Público expandimos la base de datos a Perú. El rediseño de ambas plataformas se realiza en conjunto con Wingu.</p>
              <p><b>Mayo 2014</b> - Se lanza la primera versión de QuiénEsQuién.Wiki bajo la dirección rindecuentas.org ya que en aquel momento compartían espacio datos y periodismo. La plataforma estaba construida en base a Semantic Media Wiki y contenía datos del mercado de valores de la Bolsa de Valores de México. <a href="https://web.archive.org/web/20140516062253/http://rindecuentas.org/wiki/Monitor_Empresarial">https://web.archive.org/web/20140516062253/http://rindecuentas.org/wiki/Monitor_Empresarial</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>