<div class="container about-template">
  <div class="col-m-12 col-12 mb-1">

    <h1 class="page-title"><img src="../../../images/favicon-96x96.png" alt="logo-QQW"> QuiénEsQuién.Wiki</h1>
    
    <p>QuiénEsQuién.Wiki es una plataforma que aglutina y mezcla datos de distinta procedencia para mapear las élites económicas y políticas en América Latina, exhibiendo así el fenómeno de la captura del estado. </p>

    <p>La captura del estado -mediante la cual intereses económicos privados interfieren en la toma de decisiones públicas para su propio beneficio- sucede a nivel nacional, regional e internacional. El propósito para construir una base de datos latinoamericana es facilitar la detección de patrones de captura tales como la opacidad, la corrupción y la impunidad.</p>

    <p>QuiénEsQuién.Wiki está promovido por <a href="http://projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>, construido enteramente usando software libre y siempre bajo premisas de datos abiertos. La información está abierta a organizaciones de la sociedad civil, medios de comunicación, académicos y otros actores que busquen evidenciar la captura del estado y otros fenómenos asociados. </p>

    <p>En la construcción de la plataforma ha contribuido <a href="https://winguweb.org/" target="_blank">Wingu</a> en distintos momentos, hemos contado con el apoyo de <a href="https://www.hivos.org/" rel="nofollow noreferrer noopener" target="_blank">Hivos</a> y <a href="https://www.omidyar.com/" rel="nofollow noreferrer noopener" target="_blank">Omidyar Network</a>, y hemos realizado proyectos con <a href="https://ojo-publico.com/" rel="nofollow noreferrer noopener" target="_blank">Ojo-Público</a>, <a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a> entre otros. </p>

    <p>Si estás interesado en hacer un proyecto conjunto, quieres añadir una nueva fuente de información o tienes dudas sobre los datos o como cruzarlos de forma más efectiva escríbenos a <a href="mailto:info@quienequien.wiki">info@quienequien.wiki</a>. </p>

    <p>Somos más efectivos si trabajamos de forma colaborativa compartiendo datos e información del estado en la región. </p>
  </div>

  <div class="col-m-12 col-12">
    <h2><a id="user-content-codigo-apis-y-servicios" class="anchor" href="#codigo-apis-y-servicios" aria-hidden="true"></a>APIs y librerías</h2>

    <p>Puedes encontrar el código <a href="/apis" rel="nofollow noreferrer noopener">aquí</a>.</p>
  </div>
  <div class="col-m-12 col-12">
    <h2><a id="user-content-fuentes" class="anchor" href="#fuentes" aria-hidden="true"></a>Fuentes y Metodología</h2>

    <p>En QuiénEsQuién.Wiki usamos solo datos que proporcionan entes gubernamentales, bursátiles o investigada a fondo por Organizaciones de la Sociedad Civil. Si conoces una base de datos sobre contratos o beneficiarios reales que no estamos usando escríbenos a <a href="mailto:info@quienequien.wiki">info@quienequien.wiki</a> y la pondremos en nuestra (muy larga) lista de datasets a importar. </p>

    <p>También puedes usar nuestra base de datos como back-end gratuito para cualquier proyecto que muestre datos de captura del estado. Escríbenos con algo de tiempo e importaremos tus datos para que puedas recuperarlos a través de nuestra API y solo tendrás que preocuparte del front-end. </p>

    <h3>
    <a id="user-content-contratos" class="anchor" href="#contratos" aria-hidden="true"></a>Contratos</h3>

    <p>“En el 57% de los casos de corrupción internacional procesados, según la Convención Antisoborno de la OCDE, hubo sobornos para obtener los contratos públicos” explica en <a href="https://www.open-contracting.org/" rel="nofollow noreferrer noopener" target="_blank">Open Contracting Parnertship</a>. La transferencia de capital del espacio público a la iniciativa privada, si bien necesaria para como funcionan nuestras sociedades, es uno de los espacios dónde se muestra de forma sofisticada la captura del estado: corrupción, cohecho, contratos a modo, licitaciones amañadas, fraude, entre otros delitos. </p>

    <h4>
    <a id="user-content--compranet-plus-mexico" class="anchor" href="#-compranet-plus-mexico" aria-hidden="true"></a>· <a href="https://sites.google.com/site/cnetuc/contrataciones" rel="nofollow noreferrer noopener" target="_blank">CompraNet Plus</a> (México)</h4>

    <p>Bases de datos de 2010 al día de hoy de los contratos de la Administración Pública Federal y de los contratos con aportación federal que realizan estados y municipios de México publicada por la Secretaría de la Función Pública. </p>

    <p>CompraNet Plus solo publica el nombre de la empresa, cualquier dato de propiedad, dirección o represente legal se obtiene a partir del cruce con otras bases de datos. </p>

    <h3>
    <a id="user-content-beneficiarios-reales" class="anchor" href="#beneficiarios-reales" aria-hidden="true"></a>Beneficiarios Reales</h3>

    <p>“Existe una amplia gama de sectores (financiero, bancario, inmobiliario, etc.) [..que...] cuentan con distintas figuras legales para ocultar a sus beneficiarios –se hablan de fondos multilaterales, agentes no financieros (DFNBP, por sus siglas en inglés), representantes legales y consultores, entre otros– quienes más allá de ejercer el control directo sobre la empresa son correas de mando de quienes deciden y se benefician de un vehículo corporativo” explican <a href="https://www.colaboratorio.org/beneficiarios-reales-en-mexico/" target="_blank">Anna Ma. Nunenmann y Oscar Pineda en el informe “Beneficiarios Reales en México”</a> de PODER. </p>

    <p>Conseguir datos de beneficiarios reales en América Latina (y en el mundo) es muy complicado, en el mejor casos se encuentran bases de datos dispersas que permiten añadir piezas a un rompecabezas inacabable. </p>

    <h4>
    <a id="user-content--bolsa-de-valores-mexicana-mexico" class="anchor" href="#-bolsa-de-valores-mexicana-mexico" aria-hidden="true"></a>· <a href="https://www.bmv.com.mx/" rel="nofollow noreferrer noopener" target="_blank">Bolsa de Valores Mexicana</a> (México)</h4>

    <p>Las empresas que cotizan en la bolsa están obligadas a reportar accionistas, directivas, empresas subsidiarias y otros detalles de sus operaciones. Cada tres meses corremos un complejo sistema de webscrapping (parte manual complementada con Google Drive, Import.io y Kimono) que nos permite tener los datos de estas corporaciones. </p>

    <h3>
    <a id="user-content-investigaciones-propias" class="anchor" href="#investigaciones-propias" aria-hidden="true"></a>Investigaciones propias</h3>

    <p>Las investigaciones de PODER en muchos casos son inducidas por datos o con el objetivo de conseguir un mapeo exhaustivo de un caso concreto. Parte de nuestra metodología es registrar estos datos en una hoja de cálculo para después importarlos, este proceso nos sirve tanto para incrementar la profundidad de QuiénEsQuién.Wiki como para poder extraer los datos de la API y hacer la visualización. </p>

    <h4>
    <a id="user-content--torredecontrolorg" class="anchor" href="#-torredecontrolorg" aria-hidden="true"></a>· <a href="http://torredecontrol.projectpoder.org/" rel="nofollow noreferrer noopener" target="_blank">TorreDeControl.org</a>
    </h4>

    <p>Vincular las contrataciones públicas con los beneficiarios reales en la construcción del Nuevo Aeropouerto de la Ciudad de México. El proyecto TorreDeControl nació con este propósito y a través e una investigación en registro de la propiedad, páginas de internet y bolsas de valores de todo el mundo consiguió mapear 235 empresas que tienen 434 conexiones corporativas entre ellas y que consiguieron 292 contratos por 127,665 millones de pesos. </p>

    <h3>
    <a id="user-content-otras-bases-de-datos" class="anchor" href="#otras-bases-de-datos" aria-hidden="true"></a>Otras bases de datos</h3>

    <p>QuiénEsQuién.Wiki es una plataforma colaborativa, es por ello que PODER apoya dando Back-End a proyectos que si bien no tienen una perspectiva empresarial ayudan a mostrar la captura del estado. </p>

    <h4>
    <a id="user-content--cargografias" class="anchor" href="#-cargografias" aria-hidden="true"></a>· <a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a>
    </h4>

    <p>“Cargografías es una herramienta experimental que requiere de un equipo multidisciplinario que consiga los datos (del país en cuestión) y mejore la forma de visualizarlos (la plataforma online de visualización de datos que todas las instancias comparten)” según su propia definición. Por el momento en QuiénEsQuién.Wiki se encuentras los datos de políticos de Argentina, aunque la plataforma también cuenta con datos de Brasil, Uruguay y Paraguay. </p>
  </div>
  <div class="col-m-12 col-12">
    <h2>
    <a id="user-content-estandares-de-datos" class="anchor" href="#estandares-de-datos" aria-hidden="true"></a>Estándares de datos</h2>

    <p>Los datos que recabamos están en múltiples esquemas, para no crear el enésimo esquema de datos optamos por sistematizarlo todo en un esquema propio que combina los dos principales estándares que usa la comunidad de datos abiertos de América Latina. </p>

    <h3>
    <a id="user-content-popolo-project" class="anchor" href="#popolo-project" aria-hidden="true"></a><a href="http://www.popoloproject.com/" rel="nofollow noreferrer noopener" target="_blank">Popolo Project</a>
    </h3>

    <p>Popolo Project es un estándar inicialmente pensado para registrar instituciones públicas y políticos. Con una mínima alternación pudimos usar su lógica sistema de personas, organizaciones y membresías para el sector privado. </p>

    <h3>
    <a id="user-content-open-contracting-data-standart" class="anchor" href="#open-contracting-data-standart" aria-hidden="true"></a><a href="http://standard.open-contracting.org/latest/en/getting_started/" rel="nofollow noreferrer noopener" target="_blank">Open Contracting Data Standart</a>
    </h3>

    <p>El Estándar para la Contrataciones Abiertas (OCDS en sus siglas en inglés) es un esquema de datos abiertos promovido por el Open Contracting Parnership para la publicación de información estructurada de todas las etapas de un proceso de contratación: de la planeación a la implementación. QuiénEsQuién.Wiki hace un uso propio del estándar, añadiendo y creando extensiones, que puede consultarse en <a href="https://github.com/ProjectPODER" rel="nofollow noreferrer noopener" target="_blank">nuestro Github</a>. </p>
  </div>

  <div class="col-m-12 col-12 mb-3">
    <h2>
    <a id="user-content-organizaciones-aliadas" class="anchor" href="#organizaciones-aliadas" aria-hidden="true"></a>Organizaciones aliadas</h2>

    <p>QuiénEsQuién.Wiki no tiene propietario, sino una organización que lidera el proyecto (<a href="http://projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>) y busca implicar a otras interesadas, ya sea añadiendo datos o generado visualizaciones en código abierto para que otros actores las puedan adaptar. La intención es que eventualmente la plataforma sea regida por un gobierno compartido entre varias organizaciones usuarias.</p>

    <p class="mb-3">El ecosistema actual de la plataforma es variado: va desde periodistas a investigadores que usan la plataforma, a organizaciones que su interés particular en un país o tema les lleva a construir una plataforma vinculada mediante la cual comparte datos.</p>

    <div class="media">
      <div class="media-left">
        <a id="user-content-poder" class="anchor" href="#poder" aria-hidden="true"></a>
        <a href="https://www.projectpoder.org/es/" target="_blank">
          <img class="media-object" src="../../images/logo_poder_2018.png" alt="Logo PODER">
        </a>
      </div>
      <div class="media-body">
        <!-- <h3>
        <a id="user-content-poder" class="anchor" href="#poder" aria-hidden="true"></a><a href="https://www.projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>
      </h3> -->
        <p>El Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER) es una organización regional, no gubernamental, sin fines de lucro. Nuestra misión es fomentar la transparencia y rendición de cuentas de las empresas en América Latina y fortalecer a los actores de la sociedad civil afectados por prácticas empresariales para que actúen como garantes de la rendición de cuentas a largo plazo. PODER logra esto mediante la inteligencia empresarial, las tecnologías de transparencia y la organización comunitaria para construir un movimiento ciudadano a favor de la rendición de cuentas empresarial.</p>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a id="user-content-wingu" class="anchor" href="#wingu" aria-hidden="true"></a>
        <a href="https://winguweb.org/" target="_blank">
          <img class="media-object" src="../../images/wingu.svg" alt="Logo Wingu">
        </a>
      </div>
      <div class="media-body">
        <!-- <h3>
        <a id="user-content-wingu" class="anchor" href="#wingu" aria-hidden="true"></a><a href="https://winguweb.org/" rel="nofollow noreferrer noopener" target="_blank">WINGU</a>
      </h3> -->
        <p>Wingu {Tecnología sin fines de lucro} es una organización sin fines de lucro con base en Buenos Aires y Ciudad de México. Nuestra misión es fortalecer otros proyectos e iniciativas sin fines de lucro en América Latina a través de la implementación de tecnologías y metodologías innovadoras para maximizar su impacto. Lo logramos a través de capacitaciones, la implementación de servicios, y el desarrollo de tecnología cívica basados en datos.</p>
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
        <a id="user-content-ojo-publico" class="anchor" href="#ojo-publico" aria-hidden="true"></a>
        <a href="http://ojo-publico.com" target="_blank">
          <img class="media-object" src="../../images/logo-ojopublico.png" alt="Logo Ojo Público">
        </a>
      </div>
      <div class="media-body">
        <!-- <h3>
        <a id="user-content-ojo-público" class="anchor" href="#ojo-público" aria-hidden="true"></a><a href="http://ojo-publico.com" rel="nofollow noreferrer noopener" target="_blank">Ojo Público</a>
      </h3> -->
        <p>Es un medio digital de periodismo de investigación y nuevas narrativas que apunta a ofrecer un cóctel cada vez más raro: historias relevantes, noticias verdaderas, textos bien escritos y herramientas informativas innovadoras sobre temas urgentes de la agenda pública nacional. Es un equipo de reporteros experimentados que asume el reto de los lectores: ser incómodos con el poder, vigilantes de la democracia, poner nuestra mirada al servicio del interés ciudadano en vez de promover intereses ajenos. </p>
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
        <a id="user-content-cargografias" class="anchor" href="#cargografias" aria-hidden="true"></a>
        <a href="http://www.cargografias.org/" target="_blank">
          <img class="media-object" src="../../images/cargografias.png" alt="Logo Cargografías">
        </a>
      </div>
      <div class="media-body">
        <!-- <h3>
        <a id="user-content-cargografías" class="anchor" href="#cargograf%C3%ADas" aria-hidden="true"></a><a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a>
      </h3> -->
        <p>Cargografías es una línea de tiempo que muestra los cargos públicos que tuvo cada funcionario a lo largo de su vida. </p>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a id="user-content-mexicoleaks" class="anchor" href="#mexicoleaks" aria-hidden="true"></a>
        <a href="https://mexicoleaks.mx/enviar-para.php?r=poder" target="_blank">
          <img class="media-object" src="../../images/mexicoleaks-negro.png" alt="Logo Méxicoleaks">
        </a>
      </div>
      <div class="media-body">
        <!-- <h3>
        <a id="user-content-méxicoleaks" class="anchor" href="#méxicoleaks" aria-hidden="true"></a><a href="https://mexicoleaks.mx/enviar-para.php?r=poder" rel="nofollow noreferrer noopener" target="_blank">Méxicoleaks</a>
      </h3> -->
        <p>Méxicoleaks es una herramienta que permite enviar información de interés público a medios de comunicación y organizaciones civiles a través de tecnologías seguras que garantizan el anonimato de la fuente. En virtud de la transparencia y la participación ciudadana, busca construir en la sociedad la justicia y la democracia. </p>
      </div>
    </div>

  </div>
</div>