<section class="about-template">
  <div class="row">
    <div class="content">
      <div class="col-3 col-m-3">
        {{> about-sidebar}}
      </div>
      <div class="col-9 col-m-9" style="float: right">
        {{> about/contact}}
        <div class="col-12 col-m-12 text-center mt-60">
          <a href="/privacidad">Aviso de Privacidad</a>
        </div>
      </div>
    </div>
  </div>
</section>