<div class="jumbotron-container scrollme">
  <div class="line-blue"></div>
  <div class="landing-jumbotron animateme" data-when="span" data-from="0" data-to="1" data-opacity="0.5" data-translatey="300" data-easing="linear" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
    <div class="landing-header-content">
      <img class="logo animateme img-responsive" src="images/single.png" alt="Logo" data-when="span" data-from="0" data-to="1" data-scale="0.75" data-translatey="100" data-easing="linear" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">

      <p>Una herramienta para explorar las <strong>conexiones y contratos entre empresarios, políticos, empresas y organizaciones.</strong> Facilita el acceso de investigadores, periodistas y ciudadanos a varias <a href="#fuentes">fuentes de datos abiertos</a>.</p>
      <div class="landing-search">
        <p>Puedes buscar nombres de empresarios y organizaciones.</p>
        <div class="landing-search-form" method="get">
          {{!-- {{> searchForm }} --}}
        <input type="submit" value="Buscar" class="landing-search-inputtext" id="first-search">
        </div>

        <p>*Para encontrar contratos usa el <a href="/contracts">buscador avanzado de contratos públicos</a>.</p>
      </div>
    </div>
    <div class="arrow-down">
      <a href="#down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>