<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Quién es Quién Wiki (QQW) es una plataforma sobre empresarios, políticos, empresas y organizaciones que explica las conexiones entre estos actores y las pone a disposición de investigadores, periodistas y la ciudadanía en general."/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/to/favicon-96x96.png">
    <meta name="application-name" content="QuienEsQuien.Wiki">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' {{api_domain}}; img-src *.rindecuentas.org 'self'; font-src fonts.gstatic.com 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com; script-src  'self' 'unsafe-inline' 'unsafe-eval';">

    <title>QuiénEsQuién.Wiki</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="assets/owl-carousel/css/owl.carousel.css">
    <link rel='stylesheet' href='/stylesheets/datatables.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript">
      const AUTOCOMPLETE_URL = "{{autocomplete_url}}";
    </script>
  </head>
  <body>
    {{> header}}

      {{{body}}}

    {{> footer}}

    <script src="/jquery/jquery.js"></script>
    <script src="assets/owl-carousel/js/owl.carousel.js"></script>
    <script src="javascripts/collapse.js"></script>
    <script src="javascripts/jquery.scrollme.js"></script>
    <script src="javascripts/typeahead.bundle.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
