<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas."/>

    <meta property="og:title" content="QuiénEsQuién.wiki" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." />
    <meta property="og:url" content="https://www.quienesquien.wiki/" />
    <meta property="og:image" content="https://www.quienesquien.wiki/images/qqw-card.png" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <meta name="application-name" content="QuienEsQuien.Wiki">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' {{api_domain}}  manualinvestigarcontrataciones.readthedocs.io; img-src *.rindecuentas.org  www.google-analytics.com 'self'; font-src fonts.gstatic.com 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com; script-src www.google-analytics.com www.googletagmanager.com 'self' 'unsafe-inline' 'unsafe-eval';">
    <title>QuiénEsQuién.Wiki</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/datatables.css'>
    <link rel='stylesheet' href='/stylesheets/nvd3.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript">
      const AUTOCOMPLETE_URL = "{{autocomplete_url}}";
    </script>
  </head>
  <body>
    {{> header-new}}

      {{{body}}}

    {{> footer-new}}

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/jquery.scrollme.js"></script>
    <script src="/javascripts/jquery.easing.js"></script>
    <script src="/javascripts/collapse.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/typeahead.bundle.js"></script>
    <script src="/javascripts/scrollspy.js"></script>
    <script src="/javascripts/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145836266-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145836266-1');
    </script>

  </body>
</html>
