<h1>Derechos de autor</h1>
<p>&nbsp;</p>
<p>Este sitio web se publica bajo la Licencia de Producción de Pares.</p>
<p>Esto quiere decir que eres libre de compartir, copiar, distribuir, ejecutar, comunicar públicamente nuestros contenidos y hacer obras derivadas, bajo las siguientes condiciones:</p>
<p><strong>Atribución – Compartir Igual – No capitalista</strong></p>
<p><strong>Atribución:</strong> Deberás reconocer los créditos de nuestros contenidos y publicaciones.</p>
<p><strong>Compartir igual:</strong> Si alteras, transformas o generas un contenido a partir del nuestro, sólo puedes distribuirlo bajo una licencia idéntica a ésta.</p>
<p><strong>No capitalista:</strong> La explotación comercial de nuestros contenidos y publicaciones sólo está permitida a cooperativas, organizaciones y colectivos sin fines de lucro, a organizaciones de trabajadores autogestionados, y donde no existan relaciones de explotación.</p>
<p>Más información sobre esta licencia <a href="https://endefensadelsl.org/ppl_deed_es.html" target="_blank" rel="noopener noreferrer" title="Ir al sitio">aquí.</a></p>
<p>&nbsp;</p>