<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div>
          <div class="col-md-12 col-12 mb-1">
              <h1 class="page-title">{{{"Aviso de Privacidad"}}}</h1>
              {{{_ "qqw_privacy"}}}

        </div>
      </div>
    </div>
  </div>
</section>