<section class="about-template">
  <div class="row">
    <div class="content">
      <div class="col-3 col-m-3">
        {{> about-sidebar}}
      </div>
      <div class="col-9 col-m-9" style="float: right">
        <div>
          <div class="col-m-12 col-12 mb-1">
            <h1 class="page-title">Aviso de Privacidad</h1>
            <h3 id="responsable-del-tratamiento-de-datos-personales">RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</h3>
            <p>Este sitio de Internet esta operado por el Project on Organizing, Development, Education, and Research, Ltd. (en adelante “PODER”), con domicilio en P.O. Box 2086, Nueva York, NY, C.P. 10013, Estados Unidos de América, quien es responsable del tratamiento de los datos personales conforme a este Aviso de Privacidad. Al visitar el sitio de Quién es Quién Wiki (“QQW”) se aceptan las prácticas descritas en este Aviso de Privacidad. Nuestro Aviso de Privacidad aplica únicamente al uso del sitio de QQW. El sitio de QQW contiene vínculos a otros sitios, cuyas políticas de privacidad no conciernen al sitio de QQW ni a PODER.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="información-recopilada-por-el-sitio-de-qqw---datos-que-se-recaban">INFORMACIÓN RECOPILADA POR EL SITIO DE QQW - DATOS QUE SE RECABAN</h3>
            <p>Para aquellos que visitan el sitio de QQW, la información que recaba PODER está relacionada con información técnica estándar, tal como: (i) la dirección IP de la computadora que está utilizando el titular; (ii) el tipo de buscador que utiliza el titular; y (iii) la dirección de Internet del sitio a través del cual se ha conectado al sitio QQW.</p>
            <p>PODER podrá recabar y al efecto retendrá la información que nos envíe el titular dependiendo de las acciones que realice dentro del sitio de QQW. En este caso QQW podrá recabar información en los siguientes casos: 1. Si el titular de la información se suscribe al sitio para recibir alertas de acciones, boletines u otros servicios, podemos pedirle información relacionada con: (i) su nombre completo, y (ii) correo electrónico. 2. Cuando el titular de la información quiera otorgar donaciones en línea, además de los datos anteriores también solicitaremos: (i) información respecto de su tarjeta de crédito.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="datos-sensibles">DATOS SENSIBLES</h3>
            <p>El sitio de Internet de QWW no recaba ni trata datos sensibles de los titulares. En caso de recibir datos sensibles de los titulares, como es el caso en que los titulares de la información decidan hacer una donación en línea o vía telefónica, los datos de las tarjetas de crédito y otra información sensible serán mantenidos y tratados con estricta seguridad y confidencialidad para fines exclusivamente relacionados con la prestación del servicio que se ofrece en este sitio de Internet y conforme a este Aviso de Privacidad.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="finalidad-del-tratamiento-de-los-datos-personales">FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
            <p>El uso de la información de los titulares de la información básicamente tiene las siguientes finalidades: 1. Procesar y administrar la donación o contribución del titular. 2. Uso de la información para enviar actualizaciones y alertas a fin de que el titular esté informado respecto de los eventos, reuniones, sucesos, noticias o contacto con funcionarios de PODER. Lo anterior previa autorización del titular de la información. 3. Asimismo, utilizamos la información del titular a efecto de realizar evaluaciones del sitio QQW, diagnósticos de problemas técnicos, y defensa contra ataques sobre el sitio.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="negativa-para-el-tratamiento-de-información-no-necesaria">NEGATIVA PARA EL TRATAMIENTO DE INFORMACIÓN NO NECESARIA</h3>
            <p>En caso de que los titulares no deseen que PODER dé tratamiento a sus datos personales para aquellas finalidades que no son estrictamente necesarias, ni hayan dado origen a la relación jurídica con PODER, el titular de dicha información tendrá un plazo de cinco (5) días hábiles para manifestar su negativa dirigiendo una comunicación al Área Técnica del Programa QQW de PODER enviando un correo electrónico a la siguiente dirección: info@quienesquien.wiki.</p>
            <p>Asimismo, los titulares de la información pueden elegir corregir, actualizar o borrar cualquier información que hayan proporcionado a PODER, simplemente enviando un correo electrónico a la dirección señalada en el párrafo anterior.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="transferencia-de-la-información">TRANSFERENCIA DE LA INFORMACIÓN</h3>
            <p>Para el correcto funcionamiento del sitio de Internet QQW, PODER podrá transferir dentro y fuera del país, los datos personales en su posesión a terceros con fines exclusivamente relacionados con este Aviso de Privacidad. No obstante, dicha transferencia se hará de manera limitada y bajo las siguientes circunstancias: 1. Siempre se requerirá la autorización y consentimiento del titular; o 2. Cuando PODER sea requerido judicial o administrativamente con dicha información.</p>
            <p>No será necesario cumplir con los dos requisitos previamente señalados cuando las transferencias se realicen a sociedades del mismo grupo o afiliadas de PODER.</p>
            <p>Cualquier transferencia de información será notificada al titular, de manera que éste tenga oportunidad de objetar su divulgación. Dicha notificación se hará vía correo electrónico o correo postal. Es importante mencionar que cualquier solicitud de información por parte de terceros que PODER considere puedan hacer uso inapropiado de la información, será automáticamente denegada.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="ejercicio-de-derechos-arcoacceso-rectificación-cancelación-y-oposición">EJERCICIO DE DERECHOS ARCO(ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN)</h3>
            <p>Todos los datos personales son tratados de conformidad con la legislación aplicable y vigente, por ello los titulares de datos personales tienen en todo momento el derecho a acceder a los datos personales que posee PODER y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando resulten ser excesivos o innecesarios para las finalidades que justificaron su obtención; y oponerse a su tratamiento. Estos derechos se conocen como derechos ARCO.</p>
            <p>Para dar inicio a una solicitud ARCO, el titular de la información deberá presentar la solicitud correspondiente al Área Técnica del Programa QQW de PODER y enviando un correo electrónico a la siguiente dirección: info@quienesquien.wiki o a la dirección: P.O. Box 2086, Nueva York, NY, C.P. 10013, Estados Unidos de América. Los requisitos para el ejercicio de estos derechos son los siguientes: - Nombre del titular. - Domicilio del titular o dirección de correo electrónico para comunicar la respuesta. - Documentos que acrediten la identidad o la autorización para representarlo en la solicitud (de ser aplicable). - Descripción de los datos personales sobre los que se pretende ejercer algún derecho ARCO. - Fecha en que se recabaron la información del titular. - Cualquier otro elemento que permita la localización de los datos personales y atención a la solicitud que considere relevantes.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="revocación-de-consentimiento-para-el-tratamiento-de-información-limitación-de-uso-y-divulgación-de-la-información.">REVOCACIÓN DE CONSENTIMIENTO PARA EL TRATAMIENTO DE INFORMACIÓN; LIMITACIÓN DE USO Y DIVULGACIÓN DE LA INFORMACIÓN.</h3>
            <p>Los titulares de información podrán: (i) revocar el consentimiento para el uso de la información, (ii) limitar el uso de sus datos personales o (iii) limitar la divulgación de la información a través de un correo electrónico a info@quienesquien.wiki o por medio de un escrito dirigido al Área Técnica del Programa QQW ubicado en la dirección: P.O. Box 2086, Nueva York, NY, C.P. 10013, Estados Unidos de América. El comunicado deberá señalar claramente si se trata de una revocación o una limitación. En el caso de una limitación, el titular deberá señalar los límites específicos que requiere se apliquen al uso y divulgación de los datos personales.</p>
          </div>
          <div class="col-m-12 col-12 mb-1">
            <h3 id="información-obtenida-por-medios-remotos-o-locales-de-comunicación-electrónica-u-óptica">INFORMACIÓN OBTENIDA POR MEDIOS REMOTOS O LOCALES DE COMUNICACIÓN ELECTRÓNICA U ÓPTICA</h3>
            <p>El sitio de Internet de QQW recaba y almacena información a través de su sitio relativa a información sobre la dirección IP/nombre de dominio del visitante.</p>
            <p>Dicha información se obtiene y almacena con el fin de medir la actividad del sitio e identificar tendencias sobre navegación que no son atribuibles a un individuo en específico.</p>
            <p>El sitio de QQW no utiliza cookies persistentes, salvo que el titular utilice la opción “Recordarme” u otra función similar. Se utilizan cookies de sesión ocasionalmente. Las cookies de sesión vencen cuando se cierra el navegador. El titular puede predeterminar su navegador de modo que no acepte cookies.</p>
            <p>Es importante señalar que la mayoría de los buscadores permiten eliminar el uso de cookies, bloquear la aceptación de las cookies o recibir una advertencia antes de almacenar cookies.</p>
          </div>
          <div class="col-m-12 col-12 mb-3">
            <h3 id="cambios-a-nuestras-políticas">CAMBIOS A NUESTRAS POLÍTICAS</h3>
            <p>El Aviso de Privacidad podrá ser modificado y variar ocasionalmente. En dicho caso, las modificaciones serán publicadas de forma destacada y sustancial en las políticas de privacidad y serán expuestas en la página principal del sitio QQW, así como en el presente Aviso de Privacidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>