<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe src="https://publico-simona.quienesquien.wiki/s/publico/app/dashboards#/view/5c47e890-97ea-11eb-98c0-01f39e1cd666?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2008-01-01T05:30:00.000Z',to:'2019-01-01T05:00:00.000Z'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:'Estados%20Medicinas',viewMode:view)&hide-filter-bar=true" height="600" width="800"></iframe>
</body>
</html>