<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Language" content="es">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Desde PODER hemos concentrado las principales fuentes de contratación abierta en QuiénEsQuién.Wiki y en TodosLosContratos.mx evaluamos su desempeño. Nuestro objetivo final: facilitar la rendición de cuentas y la vigilancia ciudadana."/>

        <meta property="og:title" content="TodosLosContratos.mx" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Desde PODER hemos concentrado las principales fuentes de contratación abierta en QuiénEsQuién.Wiki y en TodosLosContratos.mx evaluamos su desempeño. Nuestro objetivo final: facilitar la rendición de cuentas y la vigilancia ciudadana." />
        <meta property="og:url" content="https://www.todosloscontratos.mx/" />
        <meta property="og:image" content="https://www.todosloscontratos.mx/images/todosloscontratosmx.png" />

        <title>Todos los contratos</title>
        <link rel="icon" href="/todos-los-contratos/images/favicon1.png">
        <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Anton" rel="stylesheet">
        <link rel="stylesheet" href="/todos-los-contratos/resources/semantic-ui/dist/semantic.css">
        <link rel="stylesheet" href="/todos-los-contratos/resources/datatables.net-se/css/dataTables.semanticui.css">
        <link rel="stylesheet" href="/todos-los-contratos/resources/chartist/dist/chartist.min.css">
        <link rel="stylesheet" href="/todos-los-contratos/stylesheets/chartist-plugin-tooltip.css">
        <link rel="stylesheet" href="/todos-los-contratos/resources/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="/todos-los-contratos/stylesheets/style.css">
    </head>

    <body>

        {{!-- {{> header}} --}}

<!-- Following Menu-->
<div id="top"></div>
<nav class="side-menu">
  <ul class="nav navbar-nav">
    <li>
      <a class="anchor" href="#top">
        <div data-inverted="" data-tooltip="Inicio" data-position="left center"><i class="chevron circle up icon"></i></div>
      </a>
    </li>
    <li>
      <a class="anchor side-menu-item" href="#introduccion" data-inverted="" data-tooltip="Introducción" data-position="left center"></a>
    </li>
    <li>
      <a class="anchor side-menu-item" href="#evaluacion-instituciones" data-inverted="" data-tooltip="Evaluación de Instituciones" data-position="left center"></a>
    </li>
    <li>
      <a class="anchor side-menu-item" href="#evaluacion-uc" data-inverted="" data-tooltip="Evaluación de Unidades Compradoras" data-position="left center"></a>
    </li>
    <!-- <li><a class="anchor side-menu-item" href="#evaluacion-estados" data-inverted="" data-tooltip="Evaluación de Estados" data-position="left center"></a></li> -->
    <!-- <li><a class="anchor side-menu-item" href="#evaluacion-municipios" data-inverted="" data-tooltip="Evaluación de Municipios" data-position="left center"></a></li> -->
    <li>
      <a class="anchor side-menu-item" href="#manual" data-inverted="" data-tooltip="Manual" data-position="left center"></a>
    </li>
    <!-- <li><a class="anchor side-menu-item" href="#evaluacion-bancos" data-inverted="" data-tooltip="Evaluación de Bancos" data-position="left center"></a></li> -->
    <li>
      <a class="anchor side-menu-item" href="#informe" data-inverted="" data-tooltip="Informe" data-position="left center"></a>
    </li>
    <li>
      <a class="anchor side-menu-item" href="#metodologia" data-inverted="" data-tooltip="Metodología" data-position="left center"></a>
    </li>
    <!-- <li><a class="anchor side-menu-item" href="#contacto" data-inverted="" data-tooltip="Contacto" data-position="left center"></a></li> -->
  </ul>
</nav>
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment main-background">
    <div class="mainbg-overlay">
      <!--Responsive menu-->
      {{!-- {{> responsive-bar}} --}}

      <div class="ui text container"><img class="main-logo" src="/todos-los-contratos/images/LOGO-CONTRATOS-WHITE.png" />
        <h2>"Estos son mis contratos, y si no les gustan... tengo otros", podría haber dicho Groucho Marx, cómico estadounidense de principios del siglo XX. La administración mexicana parece seguir esta máxima al momento de contratar y reportar esas contrataciones.</h2>
        <h2>Desde <a class="header-link" href="https://www.projectpoder.org/es/">PODER</a> hemos concentrado las principales fuentes de contratación abierta en <a class="header-link" href="https://quienesquien.wiki/">QuiénEsQuién.Wiki</a> y en <a class="header-link" href="https://todosloscontratos.mx/">TodosLosContratos.mx</a> evaluamos su desempeño. Nuestro objetivo final: facilitar la rendición de cuentas y la vigilancia ciudadana.</h2>
        <div class="content-buttons">
          <a class="big ui red button mb-1" href="#introduccion">¿Quién contrata bien en México?</a>
          <a class="big ui red button mb-1" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank">¿Cómo mejorar las contrataciones?</a>
          <a class="big ui red button mb-1" href="https://www.quienesquien.wiki/contratos" target="_blank">Ver el buscador de contratos</a>
        </div>
        <a class="down-icon" href="#down"><i class="chevron down icon"></i></a>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment" id="introduccion">
    <div class="ui container" id="down">
      <p><span class="main-letter">E</span>l gasto en contratación pública federal es equivalente al 4% del PIB mexicano, tan solo tomando aquellos datos que el gobierno reporta en Compranet y en el Portal de Obligaciones de Transparencia (POT). Nos faltan contratos que no se reportan en dichas plataformas. La Comisión Federal para la Competencia Económica (Cofece) calculaba, a partir del presupuesto ejecutado, que para 2015 las contrataciones públicas representaron el 5.32% del PIB. En 2013, los países de la OCDE gastaron en promedio un 13% del PIB en contrataciones.</p>
      <p>Entre el 20% y el 25% del presupuesto para compras equivale al monto de la corrupción y el fraude, según la Oficina de las Naciones Unidas contra la Droga y el Delito. Según las estimaciones más conservadoras, en México equivaldría a casi 1% del PIB: en promedio 157 mil millones de pesos en cada año de la administración de Enrique Peña Nieto.</p>
      <p>Los datos de contratación disponibles no son suficientes para determinar con algoritmos qué contratos podrían ser corruptos o fraudulentos. <a href="#informe">Necesitamos un portal que centralice y publique todos los detalles</a>. Entretanto, podemos evaluar a las dependencias que sí publican datos, con la esperanza de que mejoren sus prácticas.</p>
      <p class="center"><strong>Detalles de los contratos analizados:</strong></p>
      {{!-- <p>Esta gráfica representa el progreso anual de la transparencia en los conjuntos de datos de contrataciones abiertas en standard OCDS. Muestra compranet (convertido a ocds gracias a quienesquien.wiki) y los datos de Contrataciones Abiertas publicados por la Secretaría de la Función Publica.</p>
      <div id="historicoChartContainer">
        <canvas id="historicoChart"></canvas>
      </div> --}}
      {{!-- <canvas id="importesChart"></canvas> --}}
      <div class="ui stackable grid container">
        <div class="three column row mb-2">
          <div class="sixteen wide mobile sixteen wide tablet five wide computer column center ptb-1">
            <div class="ui red statistic">
              <div class="label">
                Tenemos
              </div>
              <div class="value">
                {{format_number result.count-contracts.count }}
              </div>
              <div class="label">
                contratos
              </div>
            </div>
          </div>
          <div class="sixteen wide mobile sixteen wide tablet six wide computer column center ptb-1">
            <div class="ui orange statistic">
              <div class="label">
                Con un valor total de:
              </div>
              <div class="value">
                {{format_amount result.total-sum.total_amount }}
              </div>
              <div class="label">
                pesos mexicanos
              </div>
            </div>
          </div>
          <div class="sixteen wide mobile sixteen wide tablet five wide computer column center ptb-1">
            <div class="ui yellow statistic">
              <div class="label">
                Realizados en el período:
              </div>
              <div class="value">
                2001-2018
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="sixteen wide mobile sixteen wide tablet five wide computer column center ptb-1">
            <div class="ui brown statistic">
              <div class="value">
                {{ format_number result.count-companies }}
              </div>
              <div class="label">
                proveedores distintos participan en los contratos
              </div>
            </div>
          </div>
          <div class="sixteen wide mobile sixteen wide tablet six wide computer column center ptb-1">
            <div class="ui grey statistic">
              <div class="value">
                {{ format_number result.count-uc }}
              </div>
              <div class="label">
                Unidades Compradoras compraron bienes, servicios y obra pública
              </div>
            </div>
          </div>
          <div class="sixteen wide mobile sixteen wide tablet five wide computer column center ptb-1">
            <div class="ui gray statistic">
              <div class="label label-sources">
                En las fuentes:
                <div class="big-sources">Compranet, Compranet 3.0 y Portal de Obligaciones de Transparencia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe container segment">
    <div class="ui secondary raised segment" id="nota-malas-practicas">
      <a class="ui orange ribbon label">Nota</a>
      <div class="pd-3">
        <h3 class="ui header article">10 malas prácticas</h3>
        <p><span class="article-letter">C</span> ontratos con importe cero o sin proveedores, cambio constante en los campos de los datos y títulos que no explican qué se compró, son sólo algunas de las prácticas que no ayudan a la transparencia y rendición de cuentas en la contratación pública en México. No se puede afirmar que ninguno de los casos sea un delito; pero generan ineficiencias en el sistema de contratación mexicana. Encontrarás un tutorial que enseña cómo buscar casos similares en QuiénEsQuién.Wiki.</p>
            <div class="content-buttons center">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/20/10-malas-practicas-en-la-contratacion-publica-mexicana/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre malas prácticas de contratación</a>
            </div>

    <div class="ui divider"></div>
    <div class="ui center vertical segment sixteen wide column">
        <h5>¿Cómo es un sistema de evaluación efectivo para la rendición de cuentas? </h5>
        <a class="big ui labeled center icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i> <span class="highlighted">Lee nuestro informe</span></a>
    </div>



      </div>
    </div>
  </div>

  {{!-- <div class="ui stackable grid container">
    <div class="eight wide column">
      <div class="ui vertical stripe segment">
        <div class="ui secondary raised segment" id="nota-malas-practicas">
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">Los (malos) usos del dinero de bancos financiadores por parte del gobierno</h3>
            <p><span class="article-letter">E</span> l Banco Interamericano de Desarrollo (BID) aprobó 200 millones de dólares a la Comisión Nacional del Agua (Conagua) a finales de 2015, para financiar el Programa para el Desarrollo Integral de Organismos Operadores de Agua Potable y Saneamiento (PRODI)1. Parte de ese dinero terminó involucrado en un presunto esquema de desvío de fondos, operado por A Moot Point, S.A. de C.V. con funcionarios de la Junta de Agua Potable y Alcantarillado de Yucatán (JAPAY), según se puede comprobar en  <a href="https://www.quienesquien.wiki/" target="_blank">QuiénEsQuién.Wiki</a>, de PODER.</p>
            <div class="content-buttons center">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/29/los-malos-usos-del-dinero-de-bancos-financiadores-por-parte-del-gobierno/" target="_blank"><i class="external alternate icon"></i>Lee la nota</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui vertical stripe segment">
        <div class="ui secondary raised segment" id="nota-malas-practicas">
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">Las compras de leche del gobierno mexicano favorecen a multinacionales</h3>
            <p><span class="article-letter">M</span> éxico no es un país autosuficiente cuando se habla de leche. Se consumen alrededor de 15,000 millones de litros cada año pero solo se producen 12,000 millones de litros. Esa falta de autosuficiencia también se refleja en el Programa de Abasto Social de Leche, a cargo de la empresa con participación mayoritaria del Estado, Liconsa, que atiende a 6,275,061 beneficiarios, entre niños mayores de 6 meses, adolescentes, mujeres embarazadas, personas con discapacidad y adultos mayores.</p>
            <div class="content-buttons center">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/21/las-compras-de-leche-del-gobierno-mexicano-favorecen-a-multinacionales/" target="_blank"><i class="external alternate icon"></i>Lee la nota</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="center">
        <a class="big ui labeled icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i>Informe: Contrataciones abiertas para la rendición de cuentas. El caso de México</a>
      </div>
    </div>
  </div> --}}

  <div class="ui vertical stripe segment">
    <div class="ui container" id="evaluacion-instituciones">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Instituciones Públicas</div>
      </h3>
      <p>El nombre técnico de las instituciones que realizan contrataciones es Dependencia en México, y en nuestra base de datos esto incluye instituciones federales, estatales, municipales y autónomas que hayan usado dinero federal o que en una decisión poco habitual hayan optado por usar los sistemas de publicación del Gobierno Federal.</p>
      <p>A todas ellas las procesamos con un sistema de evaluación. Los contratos de cada dependencia pasan por 24 pruebas, cada una con su propio algoritmo, y se agrupan en cinco grandes categorías para calcular el puntaje total para cada dependencia.

         El detalle puede consultarse en la sección de Metodología:</p>
      <ul class="ul mb-4">
        <li>Transparencia: Cumple con estándares internacionales de contrataciones abiertas.</li>
        <li>Temporalidad: Se respetan los tiempos de los distintos procesos dentro la contratación.</li>
        <li>Competitividad: El proceso de contratación fue una competencia justa y abierta.</li>
        <li>Trazabilidad: Se puede seguir el dinero del presupuesto al ítem y se conocen los detalles de todos los actores involucrados.</li>
        <li>Confiabilidad: Una organización es tan confiable como el promedio de aquellas con las que se relaciona.</li>
      </ul>

      {{!-- j result --}}
      <div id="context1">
        <div class="ui three item menu" id="button-tabs">
          <a class="item active" data-tab="federales">Federales</a>
          <a class="item" data-tab="estatales">Estatales</a>
          <a class="item" data-tab="todo">Municipales</a>
        </div>
        <div class="ui active tab" data-tab="federales">
          {{>toloco-table-dependencias type="dependencia-federal"}}
        </div>
        <div class="ui tab" data-tab="estatales">
          {{>toloco-table-dependencias type="dependencia-estatal"}}
        </div>
        <div class="ui tab" data-tab="todo">
          {{>toloco-table-dependencias type="dependencia-todas"}}
        </div>
      </div>
      <div class="content-buttons">
        <a class="big ui black button" href="https://www.quienesquien.wiki/instituciones-publicas" target="_blank">Ver todas las instituciones</a>
      </div>
    </div>
  </div>
 {{!--  <div class="ui vertical stripe container segment">
    <div class="ui secondary raised segment" id="proveedores">
      <a class="ui orange ribbon label">Nota</a>
      <div class="pd-3">
        <h3 class="ui header article">Proveedores reprueban evaluación pero gobierno les sigue dando contratos</h3>
        <p><span class="article-letter">E</span>valuar el cumplimiento de los contratos es fundamental para tener un sistema de contratación pública eficiente y transparente. La premisa es simple: si un proveedor no cumple con un contrato no se le vuelve a contratar, si cumple se le premia con algún tipo de bonificación para los próximos procesos o contratos ganados. O al menos así debería ser. La realidad es que la evaluación de los proveedores que hace el gobierno actualmente sólo sirve para premiar a quienes tienen un grado de cumplimiento igual o por encima de 80 y no penaliza a los que están por debajo.</p>

        <p>Compranet (antes dependiente de la Secretaría de la Función Pública y ahora de la Secretaría de Hacienda y Crédito Público) tiene un sistema de evaluación que publica conjuntamente con el Registro Único de Proveedores y Contratistas. Empresas que “reprueban” en su grado de cumplimiento, como Deloitte (antes Galaz, Yamazaki, Ruiz Urquiza, S.C.), ICA, Broxel y Dragados del Golfo, siguen recibiendo contratos.</p>
        <div class="ui stackable grid">
          <div class="eight wide column">
            <div class="content-buttons left">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/14/proveedores-reprueban-evaluacion-pero-obtienen-contratos/" target="_blank"><i class="external alternate icon"></i>Todos los detalles en el reportaje de RindeCuentas.org</a>
            </div>
          </div>
          <div class="eight wide column">
            <div class="content-buttons right">
              <a class="big ui labeled icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i>¿Cómo es un sistema de evaluación efectivo para la rendición de cuentas? Lee nuestro informe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}

  <div class="ui stackable grid container mt-6 mb-4">
    <div class="ui vertical stripe secondary raised segment eight wide column two-news">
      {{!-- <div class="ui vertical stripe segment"> --}}
        {{!-- <div class="ui secondary raised segment"> --}}
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">Proveedores reprueban evaluación pero gobierno les sigue dando contratos</h3>
            <p><span class="article-letter">E</span>valuar el cumplimiento de los contratos es fundamental para tener un sistema de contratación pública eficiente y transparente. La evaluación de los proveedores que hace el gobierno actualmente sólo sirve para premiar a quienes tienen un grado de cumplimiento igual o por encima de 80 y no penaliza a los que están por debajo.</p>

            <div class="content-buttons center positioned-button">
              <a class="large ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/14/proveedores-reprueban-evaluacion-pero-obtienen-contratos/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre proveedores del gobierno</a>
            </div>
          </div>
        {{!-- </div> --}}
      {{!-- </div> --}}
    </div>
    <div class="ui vertical stripe secondary raised segment  eight wide column two-news">
      {{!-- <div class="ui vertical stripe segment"> --}}
        {{!-- <div class="ui secondary raised segment"> --}}
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">Las compras de leche del gobierno mexicano favorecen a multinacionales</h3>
            <p><span class="article-letter">L</span> a falta de autosuficiencia lechera en México se refleja en el Programa de Abasto Social de Leche, a cargo de la empresa con participación mayoritaria del Estado, Liconsa, que compra leche a más de 1,000 productores que enfrentan diversos problemas: compiten en condiciones desiguales, sufren la falta de políticas públicas efectivas, y han visto los precios castigados por parte de los grandes industriales mexicanos. Este reportaje forma parte de <i>La Leche Prometida, de la Red PALTA</i>.</p>
            <div class="content-buttons center positioned-button">
              <a class="large ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/21/las-compras-de-leche-del-gobierno-mexicano-favorecen-a-multinacionales/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre las compras de leche</a>
            </div>
          </div>
        {{!-- </div> --}}
      {{!-- </div> --}}
    </div>
    <div class="ui vertical stripe secondary raised segment sixteen wide column">
      <div class="center">
        <h5>¿Cómo es un sistema de evaluación efectivo para la rendición de cuentas? </h5>
        <a class="big ui labeled icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i> <span class="highlighted">Lee nuestro informe</span></a>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui container" id="evaluacion-uc">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Unidades Compradoras</div>
      </h3>
      <p>Las dependencias no realizan las compras, sino que tienen unos departamentos llamados Unidades Compradoras (UC), encargados de la contratación. No existe ninguna normativa de cómo se deben organizar, por lo que hay dependencias que dividen por propósito (Abastecimiento, Equipamiento, Comercialización), según los tipos de ley de contrataciones (Adquisiciones, Obra Pública) o por zonas geogáficas (Noroeste, centro, sureste...).</p>
      <div id="context1">
        <div class="ui four item menu" id="button-tabs">
          <a class="item active" data-tab="federales">Federales</a>
          <a class="item" data-tab="estatales">Estatales</a>
          <a class="item" data-tab="municipales">Municipales</a>
          <a class="item" data-tab="todo">Todas</a>
        </div>
        <div class="ui active tab" data-tab="federales">
          {{>toloco-table-uc type="uc-federal"}}
        </div>
        <div class="ui tab" data-tab="estatales">
          {{>toloco-table-uc type="uc-estatal"}}
        </div>
        <div class="ui tab" data-tab="municipales">
          {{>toloco-table-uc type="uc-municipal"}}
      </div>
      <div class="ui tab" data-tab="todo">
        {{>toloco-table-uc type="uc-todas"}}
      </div>
      <div class="content-buttons">
        <a class="big ui black button" href="https://www.quienesquien.wiki/unidades-compradoras" target="_blank">Ver todas las Unidades Compradoras</a>
      </div>
    </div>
  </div>
  {{!-- Marin HUazo --}}
  <div class="ui vertical stripe container segment">
    <div class="ui secondary raised segment" id="nota">
      <a class="ui orange ribbon label">Nota</a>
      <div class="pd-3">
        <h3 class="ui header article">Imposible saber si se cumple un contrato</h3>
        <p><span class="article-letter">E</span> xisten dos formas de terminar un contrato en Compranet: Terminado y Expirado. La diferencia en el anunciado no permite saber en cuál de los dos casos se puede afirmar que se esté dando una mala práctica. Por ejemplo, Marín Huazo, quién recibió cinco millones de pesos en dos adjudicaciones para ser “asesor especializado en gestión social” para el NAICM. Los informes entregables no cumplían con las especificaciones y no debieron ser aceptados. Los contratos aparecen bajo la categoría de terminado.</p>

            <div class="content-buttons center">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2017/08/08/cinco-millones-en-un-contrato-favorecido-y-sin-entregables-claros-marin-huazo/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre el caso de Marín Huazo</a>
            </div>


    <div class="ui divider"></div>
    <div class="ui center vertical segment sixteen wide column">
        <h5>Informe: Contrataciones abiertas para la rendición de cuentas. El caso de México</a>
 </h5>
        <a class="big ui labeled center icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i> <span class="highlighted">Lee nuestro informe</span></a>
    </div>




      </div>
    </div>
  </div>
<!--
  <div class="ui vertical stripe segment">
    <div class="ui container" id="evaluacion-estados">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Estados</div>
      </h3>
      <p>Cada uno de los estados tiene la potestad de publicar sus contratos de la forma que considere oportuna. Hay algunos que intentan publicar bajo el estándar de contrataciones abiertas, otros tienen hojas de cálculo más o menos estructuradas y en la gran mayoría se tiene que recurrir a las solicitudes de acceso a la información y leer montones de hojas sin digitalizar.</p>
      <p>Los contratos donde hay aportación monetaria del Gobierno Federal también se publican en Compranet (2010-2018) y podemos medir qué tan transparentes son. Si bien no se trata de todos los contratos, es una buena muestra que permite detectar parte de los problemas en cuanto a calidad de los datos publicados.</p>
      <p>¿Sabes dónde hay bases de datos de contratación de estados? ¡Escribenos a <a href="mailto:nuevosdatos@todosloscontratos.mx">nuevosdatos@todosloscontratos.mx</a>!</p>
      <div id="context1">
        <div class="ui two item menu" id="button-tabs"><a class="item active" data-tab="mapa">Mapa</a><a class="item" data-tab="lista">Lista</a></div>
        <div class="ui active tab" data-tab="mapa">
          <div class="image center aligned">
            <div id="map"></div>
          </div>
        </div>
        <div class="ui tab" data-tab="lista">
          {{!-- >table-dependencias type="estados" --}}
        </div>
      </div>
    </div>
  </div> -->

  <div class="ui secondary vertical stripe segment">
    <div class="ui container" id="manual">
      <h3> Manual</h3>
      <p>QuiénEsQuién.Wiki es una herramienta que reúne casi 4 millones de contratos, datos de más de 227 mil empresas, más de 3 mil instituciones y 201 mil personas. Y aunque parece mucha información, hay distintas formas de obtener el máximo provecho, en especial para hacer investigaciones periodísticas.</p>
      <p>Por eso, ante el mar de datos que hay en QQW, que utiliza la herramienta de elastic search Kibana para montar los datos, presentamos este manual que puede ayudar a investigadores y periodistas en sus búsquedas.</p>
      <div class="content-buttons mb-3">
       <a class="big ui black button" href="https://manualinvestigarcontrataciones.readthedocs.io/es/latest/" target="_blank">Ver manual</a>
      </div>
    </div>
  </div>

  {{!-- <div class="ui vertical stripe container segment">
    <div class="ui secondary raised segment" id="gobernadores-empresas">
      <a class="ui orange ribbon label">Nota</a>
      <div class="pd-3">
        <h3 class="ui header article">¿Quién está detrás de las empresas?</h3>
        <p><span class="article-letter">E</span> n el momento en que el estado da dinero público para realizar un contrato tiene derecho a saber quién es el propietario de la empresa y si se encuentra que está controlada por una o varias sociedades, debería volver a preguntar quiénes son los propietarios hasta llegar a lo que en lenguaje técnico se llama “los beneficiarios finales”.</p>

        <p>Así se evitarían casos como el de los Hawa Gresati, que en Jalisco tenían tres empresas que falsamente competían entre ellas para conseguir contratos para realizar los uniformes de la CFE. Con este esquema, entre 2011 y 2017 ganaron 97 millones de pesos con 102 contratos, que detectamos a través de Compranet y también gracias a los datos que abre el estado de Jalisco.</p>
        <div class="ui stackable grid">
          <div class="eight wide column">
            <div class="content-buttons left">
              <a class="big ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2018/09/12/contratos-a-medida-en-la-cfe/" target="_blank"><i class="external alternate icon"></i>Descubre el esquema que manejaban los Hawa Gresati</a>
            </div>
          </div>
          <div class="eight wide column">
            <div class="content-buttons right">
              <a class="big ui labeled icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i>El nuevo sistema de contratación abierta debe mostrar los beneficiarios finales: informe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
  <div class="ui stackable grid container mt-6 mb-4">
    <div class="ui vertical stripe secondary raised segment eight wide column two-news">
      {{!-- <div class="ui vertical stripe segment"> --}}
        {{!-- <div class="ui secondary raised segment" id="nota-malas-practicas"> --}}
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">¿Quién está detrás de las empresas?</h3>
            <p><span class="article-letter">E</span> n el momento en que el estado da dinero público para realizar un contrato tiene derecho a saber lo que en lenguaje técnico se llama “los beneficiarios finales”, es decir, el propietario de la empresa. Así se evitarían casos como el de los Hawa Gresati, que en Jalisco tenían tres empresas que falsamente competían entre ellas para conseguir contratos por 97 millones de pesos con la CFE, según lo que detectamos vía Compranet y en los datos que abre el estado de Jalisco.</p>
            <div class="content-buttons center positioned-button">
              <a class="large ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2018/09/12/contratos-a-medida-en-la-cfe/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre esquemas empresariales</a>
            </div>
          </div>
        {{!-- </div> --}}
      {{!-- </div> --}}
    </div>
    <div class="ui vertical stripe secondary raised segment eight wide column two-news">
      {{!-- <div class="ui vertical stripe segment"> --}}
        {{!-- <div class="ui secondary raised segment" id="nota-malas-practicas"> --}}
          <a class="ui orange ribbon label">Nota</a>
          <div class="pd-3">
            <h3 class="ui header article">Los (malos) usos del dinero de bancos financiadores por parte del gobierno</h3>
            <p><span class="article-letter">P</span> arte del dinero aprobado por el Banco Interamericano de Desarrollo (BID) para financiar un programa para desarrollar el sistema de agua en México, terminó involucrado en un presunto esquema de desvío de fondos, operado por A Moot Point, S.A. de C.V. con funcionarios de la Junta de Agua Potable y Alcantarillado de Yucatán (JAPAY), según se puede comprobar en QuiénEsQuién.Wiki, de PODER.</p>
            <div class="content-buttons center positioned-button">
              <a class="large ui labeled icon inverted black button" href="https://www.rindecuentas.org/reportajes/2019/08/29/los-malos-usos-del-dinero-de-bancos-financiadores-por-parte-del-gobierno/" target="_blank"><i class="external alternate icon"></i><span class="highlighted">Descubre más&hellip;</span><br>sobre bancos de inversión</a>
            </div>
          </div>
        {{!-- </div> --}}
      {{!-- </div> --}}
    </div>
    <div class="ui vertical stripe secondary raised segment sixteen wide column">
      <div class="center">
        <h5>Contrataciones abiertas para la rendición de cuentas. El caso de México</h5>
        <a class="big ui labeled icon inverted red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" target="_blank"><i class="download icon"></i> <span class="highlighted">Ver Informe</span></a>
      </div>
    </div>
  </div>
  <!-- <div class="ui vertical stripe segment">
    <div class="ui container" id="evaluacion-municipios">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Municipios</div>
      </h3>
      <p>¿Cuál es el municipio más corrupto en sus contrataciones públicas de México? Nos encantaría poder contestar esta pregunta pero como ya hemos explicado antes, no tenemos suficientes datos. Lo que sí podemos contestar es cuál es el mejor y peor municipio para publicar datos de sus contratos con participación del gobierno federal.</p>
      <p>¡Ayúdanos a encontrar bases de datos de contratación municipal! Datos, enlaces y pistas a <a href="mailto:nuevosdatos@todosloscontratos.mx">nuevosdatos@todosloscontratos.mx</a>!</p>
      {{!-- >table-dependencias type="municipios" --}}

      <div class="content-buttons"></div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui container" id="evaluacion-bancos">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Bancos de Inversión</div>
      </h3>
      <p>Los grandes actores del financiamiento público internacional también participan en los procesos de contratación pública mexicana apoyando económicamente para realizar proyectos, cuyos contratos deberían cumplir con los estándares más altos. ¿Qué tan verdad es? ¿Cuál es el banco de inversión que financia los proyectos con contratos más transparentes?</p>
      {{!-- >table-dependencias type="bancos" --}}

    </div>
  </div> -->
  <div class="ui secondary vertical stripe segment pb-5 mt-5" style="z-index: 0;">
    <div class="ui piled container very padded segment" id="informe">
      <h3>Informe: Contrataciones abiertas para la rendición de cuentas. El caso de México.</h3>
      <p><span class="article-letter">E</span>n los últimos años se ha abierto la discusión sobre la actualización y digitalización del sistema de contrataciones públicas en México. Esta discusión ha girado, en demasiadas ocasiones, en torno a la apertura de datos, la eficiencia gubernamental y el cumplimiento de estándares de datos. Si bien estos son pilares importantes, la rendición de cuentas ha quedado en un segundo plano, cuando, a nuestra forma de entender, ésta es fundamental para que el estado cumpla con su función democrática primaria: “garantizar los derechos de la ciudadanía”.</p>
       <p>El informe “Contrataciones abiertas para la rendición de cuentas. El caso de México.”, complementario a la web TodosLosContratos.mx, busca sentar bases para iniciar una discusión sobre la dirección hacia dónde debe caminar el nuevo sistema de contratación en el país, a partir del eje de la rendición de cuentas como herramienta para garantizar los derechos de todas y todos los mexicanos.</p>
       <div class="content-buttons mb-3">
        <a class="big ui red button" href="../docs/Contrataciones-abiertas-para-la-rendicion-de-cuentas.pdf" download>Descargar el informe</a>
       </div>
    </div>
  </div>
  <div class="ui red inverted vertical stripe segment">
    <div class="ui container center">
      {{!-- <h3 class="ui header content-title">
        <div class="content-title-inner">Evaluación de Municipios</div>
      </h3> --}}
      <h4>¿Te interesan nuestros proyectos? <br>Subscríbete aquí a nuestro newsletter trimestral:</h4>
      <div id="mc_embed_signup">
        <form action="https://projectpoder.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;id=62bed77118" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL"></label>
            <div class="ui massive input mb-1">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingresa correo electrónico" required="" data-kpxc-id="mce-EMAIL">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2717e723ef63df492f38fc669_62bed77118" tabindex="-1" value=""></div>
            <br>
            <input type="submit" value="Subscribirme" name="subscribe" id="mc-embedded-subscribe" class="big ui black button">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui container" id="metodologia">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Metodología de evaluación</div>
      </h3>
      <p>El sistema de evaluación Groucho –sí, por Groucho Marx- ha sido desarrollado por PODER y funciona a partir de cualquier conjunto de datos que cumpla con el Estándar de Datos de Contrataciones Abiertas (OCDS, por sus siglas en inglés). Para su construcción se han revisado múltiples sistemas de evaluación a nivel mundial como <a href="https://www.open-contracting.org/wp-content/uploads/2016/11/OCP2016-Red-flags-for-integrityshared-1.pdf" target="_blank">RED FLAGS for integrity</a> de la Open Contracting Partnership, el <a href="https://civio.es/laboratorio-de-innovacion-en-la-contratacion-publica/" target="_blank">Laboratorio de innovación en la contratación pública</a>, espacio de MediaLab-Prado coordinado por Civio, el sistema de Banderas de <a href="http://especiales.datasketch.co/contratos-colombia/" target="_blank">La Letra Menuda</a>, realizado por Datasketch o el de <a href="http://mihalyfazekas.eu/" target="_blank">Mihály Fazekas</a> y su equipo. Dentro de todos estos sistemas, Groucho aporta dos novedades: </p>
      <ul class="ul">
        <li><b>Adaptación al contexto mexicano:</b> En el mejor de los casos México, publica 45 campos por contrato. A éstos les falta información fundamental en otros sistemas de evaluación como el nombre de todos los ofertantes, el costo previsto por el gobierno antes de abrir la licitación o el costo por ítem. Es por ello que solo aplicamos aquellas normas que podemos medir y creamos el informe <a href="#informe">“Contratación Abierta para la Rendición de Cuentas. El caso mexicano”</a>. </li>
        <li><b>La red forma parte de la evaluación:</b> Partimos del supuesto de que una organización que realiza una mala práctica en un contrato es probable que intente volver a realizarla en otro contrato. Es por eso que uno de los factores que influencian la puntuación de una organización dada es el promedio de las evaluaciones de contratos de las organizaciones con las que tiene contratos.</li>
      </ul>
      <p style="margin-bottom: 1rem; margin-top: 2rem;">El proceso de evaluación consta de 4 subprocesos:</p>
      <ol class="ul">
        <li>Evaluación de las banderas de contrato sobre todos los contratos que tenemos</li>
        <li>Evaluación de las banderas de nodo sobre todas las dependencias </li>
        <li>Creación de las medias para cada uno de los contratos y dependencias</li>
        <li>Bandera de confiabilidad</li>
      </ol>
      <p>Las pruebas que corremos están agrupadas en cinco categorías que describen el contrato ideal: cuenta con toda la información para entenderlo, todos los procesos se realizaron en tiempo, hubo una competencia abierta para ganarlo, el camino del dinero es trazable y todos los actores que participan en el proceso son confiables.</p>
      {{!-- <h4>Categorías</h4> --}}
      <div>
        <h5>Transparencia (las pruebas solo aplican a contratos)</h5>
        <ul class="ul">
          <li><u>OCDS válido</u>: Los datos cumplen con el Estándar de Datos de Contrataciones Abiertas según la <a href="https://standard.open-contracting.org/review/" target="_blank">Herramienta de revisión de datos</a> de la OCP. Bandera booleana (si/no).</li>
          <li><u>Campos OCDS completos</u>: La OCP define que un proceso de contratación tienen 325 campos, en esta bandera medimos cuántos de ellos tiene completos. Bandera en porcentaje.</li>
          <li><u>Secciones completas</u>: La OCP explica el proceso de contratación en cinco pasos: planificación, licitación, convocatoria, contratación e implementación. La bandera mide que al menos haya un dato para cada uno de los pasos del proceso. Bandera en porcentaje. </li>
        </ul>

        <h5>Temporalidad (las pruebas solo aplican a contratos)</h5>
        <ul class="ul">
          <li><u>Campos fundamentales</u>: Existe una fecha válida en los campos publicación de la oportunidad, adjudicación de contrato, inicio de contrato y fin de contrato. Bandera en porcentaje.</li>
          <li><u>Duración del contrato excesivamente larga</u>: La diferencia entre el inicio y el fin del contrato supera los 1000 días. Bandera booleana (si/no).</li>
          <li><u>Tiempo insuficiente de preparación de oferta</u>: La diferencia entre la fecha de publicación y cierre de recepción de ofertas es menor a los 15 días que marca el <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/14_101114.pdf" target="_blank">Artículo 32 de La Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público</a>. Bandera booleana (si/no).</li>
          <li><u>Fechas sospechosas</u>: El contrato se celebra o firma en <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/125_020719.pdf" target="_blank">fechas no laborables del gobierno o feriados oficiales</a>. Bandera booleana (si/no).</li>
        </ul>
        <h5>Competitividad (las pruebas aplican a contratos y a nodos)</h5>
        <ul class="ul">
          <li><u>Campos fundamentales</u>: Existe un proveedor con nombre válido y se especifica el tipo de procedimiento del contrato. Bandera en porcentaje.</li>
          <li><u>Paraísos fiscales</u>: El contrato se realiza con una empresa de un país que se considera un paraíso fiscal. Se considera un paraíso fiscal si la puntuación en el <a href="https://www.financialsecrecyindex.com/en/introduction/fsi-2018-results" target="_blank">Secrecy Score del Financial Secrecy Index</a> es superior a 66, promedio mundial. Bandera booleana (si/no).</li>
          <li><u>Agente Económico Preponderante por monto</u>: Si una Dependencia o Unidad Compradora <a href="https://www.gob.mx/epn/es/articulos/que-es-un-agente-economico-preponderante" target="_blank">da el 50% o más</a> del gasto anual en contratos a una misma empresa. Bandera booleana (si/no) que aplica a nodos.</li>
          <li><u>Agente Económico Preponderante por cantidad de contratos</u>: Si una dependencia o unidad compradora <a href="https://www.gob.mx/epn/es/articulos/que-es-un-agente-economico-preponderante" target="_blank">da el 50% o más</a> del número total de contratos a una misma empresa. Bandera booleana (si/no) que aplica a nodos.</li>
          <li><u>Concentración de excepciones a la licitación pública</u>: El 33% del importe total de las adjudicaciones directas e invitaciones a tres de una dependencia van hacia la misma empresa. Bandera booleana (si/no) que aplica a nodos.</li>
          <li><u>Rebasa el límite asignado</u>: Una dependencia o unidad compradora contrata más del 30% del importe total por adjudicación directa e invitación a tres según se establece en el <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/14_101114.pdf" target="_blank">Artículo 42 de La Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público</a>. Bandera booleana (si/no) que aplica a nodos.</li>
          <li><u>Demasiados contratos en un día</u>: Una dependencia o unidad compradora realiza el 30% de sus contratos del año en un mismo día. Bandera booleana (si/no) que solo aplica a aquellos nodos con más de 10 contratos al año.</li>
        </ul>
        <h5>Trazabilidad (las pruebas aplican a contratos y a nodos)</h5>
        <ul class="ul">
          <li><u>Campos Fundamentales</u>: Tiene algún dato que relaciona al contrato con presupuesto y los distintos actores que participan en el contrato están identificados. Bandera en porcentaje.</li>
          <li><u>Escala inconsistente</u>: El tamaño de empresa requerido por la unidad compradora (Micro, Pequeña, Mediana, No MIPYME) en el momento de hacer la licitación y el reportado por el proveedor que ha ganado el contrato coinciden. Bandera booleana (si/no).</li>
          <li><u>Falta de referencia oficial</u>: El conjunto de datos no incluye un enlace donde encontrar más información sobre el contrato. Bandera booleana (si/no).</li>
          <li><u>Importe redondeado</u>: El importe del contrato es un múltiplo de 10 000 pesos. Bandera booleana (si/no).</li>
          <li><u>nformación de las partes</u>: Cada una de las organizaciones involucradas tiene como mínimo un dato de contacto (email, web, teléfono, dirección). Bandera booleana (si/no).</li>
          <li><u>Modificaciones al contrato</u>: El contrato ha sufrido modificaciones una vez ha sido publicado. Bandera booleana (si/no).</li>
          <li><u>Proveedor sin identificador</u>: El proveedor no tiene código RUPC, o éste no viene incluido. Bandera booleana (si/no).</li>
          <li><u>Precisión del título</u>: El título es descriptivo, claro y preciso para ser entendido por externos al proceso de contratación. Bandera booleana (si/no).</li>
          <li><u>Títulos de contratos repetidos</u>: La dependencia o unidad compradora repite en un 10% de los casos el mismo título de contrato. Bandera booleana (si/no) que solo aplica a aquellos nodos con más de 10 contratos al año.</li>
          <li><u>Montos de contratos repetidos</u>: La dependencia o unidad compradora repite en un 10% de los casos el importe de contrato. Bandera booleana (si/no) que solo aplica a aquellos nodos con más de 10 contratos al año.</li>
        </ul>
        <h5>Confiabilidad</h5>
        <p>Este cálculo se hace luego de correr todas las evaluaciones de contrato y antes de las de nodo. Se asigna una puntuación total a los contratos de cada parte, y se promedia esa puntuación por cada una de las partes con las que ha tenido relación.</p>
      </div>
      <div class="content-buttons mb-3">
       <a class="big ui black button" href="https://github.com/ProjectPODER/OCDS_RedFlags/" target="_blank">Ver código en Github</a>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment mb-8">
    <div class="ui container" id="sobre-el-proyecto">
      <h3 class="ui header content-title">
        <div class="content-title-inner">Sobre el proyecto</div>
      </h3>
      <p>TodosLosContratos es una iniciativa del Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER), desarrollado sobre los datos publicados en QuiénEsQuién.Wiki. En su elaboración han participado:</p>
      <ul class="ul mb-2">
        <li>Dirección y conceptualización: Eduard Martín-Borregón</li>
        <li>Coordinación Técnica: Martín Szyszlican</li>
        <li>Coordinación Periodística: Claudia Ocaranza</li>
        <li>Desarrollo Back-End: Fernando Matzdorf</li>
        <li>Investigación y análisis de datos: Félix Farachala</li>
        <li>Diseño gráfico y desarrollo Front-End: Marisol Carrillo</li>
      </ul>
      <p><b>Agradecimientos</b>: Este proyecto es producto de años de trabajo y ha sido retroalimentado en muchas conversaciones. No sería una realidad sin el trabajo de T. Kevin Brown, I.M. López, Hannah Hollandbyrd, Paola Martínez, Ricardo Balderas e Isabela Granados; la inspiración de aliados como Datasketch, el Faro, La Nación, la Diaria, Ojo Público y Ojo con mi Pisto; los materiales y eventos de Hivos y de la Open Contracting Partnership el Help Desk. </p>
    </div>
  </div>
  <div class="ui secondary vertical stripe segment">
    <div class="ui container" id="contacto">
      <p><strong>¿Conoces más información? Puedes ayudarnos a mejorar este proyecto.</strong></p>
      <div class="ui aligned very relaxed stackable grid" id="form-columns">
        <div class="ten wide column" id="form-column">
          <h4>SI TIENES INFORMACIÓN SOBRE CONTRATOS U ORGANIZACIONES POCO TRANSPARENTES.</h4>
          <form class="ui form">
            <div class="field">
              <label>ESCRIBE LOS DATOS QUE DESEAS APORTAR CON FUENTE</label>
              <textarea name="text" id="text"></textarea>
            </div>
            <div class="field">
              <label>NOMBRE</label>
              <input name="name" id="name" />
            </div>
            <div class="field">
              <label>EMAIL</label>
              <input name="email" id="email" />
            </div>
            <button class="ui red submit button" id="send_email">ENVIAR</button>
          </form>
        </div>
        <div class="ten wide column" id="thanks-column" style="display:none;">
          <h4>Mensaje enviado</h4>
          <div class="ui raised segment">Muchas gracias, su mensaje nos llegará y responderemos si lo creemos pertinente.</div>
        </div>
        <div class="six wide column">
          <h4>SI DESEAS ENVIAR DATOS DE FORMA ANÓNIMA, USA EL BUZÓN DE <a href="https://www.projectpoder.org/es/">PODER</a> EN</h4><img class="logo-mexicoleaks" alt="Mexicoleaks Logo" src="/todos-los-contratos/images/mexicoleaks-negro.png" />
          <p>Una plataforma de filtración de datos anónima y segura que verifica la información proporcionada.</p><a class="ui red button" href="http://mexicoleaks.mx">ACCEDER</a>
        </div>
      </div>
    </div>
  </div>

</div>

        <div class="ui inverted vertical footer segment">
        <div class="ui grid">
            <div class="four column row">
                <div class="column center"></div>
                <div class="column center">
                    <h4 class="ui inverted header">Proyecto promovido por</h4><img src="/todos-los-contratos/images/logo-poder.png" alt="Poder" />
                </div>
                <div class="column center">
                    <h4 class="ui inverted header">Con el apoyo de </h4><img style="width: 170px" src="/todos-los-contratos/images/luminate_logo.png" alt="Poder" />
                </div>
                <div class="column center"></div>
            </div>
        </div>
        </div>
        <script src="/todos-los-contratos/resources/jquery/dist/jquery.min.js"></script>
        <script src="/todos-los-contratos/resources/semantic-ui/dist/semantic.js"></script>
        <script src="/todos-los-contratos/javascripts/scrollspy.js"></script>
        <script src="/todos-los-contratos/javascripts/main.js"></script>

        <script src="/todos-los-contratos/resources/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="/todos-los-contratos/resources/leaflet/dist/leaflet.js"></script>
        <!-- <script src="javascripts/map.js"></script> -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145851563-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-145851563-1');
        </script>

    </body>

</html>
