// VARIABLES
  // Colors
$blue =        #2b00f7
$darkblue =    #2d1c9d
$verydarkblue= #110046 
$lightgray =   #f7f7f7
$gray =        #9B9B9B
$darkgray =    #5c5c5c
$red =         #db2828
$green =       #278529
$gold =        #b6893e

$main-color =      $darkblue 
$secondary-color = $gray
$links-color =     $blue
$light-text-color = #595959

$link-color =                $links-color
$link-decoration =           none
$link-hover-color =          $main-color
$link-hover-decoration =     underline

.emphasis-color-text
  color $main-color !important

// FONTS
@font-face
  font-family Montserrat
  src url("../fonts/Montserrat/Montserrat-Regular.ttf")

// GENERAL
body
  line-height 1.42857143
  font-family sans-serif

h1,h2,h3,h4,h5,h6,header,footer,.index-list-title,.button-link,.about-sidebar,nav
  font-family 'Montserrat', sans-serif

input,
button,
select,
textarea
  font-family inherit
  font-size inherit
  line-height inherit

a
  color $link-color
  text-decoration none
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  overflow hidden !important
  text-overflow ellipsis !important
  &:focus
    outline thin dotted
    outline 5px auto -webkit-focus-ring-color
    outline-offset -2px

a:hover,
a:focus
  color $link-hover-color
  text-decoration underline

hr
  background-color #999
  height 1px
  border 0
  margin-top 20px
  margin-bottom 20px

h1,
h2,
h3,
h4,
h5,
h6
  font-family inherit
  font-weight bold
  line-height 1.2
  color inherit

// BUTTONS
.btn-light
  &:hover
    background-color $main-color
    border-color $main-color
    color #ffffff
  &:focus, &:active
    background-color $link-color !important
    border-color $link-color !important
    color #ffffff !important

.btn-primary
  background-color $link-color
  border-color $link-color
  color #fff
  &:hover
    color #fff
    background-color $link-hover-color
  &:focus, &:active
    background-color $link-hover-color !important
    border-color $link-hover-color !important
    color #ffffff !important

.btn-secondary
  background-color $gray
  border-color $gray
  // color #fff
