#contract_problemas_destacados
  margin-top 2em
  float left
  width 100%

.amount-index-contracts
  text-align right

@media only screen and (max-width: 767px)
  .ml-25
    margin-left 0
  .amount-index-contracts
    text-align left
