footer
  // margin-top 2rem
  background-color #21018b
  padding 2rem
  clear both

  span
    color #fff
    line-height 1.5rem
    // padding: 0 1em
    &:first-child
      margin-top 1rem
  a,span.footer-logo
    color #fff
    -webkit-transition all .35s
    -moz-transition all .35s
    transition all .35s
    &:hover
    &:focus
      color #ccd
      text-decoration none

    .logofooter-poder 
      width 90px

    .logofooter-ml
      width 55px
      // margin-bottom 2rem
    .logofooter-pl
      width 90px
      // margin-bottom 2rem
  .text-link
    margin-top 3rem !important

  .pageStats
    font-family: monospace
    color #dde
    font-size: 0.8em
    line-height: 1em

  p.pageStats
    margin-top 1em

// .logos-orgs
//   background-position center center
//   background-repeat no-repeat
//   background-size contain
//   margin 30px 20px 0
//   height 50px
//   width 200px
// .logo-wingu
//     background-image url('../images/wingu-blanco.png')
//     height 35px
// .logo-ojopublico
//     background-image url('../images/logo-ojopublico-blanco.png')
//     height 30px
// .logo-cargo
//     background-image url('../images/cargografias.png')
// .logo-ml
//     background-image url('../images/mexicoleaks.png')
//     height 35px

@media only screen and (max-width: 767px)
  footer
    .text-link
      margin-top 2rem !important

// @media only screen and (max-width: 768px)
//   footer
//     a
//       .logofooter-ml
//       .logofooter-pl
//         margin-bottom 1rem

@media (max-width: 992px)
  footer
    position relative !important
