footer
  background-color #21018b
  padding 1rem
  clear both
    
  p
    color #fff
    line-height 1.5rem
    &:first-child
      margin-top 1rem
  a
    color #fff
    -webkit-transition all .35s
    -moz-transition all .35s
    transition all .35s
    &:hover
    &:focus
      color #ccd
      text-decoration none
    img
      margin-top 1rem
      
    .logofooter-ml
      width 80px
      margin-left 1.5rem
      // margin-bottom 2rem
    .logofooter-pl
      width 120px
      // margin-bottom 2rem
  .text-link
    margin-top 3rem !important
  .left
    float left
  .right
    float right

.owl-carousel
  margin-left -30px
  margin-bottom 20px
  z-index 0 !important
  .owl-nav
    text-align left
    margin-left 110px
    margin-top 10px
    button[class*='owl-']
        color white
        font-size 1rem
        margin 5px
        padding 4px 7px
        background transparent
        -webkit-transition all .35s
        -moz-transition all .35s
        transition all .35s
        opacity 0.6
        &:hover
        &:focus
          color #ccd
          background-color transparent

.logos-orgs
  background-position center center
  background-repeat no-repeat
  background-size contain
  margin 30px 20px 0
  height 50px
  width 200px
.logo-wingu
    background-image url('../images/wingu-blanco.png')
    height 35px
.logo-ojopublico
    background-image url('../images/logo-ojopublico-blanco.png')
    height 30px
.logo-cargo
    background-image url('../images/cargografias.png')
.logo-ml
    background-image url('../images/mexicoleaks.png')
    height 35px
    
@media only screen and (max-width: 767px)
  footer
    .left
    .right
      float none
    .text-link
      margin-top 2rem !important