html, body
  height 100%
  margin 0

#content
  min-height 100%
  margin 0 auto -150px;

#content-searcher
  min-height 100%
  margin 0 auto -50px

@media (max-width: 991px)
  #content
    margin 0 auto
  #content-searcher
    margin 0 auto

// TEXT STYLES
.buyer-text, .buyer-text a
  color #db2828 !important

.supplier-text, .supplier-text a
  color #278529 !important

.funder-text, .funder-text a
  color #b6893e !important

.text-darkgray
  color #5c5c5c !important

.text-white
  color #fff !important

.text-darkblue
  color $darkblue

.text-verydarkblue
  color $verydarkblue

.text-overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.serif-gray
  font-family serif
  color #5c5c5c

// BG COLORS
.bg-gray
  background-color #f7f7f7
 
.bg-darkblue
  background-color #110046

// BUTTONS
.btn
  border-radius 0
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s

// FORMS
input[type="email"]
  padding 10px
  margin-right 5px
  border-color #d3d3d3
  border-style solid
  border-width 1px
  margin-bottom 20px

.form-control
  border-radius 0








// SE QUEDA????
.button-link
  background-color #2b00f7
  color #fff
  border none
  padding 10px 12px
  white-space nowrap
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  &:hover
  &:focus
    color #fff
    background-color #2200c5
    text-decoration none

.important-button-link
  font-weight bold
  padding 15px 20px

.btn-filter
  background-color #9b9b9b
  color #fff
  border-radius 0
  padding 10px 12px
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  margin-right 5px
  margin-bottom 5px
  &:hover
  &:focus
    background-color #2d1c9d
    color #fff


[class*="col-"]
  width 100%
  float left



// .flex-center
//   display flex !important
//   justify-content center
//   align-items center
//   flex-flow row wrap

// MARGIN AND PADDING
// .mb-10
//   margin-bottom 10px

// .mb-0
//   margin-bottom 0 !important

// .mb-1
//   margin-bottom 1rem !important

// .mb-1-2
//   margin-bottom 1.2rem !important

// .mb-2
//   margin-bottom 2rem !important

// .mb-3
//   margin-bottom 3rem !important

// .mb-5
//   margin-bottom 5rem !important

// .mt-60
//   margin-top 60px

// .mt-1
//   margin-top 1rem !important

// .mt-2
//   margin-top 2rem

// .mt-3
//   margin-top 3rem

// .mt-4
//   margin-top 4rem

// .ml-25
//   margin-left 25px

// .pr-1
//   padding-right 1rem

// .pr-2
//   padding-right 2rem

// .pr-5
//   padding-right 5rem

// .pl-5
//   padding-left 5rem

// .pd-nonleft
//   padding 0.5rem 1rem 1rem 0

// .pd-1
//  padding 1rem !important

// .table-responsive
//   display block !important
//   width 100% !important
//   overflow-x auto !important

// .table
//   width 100%
//   max-width 100%
//   margin-bottom 20px

// table
//   background-color transparent
//   border-spacing 0
//   border-collapse collapse
//   text-align left

// .table > thead > tr > th,
// .table > tbody > tr > th,
// .table > tfoot > tr > th,
// .table > thead > tr > td,
// .table > tbody > tr > td,
// .table > tfoot > tr > td
//     padding 8px
//     line-height 1.42857143
//     vertical-align top
//     border-top 1px solid #ddd

// .table
//     & > thead
//         & > tr
//             & > th
//                 vertical-align bottom
//                 border-bottom 2px solid #ddd

// .table > caption + thead > tr:first-child > th,
// .table > colgroup + thead > tr:first-child > th,
// .table > thead:first-child > tr:first-child > th,
// .table > caption + thead > tr:first-child > td,
// .table > colgroup + thead > tr:first-child > td,
// .table > thead:first-child > tr:first-child > td
//     border-top 0

// .table
//     & > tbody
//         & + tbody
//             border-top 2px solid #ddd
//     .table
//         background-color #fff

// .nav
//     padding-left 0
//     margin-bottom 0
//     list-style none
//     & > li
//         position relative
//         display block
//         & > a
//             position relative
//             display block
//             padding 10px 15px
//             & > img
//                 max-width none
//         &.disabled
//             & > a
//                 color #777
//     .nav-divider
//         height 1px
//         margin 9px 0
//         overflow hidden
//         background-color #e5e5e5

// .nav > li > a:hover,
// .nav > li > a:focus
//     text-decoration none
//     background-color #eee

// .nav > li.disabled > a:hover,
// .nav > li.disabled > a:focus
//     color #777
//     text-decoration none
//     cursor not-allowed
//     background-color transparent

// .nav .open > a,
// .nav .open > a:hover,
// .nav .open > a:focus
//     background-color #eee
//     border-color #337ab7

// .nav-tabs
//     border-bottom 1px solid #ddd
//     & > li
//         float left
//         margin-bottom -1px
//         & > a
//             margin-right 2px
//             line-height 1.42857143
//             border 1px solid transparent
//             border-radius 4px 4px 0 0
//             &:hover
//                 border-color #eee #eee #ddd
//     &.nav-justified
//         width 100%
//         border-bottom 0
//         & > li
//             float none
//             & > a
//                 margin-bottom 5px
//                 text-align center
//                 margin-right 0
//                 border-radius 4px
//         & > .dropdown
//             .dropdown-menu
//                 top auto
//                 left auto
//     .dropdown-menu
//         margin-top -1px
//         border-top-left-radius 0
//         border-top-right-radius 0

// .nav-tabs > li.active > a,
// .nav-tabs > li.active > a:hover,
// .nav-tabs > li.active > a:focus
//     color #555
//     cursor default
//     background-color #fff
//     border 1px solid #ddd
//     border-bottom-color transparent

// @media (min-width: 768px)
//     .nav-tabs
//         &.nav-justified
//             & > li
//                 display table-cell
//                 width 1%
//                 & > a
//                     margin-bottom 0

// .nav-tabs.nav-justified > .active > a,
// .nav-tabs.nav-justified > .active > a:hover,
// .nav-tabs.nav-justified > .active > a:focus
//     border 1px solid #ddd

// @media (min-width: 768px)
//     .nav-tabs
//         &.nav-justified
//             & > li
//                 & > a
//                     border-bottom 1px solid #ddd
//                     border-radius 4px 4px 0 0

//     .nav-tabs.nav-justified > .active > a,
//     .nav-tabs.nav-justified > .active > a:hover,
//     .nav-tabs.nav-justified > .active > a:focus
//       border-bottom-color #fff

// .nav-pills
//     & > li
//         float left
//         & > a
//             border-radius 4px
//         & + li
//             margin-left 2px

// .nav-pills > li.active > a,
// .nav-pills > li.active > a:hover,
// .nav-pills > li.active > a:focus
//     color #fff
//     background-color #337ab7

// .nav-stacked
//     & > li
//         float none
//         & + li
//             margin-top 2px
//             margin-left 0

// .nav-justified
//     width 100%
//     & > li
//         float none
//         & > a
//             margin-bottom 5px
//             text-align center
//     & > .dropdown
//         .dropdown-menu
//             top auto
//             left auto

// @media (min-width: 768px)
//     .nav-justified
//         & > li
//             display table-cell
//             width 1%
//             & > a
//                 margin-bottom 0

// .nav-tabs-justified
//     border-bottom 0
//     & > li
//         & > a
//             margin-right 0
//             border-radius 4px

// .nav-tabs-justified > .active > a,
// .nav-tabs-justified > .active > a:hover,
// .nav-tabs-justified > .active > a:focus
//     border 1px solid #ddd

// @media (min-width: 768px)
//     .nav-tabs-justified
//         & > li
//             & > a
//                 border-bottom 1px solid #ddd
//                 border-radius 4px 4px 0 0

//     .nav-tabs-justified > .active > a,
//     .nav-tabs-justified > .active > a:hover,
//     .nav-tabs-justified > .active > a:focus
//       border-bottom-color #fff

// .tab-content
//     & > .tab-pane
//         display none
//     & > .active
//         display block



// .nav>li>a
//   text-decoration none

// header .navbar, #footer
//   color #fff

// table.reactive-table
//   width 100%
//   tr td:first-child:hover
//     cursor pointer
//     color #337ab7

// ul, ol
//   margin-top 0
//   margin-bottom 10px

// a, .cursor-pointer
//   cursor pointer

// .container
//     padding-right 15px
//     padding-left 15px
//     margin-right auto
//     margin-left auto

// @media (min-width: 768px)
//     .container
//         width 750px

// @media (min-width: 992px)
//     .container
//         width 970px

// @media (min-width: 1200px)
//     .container
//         width 1170px

// .bold
//   font-weight bold

// .antispam
//   display none


// .centered
//   text-align center

// .left-align
//   text-align left

// .right-align
//   text-align right







// .filter-bar
//     input[type="text"]
//       padding 10px 5px
//       width 85%
//       margin-right 5px
//       margin-bottom: 3px
//       border-color #D3D3D3
//       border-style solid
//       border-width 1px

//     .multiple-control-container
//       &:not(:last-child)
//         .multiple-control
//           border-color transparent
//           background none

//           &:hover
//             border-color: black

//           &:focus
//             border-color #D3D3D3
//             background: white

//       .remove-field-control
//         display none
//         float right
//         margin-top 5px
//         cursor pointer

//     .add-field-control
//       float right
//       margin -2.4em 2.3em 0 0
//       cursor pointer
//     .term-contract
//       width 40%
//       display inline-block
//     input[type="date"]
//       padding 5px 5px 5px 25px
//       width 100%
//       background-image url('../images/calendar.png')
//       background-repeat no-repeat
//       background-position 6px
//       border-width 1px
//       border-color #D3D3D3
//       border-style solid
//     input[type="text"].search-amount
//       width 30%
//       display inline-block
//       margin-top 1rem

// .filter-dropdown
//   padding 9px 12px


// input[type=text].nav-search-inputtext
//   width 11rem
//   padding 10px 20px
//   border-color #2b00f7
//   box-sizing border-box
//   display inline-block
//   transition all .5s ease

// input[type=submit].nav-search-inputtext
//   width 7rem
//   padding 12px 20px
//   box-sizing border-box
//   display inline-block
//   background-color #2b00f7
//   border none
//   font-weight bold
//   color #fff
//   cursor pointer






// .data-sources
//   h2
//     color #150b58

// .triplet-wrapper
//   position relative
//   // height 24rem
//   padding 2rem

// .triplet
//   font-size 1.5rem
//   font-weight bold
//   text-align center
//   margin 1.5rem auto
//   color #150b58



// .arrow-down
//   text-align center
//   /*position relative
//   margin 0 auto
//   animation jump 3s infinite*/
//   i
//     margin-top: 0px;
//     font-size: 3rem;
//     color #2d1c9d
//     opacity 0.5
//     position absolute


// .search-order-form
//   float: right;
//   margin-top: -2em;
//   font-size .9rem
//   font-weight bold
//   color #21018b
//   line-height 1.8rem

// .search-order-form select.input-sm
//   display inline-block


// .tabcontent
//   display none
//   padding 2rem 1rem
//   border 2px dotted #3a32f9
//   border-top none

// *
//   box-sizing border-box

// button
//   cursor pointer



// #tipo-adquisicion
//   margin-bottom 1rem

// .filter-bar
//   position fixed
//   width 24%
//   height 93%
//   z-index 1
//   overflow-y scroll
//   top 4.05rem
//   left 0
// .filter-bar


// .search-title
//   font-weight bold
//   text-transform uppercase
//   color #21018b
//   margin-top 1rem
//   margin-bottom .5rem
//   line-height 1.1rem

// input[type="date"]::placeholder
//   text-transform uppercase
//   color red

// ::placeholder
//   text-transform uppercase

// select
//   &.search-select
//     padding 10px 5px
//     font-size .8rem
//     text-transform uppercase
//     color #808080
//     border-radius 0
//     border-style solid
//     border-width 1px
//     background-color white


// .form-control
//   height 25px
//   vertical-align middle

// img.icon
//   width 12px
//   margin-top -3px

// img.icon-lf
//   width 20px
//   margin-top -0.3rem
//   margin-right 0.8rem
//   &.icon-lf-person
//     width 25px
//   &.icon-lf-organization
//     width 15px
//   &.icon-lf-contract
//     width 14px

// .selected-block
//   margin-bottom .8rem

// .selected-form-text
//   color #9C9C9C
//   width 85%
//   display inline-block
//   margin-right 5px
//   p
//     display inline-block
//     word-wrap break-word
//     vertical-align middle




// fieldset
//   margin-bottom 1rem
//   min-width 0
//   padding 0
//   margin 0
//   border 0

// .fixed-filter-button
//   position: fixed
//   left 14px
//   bottom 5px
//   width 22%

// input[type="submit"].search-submit
// input[type="button"].search-submit
//   // width 100%
//   font-weight bold
//   font-size 1rem
//   margin-top -5px !important

// input[type="submit"].search-submit, .contact-submit
// input[type="button"].search-submit
//   background-color #21018b
//   border none
//   color white
//   padding 16px 32px
//   text-decoration none
//   margin 4px 2px
//   cursor pointer
//   box-shadow 2px 2px 7px grey
//   -webkit-transition all .35s
//   -moz-transition all .35s
//   transition all .35s
//   &:hover
//   &:focus
//     color #ffffff
//     background-color #2b00f7

// button[type="reset"]
//   padding 16px 32px
//   margin 4px 2px
//   -webkit-transition all .35s
//   -moz-transition all .35s
//   transition all .35s

// button.reset-filters
//   width 100%




// .description-data-name h3
// .description-data-title h3
//   font-size 2rem
//   // display inline

// .search-result-emph
//   color #2900f5
//   font-size 2.1rem

// .search-result-emph-complementary
//   color #2900f5
//   font-size 1.3rem

// .search-result-mono-gray
//   color #9b9b9b;
//   font-size 1rem
//   display inline-block

// .no-title .cardItemTitle
//     visibility hidden
//     height 0

// .inline-title .cardItemData,
// .inline-title .cardItemTitle
//     display inline

// #person-index_paginate
// #contract-index_paginate
// #organization-index_paginate
//   text-align center

// .pagination > .active > a
// .pagination > .active > span
// .pagination > .active > a:hover
// .pagination > .active > span:hover
// .pagination > .active > a:focus
// .pagination > .active > span:focus
//   background-color #21018b
//   border-color #21018b

// .pagination > li > a
// .pagination > li > span
//   padding 6px 12px
//   color #9b9b9b
//   background-color #fff
//   border 1px solid #ddd

// .pagination > li > a:hover
//   color #21018b

// // .paginate_button
// //   .previous
// //   .next
// //     border 2px solid #9c9c9c

// .js-amount
//     text-align right
//     padding 0 0.5em 0.2em 0
//     text-overflow ellipsis
//     overflow hidden
//     font-weight bold
//     margin-top -5px

// .js-start-date
//     clear left

// .js-start-date
// .js-end-date
//     padding-left 20px
//     padding-bottom 2px
//     background url(/images/calendar.png) no-repeat;

//     .cardItemData
//         font-weight bold
//         padding-left 5px

// .js-dependency
//     clear left
//     padding-right 0.5em
//     .cardItemTitle
//       padding-left 25px
//       background url(/images/icons/dependencia-gray-light.svg) no-repeat;
//       background-size 16px
// .js-suppliers
//     .cardItemTitle
//       padding-left 25px
//       background url(/images/icons/empresa-gray-light.svg) no-repeat;
//       background-size 16px

// .js-procedure
//     .cardItemTitle
//       padding-left 25px
//       background url(/images/icons/procedimiento-gray-light.svg) no-repeat;
//       background-size 16px
// .js-procedure
// .js-dependency
// .js-suppliers
//     margin-top: 5px
//     color #9b9b9b
//     padding-right 1em

// .dependency-cell li a
// .suppliers-cell li a
//   color #2b00f7
//   -webkit-transition all .35s
//   -moz-transition all .35s
//   transition all .35s
//   &:hover
//     // text-decoration none
//     color #2d1c9d

// .js-ocid
//     float right!important
//     text-align right
//     margin 2em 1em 0 0

// .js-contract-count
// .js-company-count
// .js-contract-amount
//     color #2b00f7

// .js-person-type
// .js-foundation-date
// .js-flags
//     color #9b9b9b

// .js-contract-count
// .js-company-count
// .js-person-type
// .js-foundation-date
//     // font-family monospace
//     font-size 1rem
//     .cardItemData
//         padding-left 5px

// .js-title-data
// .js-data
//   text-transform uppercase

// .js-title-data
//   color #9b9b9b
//   margin-bottom 0

// .js-data
// .js-data-lf
//   color #4e4e4e
//   font-weight bold

// .js-data-lf
//   font-size 1.2rem

// .js-data-link
//   color #2b00f7
//   -webkit-transition all .35s
//   -moz-transition all .35s
//   transition all .35s
//   &:hover
//     color #21018b
//     text-decoration none


// .js-score.col-m-2
//   .cardItemData,.cardItemTitle
//     display inline
//     margin-right 0.2em

// .contract_currency
//   font-size 0.4em
//   color #9b9b9b
//   display block
//   line-height 0



  // select
  //   width 75px
  //   display inline-block

// .info-icon
//   width 13px
//   margin-top -3.5px

// .dataTables_paginate
//   margin-top 2.5rem !important


// .flex
//   overflow hidden
//   display -webkit-box
//   display -webkit-flex
//   display flex
//   -webkit-flex-flow row wrap
//   flex-flow row wrap

// .flex-item
//   display -webkit-grid
//   display grid


// .description-data-organization
// .description-data-rol
// .description-data-amount
// .description-data-contract
// .description-data-date
//   font-size 1.1rem
//   color #9b9b9b

// .description-data-subname
// .description-data-organization
// .description-data-contract
//   text-transform uppercase

// .party_flag_score
//   float left
//   width 20%
//   border 1px solid #ccc
//   border-right none
//   border-collapse collapse
//   text-align center
//   height 50px
//   overflow hidden
//   background #f7f7f7

// .party_flag_title
//   font-size 0.65em
//   padding-top 5px
//   color #666
//   text-transform uppercase
//   font-weight bold

// .party_flag_value
//   font-size 1.2em

// .d100
//   font-size 0.5em


// .party_flag_total_score
//   border 1px solid black
//   background #ffc

//   .party_flag_value
//     font-weight bold







// .tooltip
//     position absolute
//     z-index 1070
//     display block
//     font-family "Helvetica Neue", Helvetica, Arial, sans-serif
//     font-size 12px
//     font-style normal
//     font-weight normal
//     line-height 1.42857143
//     text-align left
//     text-align start
//     text-decoration none
//     text-shadow none
//     text-transform none
//     letter-spacing normal
//     word-break normal
//     word-spacing normal
//     word-wrap normal
//     white-space normal
//     // filter alpha(opacity=0)
//     opacity 0
//     line-break auto
//     &.in
//         // filter alpha(opacity=90)
//         opacity .9
//     &.top
//         padding 5px 0
//         margin-top -3px
//         .tooltip-arrow
//             bottom 0
//             left 50%
//             margin-left -5px
//             border-width 5px 5px 0
//             border-top-color #000
//     &.right
//         padding 0 5px
//         margin-left 3px
//         .tooltip-arrow
//             top 50%
//             left 0
//             margin-top -5px
//             border-width 5px 5px 5px 0
//             border-right-color #000
//     &.bottom
//         padding 5px 0
//         margin-top 3px
//         .tooltip-arrow
//             top 0
//             left 50%
//             margin-left -5px
//             border-width 0 5px 5px
//             border-bottom-color #000
//     &.left
//         padding 0 5px
//         margin-left -3px
//         .tooltip-arrow
//             top 50%
//             right 0
//             margin-top -5px
//             border-width 5px 0 5px 5px
//             border-left-color #000
//     &.top-left
//         .tooltip-arrow
//             right 5px
//             bottom 0
//             margin-bottom -5px
//             border-width 5px 5px 0
//             border-top-color #000
//     &.top-right
//         .tooltip-arrow
//             bottom 0
//             left 5px
//             margin-bottom -5px
//             border-width 5px 5px 0
//             border-top-color #000
//     &.bottom-left
//         .tooltip-arrow
//             top 0
//             right 5px
//             margin-top -5px
//             border-width 0 5px 5px
//             border-bottom-color #000
//     &.bottom-right
//         .tooltip-arrow
//             top 0
//             left 5px
//             margin-top -5px
//             border-width 0 5px 5px
//             border-bottom-color #000

// .tooltip-inner
//     max-width 200px
//     padding 3px 8px
//     color #fff
//     text-align center
//     background-color #000
//     border-radius 4px

// .tooltip-arrow
//     position absolute
//     width 0
//     height 0
//     border-color transparent
//     border-style solid

// .tooltip
//     font-size 12px
//     font-family 'Montserrat', sans-serif

//     &.top
//         .tooltip-arrow
//             border-top-color #2d1c9d
//     &.right
//         .tooltip-arrow
//             border-right-color #2d1c9d
//     &.bottom
//         .tooltip-arrow
//             border-bottom-color #2d1c9d
//     &.left
//         .tooltip-arrow
//             border-left-color #2d1c9d
//     &.top-left
//         .tooltip-arrow
//             border-top-color #2d1c9d
//     &.top-right
//         .tooltip-arrow
//             border-top-color #2d1c9d
//     &.bottom-left
//         .tooltip-arrow
//             border-bottom-color #2d1c9d
//     &.bottom-right
//         .tooltip-arrow
//             border-bottom-color #2d1c9d

// .tooltip-inner
//     background-color #2d1c9d
//     white-space: pre-wrap
//     text-align left

// .link-lf-contracts
//   & a
//     text-decoration none
//     p
//       color #2b00f7 !important
//       font-size 1.2rem
//       -webkit-transition all .35s
//       -moz-transition all .35s
//       transition all .35s
//       &:hover
//         color #2d1c9d !important

// .other-dependency
// .principal-suppliers
//   & a
//     color #2b00f7
//     font-size 1.1rem
//     // text-decoration none
//     -webkit-transition all .35s
//     -moz-transition all .35s
//     transition all .35s
//     &:hover
//       color #2d1c9d







// .contratos-content
// .orgs-content
// .personas-content
//   margin-left 25%


// .row
//   &::after
//     content ""
//     clear both
//     display table


/* data-table */

// select
//   &.input-sm
//     height 30px
//     line-height 30px

// .form-control
//   height 25px
//   vertical-align middle
//   display block
//   width 100%
//   height 34px
//   padding 6px 12px
//   font-size 14px
//   line-height 1.42857143
//   color #555
//   background-color #fff
//   background-image none
//   border 1px solid #ccc
//   border-radius 4px
//   -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
//   box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
//   -webkit-transition border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
//   transition border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
//   transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
//   transition border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s

// .input-sm
//   height 30px
//   padding 5px 10px
//   font-size 12px
//   line-height 1.5
//   border-radius 3px

// pagination

// #index_paginate
//   text-align center

// div
//   &.dataTables_wrapper
//     div
//       &.dataTables_paginate
//         margin 0
//         white-space nowrap
//         text-align right
//         ul
//           &.pagination
//             margin 2px 0
//             white-space nowrap

// .dataTables_paginate
//   margin-top 2.5rem !important

// .pagination
//   display inline-block
//   padding-left 0
//   margin 20px 0
//   border-radius 4px
//   & > li
//     display inline

// div.dataTables_paginate li.first>a, div.dataTables_paginate li.previous>a
//   position relative
//   padding-left 24px

// .pagination>li:first-child>a, .pagination>li:first-child>span
//   margin-left 0
//   border-top-left-radius 4px
//   border-bottom-left-radius 4px

// .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus
//   color #777
//   cursor not-allowed
//   background-color #fff
//   border-color #ddd

// .pagination>li>a, .pagination>li>span
//   padding 6px 12px
//   color #9b9b9b
//   background-color #fff
//   border 1px solid #ddd
//   position relative
//   float left
//   margin-left -1px
//   line-height 1.42857143
//   text-decoration none

// div
//   &.dataTables_paginate
//     li
//       &.previous
//         a
//           &:before
//             content "<"
//       &.next
//         a
//           &:after
//             content ">"

// div.dataTables_paginate li.first a:before, div.dataTables_paginate li.previous a:before
//   position absolute
//   top 7px
//   left 10px
//   display block

// div.dataTables_paginate li.next a:after, div.dataTables_paginate li.last a:after
//   position absolute
//   top 7px
//   right 10px
//   display block

// @media (min-width: 768px)
//   .form-inline
//     .form-control
//       display inline-block
//       width auto
//       vertical-align middle

// .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
//   background-color #21018b
//   border-color #21018b
//   z-index 2
//   color #fff
//   cursor default



// @media only screen and (min-width: 768px)
//   .col-m-1
//     width 8.33%
//   .col-m-2
//     width 16.66%
//   .col-m-3
//     width 25%
//   .col-m-4
//     width 33.33%
//   .col-m-5
//     width 41.66%
//   .col-m-6
//     width 50%
//   .col-m-7
//     width 58.33%
//   .col-m-8
//     width 66.66%
//   .col-m-9
//     width 75%
//   .col-m-10
//     width 83.33%
//   .col-m-11
//     width 91.66%
//   .col-m-12
//     width 100%

// @media only screen and (min-width: 1300px)
//   .col-1
//     width 8.33%
//   .col-2
//     width 16.66%
//   .col-3
//     width 25%
//   .col-4
//     width 33.33%
//   .col-5
//     width 41.66%
//   .col-6
//     width 50%
//   .col-7
//     width 58.33%
//   .col-8
//     width 66.66%
//   .col-9
//     width 75%
//   .col-10
//     width 83.33%
//   .col-11
//     width 91.66%
//   .col-12
//     width 100%



// @media only screen and (max-width: 992px)
    // .filter-bar
    //   position relative
    //   width 100%
    //   height 100%
    //   overflow-y hidden
    // .fixed-filter-button
    //   position: relative
    //   left 0
    //   width 100%
    // .contratos-content
    // .orgs-content
    // .personas-content
    //   margin-left 0
    //   padding-left 15px


// TOOLS DROPDOWN
// .dropdown
//     position relative

// .dropdown-toggle
//     &:focus
//         outline 0

// .dropdown-menu
//     position absolute
//     top 100%
//     left 0
//     z-index 1000
//     display none
//     float left
//     min-width 160px
//     padding 5px 0
//     margin 2px 0 0
//     font-size 14px
//     text-align left
//     list-style none
//     background-color #fff
//     -webkit-background-clip padding-box
//     background-clip padding-box
//     border 1px solid #ccc
//     border 1px solid rgba(0, 0, 0, .15)
//     border-radius 4px
//     -webkit-box-shadow 0 6px 12px rgba(0, 0, 0, .175)
//     box-shadow 0 6px 12px rgba(0, 0, 0, .175)
//     &.pull-right
//         right 0
//         left auto
//     .divider
//         height 1px
//         margin 9px 0
//         overflow hidden
//         background-color #e5e5e5
//     & > li
//         & > a
//             display block
//             padding 3px 20px
//             clear both
//             font-weight normal
//             line-height 1.42857143
//             color #333
//             white-space nowrap
//     .copy-clip
//       padding 3px 20px

// .dropdown-menu > li > a:hover,
// .dropdown-menu > li > a:focus
//     color #262626
//     text-decoration none
//     background-color #f5f5f5

// .dropdown-menu > .active > a,
// .dropdown-menu > .active > a:hover,
// .dropdown-menu > .active > a:focus
//     color #fff
//     text-decoration none
//     background-color #337ab7
//     outline 0

// .dropdown-menu > .disabled > a,
// .dropdown-menu > .disabled > a:hover,
// .dropdown-menu > .disabled > a:focus
//     color #777

// .dropdown-menu > .disabled > a:hover,
// .dropdown-menu > .disabled > a:focus
//     text-decoration none
//     cursor not-allowed
//     background-color transparent
//     background-image none
//     //filter progid:DXImageTransform.Microsoft.gradient(enabled = false)

// .open
//     & > .dropdown-menu
//         display block
//     & > a
//         outline 0

// .dropdown-menu-right
//     right 0
//     left auto

// .dropdown-menu-left
//     right auto
//     left 0

// .dropdown-header
//     display block
//     padding 3px 20px
//     font-size 12px
//     line-height 1.42857143
//     color #777
//     white-space nowrap

// .dropdown-backdrop
//     position fixed
//     top 0
//     right 0
//     bottom 0
//     left 0
//     z-index 990

// .pull-right
//     & > .dropdown-menu
//         right 0
//         left auto

// .dropup .caret,
// .navbar-fixed-bottom .dropdown .caret
//     content ""
//     border-top 0
//     border-bottom 4px dashed
//     border-bottom 4px solid \9

// .dropup .dropdown-menu,
// .navbar-fixed-bottom .dropdown .dropdown-menu
//     top auto
//     bottom 100%
//     margin-bottom 2px




/*#profile-menu
  ul
    padding 0
    li
      list-style none
      display inline-block
      margin 0 0.3rem 1.5rem 0 !important
    .evaluacion
      background-color #110046
      &:hover
        background-color #2D1C9D
      img
        margin-right 5px
        width 20px*/

// .modal-open
//   overflow hidden
//   .modal
//     overflow-x hidden
//     overflow-y auto
// .modal
//   position fixed
//   top 0
//   right 0
//   bottom 0
//   left 0
//   z-index 1050
//   display none
//   overflow hidden
//   -webkit-overflow-scrolling touch
//   outline 0
//   &.fade
//     .modal-dialog
//       -webkit-transition -webkit-transform .3s ease-out
//       -o-transition -o-transform .3s ease-out
//       transition transform .3s ease-out
//       -webkit-transform translate(0, -25%)
//       -ms-transform translate(0, -25%)
//       -o-transform translate(0, -25%)
//       transform translate(0, -25%)
//   &.in
//     .modal-dialog
//       -webkit-transform translate(0, 0)
//       -ms-transform translate(0, 0)
//       -o-transform translate(0, 0)
//       transform translate(0, 0)
// .modal-dialog
//   position relative
//   width auto
//   margin 10px
// .modal-content
//   position relative
//   background-color #fff
//   -webkit-background-clip padding-box
//   background-clip padding-box
//   border 1px solid #999
//   border 1px solid rgba(0, 0, 0, .2)
//   border-radius 6px
//   outline 0
//   -webkit-box-shadow 0 3px 9px rgba(0, 0, 0, .5)
//   box-shadow 0 3px 9px rgba(0, 0, 0, .5)
//   -webkit-box-shadow 0 5px 15px rgba(0, 0, 0, .5)
//   box-shadow 0 5px 15px rgba(0, 0, 0, .5)
// .modal-backdrop
//   position fixed
//   top 0
//   right 0
//   bottom 0
//   left 0
//   z-index 1040
//   background-color #000
//   &.fade
//     // filter alpha(opacity=0)
//     opacity 0
//   &.in
//     // filter alpha(opacity=50)
//     opacity .5
// .modal-header
//   padding 15px
//   border-bottom 1px solid #e5e5e5
//   .close
//     margin-top -2px
// .modal-title
//   margin 0
//   line-height 1.42857143
// .modal-body
//   position relative
//   padding 15px
// .modal-footer
//   padding 15px
//   text-align right
//   border-top 1px solid #e5e5e5
//   .btn
//     & + .btn
//       margin-bottom 0
//       margin-left 5px
//   .btn-group
//     .btn
//       & + .btn
//         margin-left -1px
//   .btn-block
//     & + .btn-block
//       margin-left 0
// .modal-scrollbar-measure
//   position absolute
//   top -9999px
//   width 50px
//   height 50px
//   overflow scroll

// button
//   &.close
//     padding 0
//     cursor pointer
//     background 0 0
//     border 0
//     -webkit-appearance none
//     -moz-appearance none
//     appearance none
// .close
//   float right
//   font-size 31px
//   font-weight 700
//   line-height 1
//   color #000
//   text-shadow 0 1px 0 #fff
//   // filter alpha(opacity=20)
//   opacity .2


// @media (min-width: 768px)
//   .modal-dialog
//     width 600px
//     margin 30px auto
//   .modal-sm
//     width 300px
// @media (min-width: 992px)
//   .modal-lg
//     width 900px

// .tooltip-download
//   position relative
//   display inline-block
//   border-bottom 1px dotted black
//   .tooltiptext
//     // visibility hidden
//     width 220px
//     background-color #555
//     color #fff
//     text-align center
//     border-radius 6px
//     padding 5px 0
//     position absolute
//     z-index 1
//     bottom 125%
//     left 50%
//     margin-left -60px
//     opacity 0
//     transition opacity 0.3s
//     &::after
//       content ""
//       position absolute
//       top 100%
//       left 50%
//       margin-left -5px
//       border-width 5px
//       border-style solid
//       border-color #555 transparent transparent transparent
//   &:hover
//     .tooltiptext
//       visibility visible
//       opacity 1








// .filters-link-lg
//   display block

// .filters-link-sm
//   display none

// .party_flags_recommendations_list
//   display inline-block


// @-webkit-keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }
// @keyframes fadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }


// @media (max-width: 767px)

  // .tools-section
  // .dataTables_length
  //   text-align center
  // .dataTables_info
  //   float none
  // .js-ocid
  //   float none
  //   text-align center
  //   margin-right 0
  //   a.button-link
  //     display block
  // .js-amount
  //   margin-bottom 30px
  //   text-align center
  // .filters-link-lg
  //   display none
  // .filters-link-sm
  //   display block
  // .advance-filters
