html, body
  height 100%
  margin 0

#content
  min-height 100%
  margin 0 auto -20px;

// #content-searcher
//   min-height 100%
//   margin 0 auto -50px

@media (max-width: 991px)
  #content
    margin 0 auto
  // #content-searcher
  //   margin 0 auto

// TEXT STYLES
.buyer-text, .buyer-text a, .buyer-contract-text, .buyer-contract-text a
  color #db2828 !important

.supplier-contract-text, .supplier-contract-text a, .supplier-text, .supplier-text a
  color #278529 !important

.funder-text, .funder-text a
  color #b6893e !important

.buyer-purchase-text, .buyer-purchase-text a
.supplier-purchase-text, .supplier-purchase-text a
.purchase-supplier-text, .purchase-supplier-text a
.purchase-buyer-text, .purchase-buyer-text a
  color #564102 !important

.text-darkgray
  color #5c5c5c !important

.text-white
  color #fff !important

.text-darkblue
  color $darkblue

.text-verydarkblue
  color $verydarkblue

.text-overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.serif-gray
  font-family serif
  color #5c5c5c

// BG COLORS
.bg-gray
  background-color #f6f6f6

.bg-darkblue
  background-color #110046

.bg-white
 background-color #ffffff

// BUTTONS
.btn
  border-radius 0
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s

// FORMS
input[type="email"]
  padding 10px
  margin-right 5px
  border-color #d3d3d3
  border-style solid
  border-width 1px
  margin-bottom 20px

.form-control
  border-radius 0








// SE QUEDA????
.button-link
  background-color #2b00f7
  color #fff !important
  border none
  padding 10px 12px
  white-space nowrap
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  cursor pointer
  &:hover
  &:focus
    color #fff
    background-color #2200c5
    text-decoration none

.important-button-link
  font-weight bold
  padding 15px 20px

.btn-filter
  background-color #9b9b9b
  color #fff
  border-radius 0
  padding 10px 12px
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  margin-right 5px
  margin-bottom 5px
  &:hover
  &:focus
    background-color #2d1c9d
    color #fff


[class*="col-"]
  width 100%
  float left

@media screen and (max-width: 576px)
  body
    font-size 0.8em

