.navbar
  img
    &.logo-horizontal
      width 10rem
  li.active a:after
    content ''
    position absolute
    bottom 4px
    left 50%
    width 80%
    height 2px
    background #fff

.bg-mainmenu
  background $verydarkblue

.navbar-toggler
  font-size: 1.5rem;

.navbar-dark .navbar-nav .nav-link
  font-size 1.1rem
  color rgba(255, 255, 255, 0.8)
  text-align center
  &:hover
    color rgba(255, 255, 255, 1)

.navbar-nav
  a
    display block
    position relative
    &:after
      content ''
      position absolute
      bottom 4px
      left 50%
      width 0%
      transform translateX(-50%)
      height 2px
      background #fff
      transition 0.35s
    &:hover:after
      width 80%

.navbar-brand
  margin-right: 0

//Para acomodar la barra de  notificaciones, borrar cuando ya  no esté la barra
.notificacion
  // position: absolute;
  width: 40%;
  margin: auto;
  top: 10px;
  justify-content: center;

.notificacion-close
  position: absolute
  right: 10px;
  top: 0;

@media (max-width: 678px)
  .notificacion
    display: none
// Termina barra de notificaciones

@media (max-width: 991px)
  .navbar-nav
    a
      &:hover:after
        width 40%
  .navbar
    li.active a:after
      width 40%

@media (max-width: 238px)
  .navbar
    img
        &.logo-horizontal
          width 8rem