nav.bar
  position fixed
  z-index 1999
  top 0
  height 5rem
  width 100%
  // background-color transparent
  padding 1rem
  transition all 0.3s ease
  transition-delay initial
  height 4rem

.none
  display none

.navbar-collapse.show
  background-color #110046

.navbar-collapse
  padding-right 15px
  padding-left 15px
  overflow-x visible
  -webkit-overflow-scrolling touch
  border-top 1px solid transparent
  -webkit-box-shadow inset 0 1px 0 rgba(255, 255, 255, .1)
  box-shadow inset 0 1px 0 rgba(255, 255, 255, .1)

.shrink
.fixed-nav
  display block
  height 4rem !important
  background-color #110046
  img
    &.logo-horizontal
      width 10rem
  form
    &.nav-form
      margin-top -3px
  .navbar-right
    display inline-block
    li.open a.dropdown-toggle
      background-color #2b00f7 !important
      border-color transparent
  .navbar-toggle .icon-bar
      background-color #fff

.fixed-nav
  form
    &.nav-form
       width 100%
      .autosuggest
        width 100%
  .fix-search
    position absolute
    width 40%
    right 0
    left 24%
  input[type=text].landing-search-inputtext
    border-color transparent

@media (max-width: 1210px)
  .fixed-nav
    .fix-search
      width 30%

.navbar-toggle
    margin-top 0

.navbar-header button
    margin-right 0 !important

#login-dropdown-list
  color white
  -webkit-transition all .35s
  -moz-transition all .35s
  transition all .35s
  &:hover
  &:focus
    background-color #2b00f7 !important

img
  &.logo-horizontal
    width 0
    transition all .5s ease
    background-color transparent
  &.logo
    width 714px
    margin auto
  &.name
    width 25rem
    vertical-align middle
    margin-left 1rem
  &.sources-icons
    width 10rem

.navbar-right
    margin: -35px 0 0 0
    display none
    & a
      color white
      -webkit-transition all .35s
      -moz-transition all .35s
      transition all .35s
      &:hover
      &:focus
        color #ffffff
        background-color transparent !important

.nav-link
  display inline-block
  vertical-align middle
  -webkit-transform perspective(1px) translateZ(0)
  transform perspective(1px) translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  position relative
  overflow hidden
  &:before
    content ""
    position absolute
    z-index -1
    left 51%
    right 51%
    bottom 0
    background #2b00f7
    height 4px
    -webkit-transition-property left, right
    transition-property left, right
    -webkit-transition-duration 0.3s
    transition-duration 0.3s
    -webkit-transition-timing-function ease-out
    transition-timing-function ease-out

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before
    left 0
    right 0

.collapse
  display none

.collapse.show
  display block

.navbar-collapse.show
  overflow-y auto

.nav>li
  position relative
  display block

.nav>li>a
  position relative
  display block
  padding 10px 15px

.navbar-header button
  margin-right 0 !important

.navbar-toggle
  position relative
  float right
  padding 9px 10px
  margin-top 8px
  margin-right 15px
  margin-bottom 8px
  background-color transparent
  background-image none
  border 1px solid transparent
  border-radius 4px

.navbar-toggle
  margin-top 0

.navbar-toggle:focus
  outline 0

.icon-navbar
  width 14px
  margin-right 2px

.icon-navbar-persons
  width 24px

@media (min-width: 768px)
  .navbar-nav>li
    float left

  // .navbar-nav>li>a
  //   padding-top 15px
  //   padding-bottom 15px

  .navbar-right
    float right !important

  .navbar-toggle
    display none

  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse
    margin-right 0
    margin-left 0

  .navbar-collapse
    &.collapse
      display block !important
      height auto !important
      padding-bottom 0
      overflow visible !important
  .navbar-collapse
    width auto
    border-top 0
    -webkit-box-shadow none
    box-shadow none


.shrink .navbar-right,
.fixed-nav .navbar-right
  display inline-block

.shrink .navbar-toggle .icon-bar,
.fixed-nav .navbar-toggle .icon-bar
  background-color #fff

.navbar-toggle
  .icon-bar
    display block
    width 22px
    height 2px
    border-radius 1px

.navbar-toggle
  .icon-bar
    & + .icon-bar
      margin-top 4px

@media only screen and (max-width: 992px)
  .navbar-nav
    float none !important
    margin-top 7.5px
  .navbar-toggle
    display block
  .navbar-collapse.collapse
    display none !important
  .collapse.show
    display block !important
    width 100%
  .navbar-collapse
    border-top 1px solid transparent
    -webkit-box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
    box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
  .navbar-nav
    & > li
      float none
  .fixed-nav
    .fix-search
      position sticky
      width 100%
      padding-left 17px
      padding-right 14px
  .shrink
  .fixed-nav
    .navbar-right
      width 100%
      padding 0
    form.nav-form, .fixed-nav form.nav-form
      width 100%
      text-align left
      margin-bottom 10px

// @media only screen and (max-width: 768px)

.alert-bar
  background: #f2f267c2;
  padding: 0.5em;
  margin: 2em 0.5em;
  position: relative;
  line-height: 2em;

  .hide-alert-bar
    position absolute
    top 0
    right 0
    cursor pointer
    line-height 3em
    padding 0 1em
