.home article
  margin-top 10%

    input[type="email"]
      padding 10px
      margin-right 5px
      border-color #d3d3d3
      border-style solid
      border-width 1px
      margin-bottom 20px

section.explore-data
    padding-top 0
    
.bg-image
    background-image url('../images/apis-bg.png')
    height 714px
    margin-left 50px
    background-size cover
    background-repeat no-repeat
    background-position center top

.tools-img
    width 150px

div.card-pad h3
  color #2b00f7
  text-align center

.triplet-text
  color #686868

.triplet-last-update
  font-size .7rem
  color #808080
  bottom 0

.sources-icons
    width 7rem


    
@media only screen and (max-width: 1299px)
    .bg-image
        height 500px
        margin 0