section.explore-data
    padding-top 0
    
.bg-image
    background-image url('../images/apis-bg.png')
    height 714px
    margin-left 50px
    background-size cover
    background-repeat no-repeat
    background-position center top

img
  &.logo
      width 714px
      margin auto
  &.name
      width 25rem
      vertical-align middle
      margin-left 1rem

.tools-img
    width 150px

div.card-pad h3
  color #2b00f7
  text-align center

.triplet-text
  color #686868

.triplet-last-update
  font-size .7rem
  color #595959
  bottom 0

.sources-icons
    width 7rem

.card-border
  border-width 2px
  border-style dotted
  border-color #3a32f9
  position relative

.card-pad
  overflow hidden
  padding 1rem

.card-image-container
  max-height 220px
  overflow hidden

.card-image
  display inline-block
  width 100%
  height 11rem
  overflow-y hidden
  overflow-x hidden

h2 .card-image-container
  font-size 2.5rem
  font-weight bold
  padding 1rem 0
  margin-bottom 3rem
  &.document-title
    color #21018b
    font-size 2.3rem
    margin 0

.landing-header
  background -webkit-gradient(linear, left top, left bottom, color-stop(88%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1))), url(../images/fondo-home.png) no-repeat top left #def /* safari4+,chrome */
  // height 100%
  width 100%
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  background-blend-mode lighten

.qqw-home 
  font-family 'Montserrat', sans-serif
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3
    margin-top 20px
    margin-bottom 10px

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6
    margin-top 10px
    margin-bottom 10px
  section
    &.landing-header,&.explore-data,&.proyectos,&.investigaciones,&.bg-gray
      padding-top 5rem
      padding-bottom 5rem
    &.profile
      padding-top 2rem
      padding-bottom 2rem
    &.profile-header
      padding-top 3rem
      padding-bottom 1rem
    &.country-mujeres
      padding-top 0
      padding-bottom 0
    &.data-sources
      background-color #f7f7f7
    &.proyectos
      background-color #110046
    &.investigaciones
      border-top 2px dotted #3a32f9
      h2
        font-weight bold
        text-align center
    &.tabs
      margin-top 2rem
      min-height 100vh
      h3
        font-size 1.5rem
        color #3a32f9
        margin-bottom 2rem
      h1
        font-size 2rem
        margin-bottom 2rem

.btn-search
  padding: 13.6px 20px;


div
  &.landing-header-content
    padding 4rem
    width 75%
    text-align center
    margin auto
    h1
      display inline-block
      margin-left 1rem
      font-size 4rem
    p
      display inline-block
      margin 7%
      font-size 1.5rem
      color #5c5c5c
      text-align center
      // font-family 'Montserrat', sans-serif
  &.landing-search
    text-align left
    p
      font-size 1rem
      color #2d1c9d
      margin 1rem auto 1rem auto
      &:first-child
        font-size 1.2rem
        color #2d1c9d
        margin .5rem auto 1rem auto
  &.card-pad
    h3 strong
      font-size 2rem
      margin-bottom .2rem
    h3
      font-size 1.5rem
      margin-bottom .7rem
  &.proyecto
    background-color #fff
    padding 1rem
    margin-bottom 2rem
    border 1px solid #2b00f7
    position relative
    .center-button
      position absolute
      margin 0.8rem auto
      bottom 0
      left: 0;
      right: 0;
  .proyecto-info-img
    display -ms-flexbox
    display flex
    -ms-flex 1 0 0%
    flex 1 0 0%
    img
      width 100%
    p
      margin-bottom 3rem
      padding-top 1rem
      font-size 1.1rem
  &.investigaciones-card
    .card-image-container
      width 220px
      height 140px
      float left
    .card-pad
      padding 0.5rem 1rem
      font-size 1.3em
    img
      height auto
      min-width 100%
      min-height 100%
    .center-button
      margin 0.2rem auto

  &.tab
    overflow hidden
    border 2px dotted #3a32f9
    background-color #f1f1f1
    button
      background-color inherit
      float left
      border none
      outline none
      cursor pointer
      padding 14px 16px
      transition 0.3s
      font-size 17px
      &:hover
        background-color #ddd
      &.active
        background-color #ccc

  &.document-header
    margin-bottom 2rem
    margin-top 6rem

  &.document-body
    padding 0 2rem 2rem 2rem

  &.search-card
    border-bottom 1px dashed #4d29ff
    padding 1.5rem 0
  &.content
    display block
    margin auto
    width 85%

.card-h3
  margin-top 0 !important

.proyectos
  h2
    color #fff

.proyecto-info
  margin-top 0

.proyecto
  button
    bottom 30px
    right 30px

.contacto-text
  text-align center
  p
    display inline-block
    font-size 2rem
  button
  a
    vertical-align super
    margin-top 1.5rem
    margin-left 2rem

.investigaciones.row
  height 400px
  h2
    color #150b58
  p
    font-size 1.5rem

@media only screen and (max-width: 557px)
  .card-image-container
    display none
@media only screen and (max-width: 557px)
  .button-link
    white-space normal

@media only screen and (max-width: 800px)
  .explore-card
    &.button-link
      color #2b00f7
      background-color #fff

@media only screen and (max-width: 700px)
  div
    &.landing-header-content
      padding 64px 0 0 0
      p
        font-size 1.2rem
    &.card-pad
      h3 strong
        font-size 2rem
        -webkit-margin-before .2rem
        -webkit-margin-after .2rem
    &.investigaciones-card
      position relative
  img
    &.name
      width 100%
      margin-left 0

@media only screen and (max-width: 768px)
  .explore-card
    &.button-link
      color #fff
      background-color #2b00f7
      padding 14px 14px
      font-size .9rem
    button
      width auto
  div
    &.proyecto
      img
        width 15rem
        display block
        margin auto
  .card-pad
    padding: 1rem 1rem 3rem;
    .button-link
      font-size 1rem
  .investigaciones.row
    height 400px
  .addinfo-box
    margin 3rem 0 0 0
  .investigaciones.row
    height auto
  .investigaciones-card
    .card-pad
      .button-link
        position inherit
        display block
        width 100%

@media only screen and (max-width: 870px)
  .explore-card
    &.button-link
      padding 9px
      font-size .7rem
  div
    &.landing-header-content
      width 90%

@media only screen and (max-width: 992px)
  .navbar-header
      float none
  .card-pad
    .button-link
      font-size 0.8rem
  .proyecto-info-img
    display block !important
    flex none !important
    
@media only screen and (max-width: 1299px)
    .bg-image
        height 500px
        margin 0

@media only screen and (max-width: 1300px)
  div
    .m-noflex
      display block
    .proyecto
      img
        width 100%
        margin auto

@media (max-width: 767px)
// Home
  .proyecto a
    font-size 13px
    white-space initial
  div .proyecto-info-img p
    margin-bottom: 5rem
  .important-button-link
    font-size 90%
  div.proyecto
    margin-right 0
  h2
    font-size 1.7rem
  .sources-icons
    width 4rem
  // search
  .text-left-sm
    text-align left !important
  section.explore-data
    padding-top 40px !important