.no-results
  
.autosuggest
  position relative
  display inline-block
  width 80%
  .search-input-spinner
    position absolute
    right 15px
    top 15px
    i
      color auxColor
  ul.suggestions
    background-color backgroundColor
    position absolute
    top 45px
    box-sizing border-box
    box-shadow 2px 2px 4px #000
    z-index 9999
    li
      margin .5em .5em .5em 1em
      i
        margin-right 5pt

header .navbar .autosuggest a, .autosuggest a
  color auxColor

header .navbar .autosuggest i, .autosuggest i
    color #ddd
