.no-results

.autosuggest
  position relative
  display inline-block
  width 80%
  .search-input-spinner
    position absolute
    right 15px
    top 15px
    i
      color auxColor
  ul.suggestions
    background-color backgroundColor
    position absolute
    top 45px
    box-sizing border-box
    box-shadow 2px 2px 4px #000
    z-index 9999
    li
      margin .5em .5em .5em 1em
      i
        margin-right 5pt

header .navbar .autosuggest a, .autosuggest a
  color auxColor

header .navbar .autosuggest i, .autosuggest i
    color #ddd

.tt-menu
  width 100%
  margin 5px 0
  padding 8px
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 5px
  -webkit-box-shadow 0 5px 10px rgba(0,0,0,.2)
  -moz-box-shadow 0 5px 10px rgba(0,0,0,.2)
  box-shadow 0 5px 10px rgba(0,0,0,.2)

.tt-menu, .gist
  text-align left

.tt-suggestion
  padding 3px 0
  font-size 18px
  line-height 24px
  text-decoration none !important
  color #5c5c5c !important

.tt-suggestion div:hover
  background-color #eaeaea
  cursor pointer
  color #2b00f7

.tt-dataset
  hr
    background-color #d2d2d2
    margin 5px 0

.tt-footer
  margin-top 10px
  // margin-bottom 5px
  display block
  margin-right 10px
  a
    color #2b00f7
    &:hover
      color #2200c5



@media only screen and (max-width: 1200px)
  .tt-footer
    display block


.supplier-hidden
  display none

// .button-search
//
