.warning-data
  border: 2px solid $red
  padding-right: 15px
  padding-left: 15px
  h5
    margin-top: 1rem
  .warning-title
    &::after
      display: inline-block
      width: 0
      height: 0
      margin-left: .255em
      vertical-align: .255em
      content: ""
      border-top: .3em solid
      border-right: .3em solid transparent
      border-bottom: 0
      border-left: .3em solid transparent
    &:hover
      cursor: pointer
  .disclaimer
    background: rgba(255,199,0,0.25)
    padding: 10px
    p
      margin-bottom: 0

#all-contracts
  margin: 2rem 0
  padding: 2rem 1rem 1rem
  -webkit-box-shadow: 0px 4px 10px -3px #b0b0b0;
  -moz-box-shadow: 0px 4px 10px -3px #b0b0b0;
  box-shadow: 0px 4px 10px -3px #b0b0b0;

#product-profile
  .embed-responsive-customized::before
      padding-top: 57%

#reportar-desabasto
  .nav-pills .desabasto-form-link.active, .nav-pills .show > .desabasto-form-link
      color: #fff !important
      background-color: $blue !important

.related-products
  .index-list-title a
      font-size: 1.1em
      font-weight: normal

// SADICO Banner
.bg-sadico
  background: #F6F1DF !important
  .box-title-section
    background: #e1ae5a55
  .box-title-icon
    color #564102
    background: #f2b707
  .description-data-subtitle
    color #564102
  .media
    padding-top: 1.2rem
  .sadico-logo
    img
      width 250px
      margin 0 2rem 0 0
  .banner-text
    font-size: 1.1rem
    font-weight: bold
  .btn-sadico
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: #f2b707;
    -webkit-transition: background-color 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
    color: #333;
    font-weight: 700;
    text-align: center;
    &:hover
      background-color: #e6ae07;
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);

@media (max-width: 1440px)
  #product-profile
    .embed-responsive-customized::before
        padding-top: 85%


@media (max-width: 767px)
  .bg-sadico
    .media
      display: block
    .sadico-logo
      text-align: center
      img
        margin 0 1rem 1rem 0