.index-list-title
    margin-bottom 1rem
    a 
        font-weight bold
        color #4e4e4e
        font-size 1.5rem
        text-transform uppercase

.index-list-elements
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -webkit-flex-direction row
    -ms-flex-direction row
    flex-direction row
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center

    .left-elements
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align center
        -webkit-align-items center
        -ms-flex-align center
        align-items center
        -webkit-box-flex 0
        -webkit-flex 0 auto
        -ms-flex 0 auto
        flex 0 auto

    .right-elements
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align center
        -webkit-align-items center
        -ms-flex-align center
        align-items center
        -webkit-box-flex 0
        -webkit-flex 0 auto
        -ms-flex 0 auto
        flex 0 auto

.index-list-element
    margin-right 20px
    color #9b9b9b

.index-list-item
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center

.index-list-group
    -webkit-box-flex 1
    -webkit-flex 1
    -ms-flex 1
    flex 1

.index-list-button
    -webkit-box-flex 0
    -webkit-flex 0 auto
    -ms-flex 0 auto
    flex 0 auto
    font-size 2rem

.hr-index
    margin-bottom 20px

.document-description
    margin-top 10px

@media screen and (max-width: 767px) {
  .index-list-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px)
    .left-elements
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    .right-elements
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    .index-list-elements
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    .index-list-item
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    .index-list-group
        -webkit-box-flex 1
        -webkit-flex 1
        -ms-flex 1
        flex 1 