// FILTERS
.filters-shadow
        -webkit-box-shadow: 0px 4px 10px -3px #d7d7d7;
        -moz-box-shadow: 0px 4px 10px -3px #d7d7d7;
        box-shadow: 0px 4px 10px -3px #d7d7d7;

.filters
    position fixed
    top 57px
    z-index 1
    width 100%
    padding-top 0
    padding-bottom 0
    .collection-filter
        border: 1px solid #370bc2
        border-radius 3px
        background: #eef
        margin-top: 5px
        margin-bottom: 4px !important
        a span
            font-weight: bold
        &.show a, a:hover
            background-color: #d4ccfd !important

    .nav-item
        margin-left 10px
        margin-bottom 10px
        max-width 150px
        text-align left
        min-width 100px
    .sortDirection-filter
        min-width auto !important
    .dropdown-menu-morefilters
        border 1px solid rgba(0,0,0,.15)
        background-color #e6e6e6
        width calc(100% - 607px)
        position absolute
        left 5px
        padding 11px 10px 0
        // max-height calc(100vh - 140px)
        overflow auto
        margin-left: 109px
        .selection-filter-box
            max-width: none
            overflow visible
            display none
            .filter-selected
                display none
            &.with-value
                margin: 0 0 0.5rem 1rem;
                display inline-block !important
                .filter-selected
                    display inline
                .dropdown-menu
                    margin-top -22px !important
        .filter-title
            font-weight: bold
            border-bottom: none !important
            justify-content: flex-start !important

        .dropdown-menu
            transform: none !important
            position static !important
            width 100% !important
            background-color #e6e6e6
            border none !important
            padding 0 !important
            margin-bottom 1em
            h6
                display none
        .nav-item
            max-width none
            width calc(100% - 20px)
            border-bottom 4px solid
            border-color white
            overflow hidden
        .nav-link
            padding: .5rem 0rem
        p.ml-2, fieldset.ml-2
            margin-left: 0 !important
        input.input-string
            margin-left: 0 !important
        .tt-menu
            position relative !important

    .type-filter
        border-right 3px solid $main-color
        margin-left 0
    .filter-dropdown
        position static !important
    .filter-dropdown-menu
        margin-top 0px !important
        width calc(100% - 125px)!important
        background-color #e6e6e6
        padding 1rem

        // text-align center
    .filter-dropdown-item
        white-space normal
        p
            margin 0
    .filter-type-description
        font-size 0.7em
    .filter-dropdown-item.active, .filter-dropdown-item:active
        color #16181b
        background-color #f8f9fa
    .dropdown-toggle::after
        display none
        // font-family "Font Awesome 5 Free"
        // font-weight 900
        // content "\f078"
        // border none
        // position: absolute;
        // right: 4px;
    .dropdown-tools::after
        display none
    .icon-tools
        font-size 1.7rem
        margin-top 5px
    .dropdown-divider
        border-top 1px solid #ffffff
    .filter-title, .filter-title-simple
        color $light-text-color
        font-size 0.8rem
        border-radius 0
        border-bottom 2px solid transparent
        overflow hidden
        white-space nowrap
        text-overflow ellipsis !important
        text-transform uppercase
        position relative
        &.dropdown-tools
            display block
    .filter-title
        display flex
        width 100%
        align-items center
        justify-content space-between
        span
            overflow hidden
            white-space nowrap
            text-overflow ellipsis !important
        i
            margin-left 2px

    .filter-title-simple
        display block
        padding 0.5rem 1rem
        margin 0
    .filter-selected
        &.simple
            padding 4px 1rem
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            max-width 200px
            // display flex !important
            // align-content center !important
    .filter-title:hover
        background-color #e6e6e6
    .nav-pills .show > .nav-link
        color #595959
        background-color #e6e6e6
        border-bottom 2px solid #4d4d4d
    .filter-item
        padding 0.25rem 1.5rem
    .btn-filter-states
        background-color #ffffff !important

    input.input-string
        width 70%
        // margin-left 0.5rem
        margin-right 0.5rem
        display inline-block
    input.input-minmax
        width 200px !important
        margin-left 0.5rem
    input.input-date
        width 200px !important
        margin-right 0.5rem
        padding 5px
        // background-image url(../images/calendar.png)
        // background-repeat no-repeat
        // background-position 6px
        border-width 1px
        border-color #d3d3d3
        border-style solid

    //Hide all filters, then show only filters ofr the current collection
    .filter-element
      display none

    .filter-collection-all
      display block

    ul.filter-active-collection-all .filter-collection-all-only
      display block

    ul.filter-active-collection-companies .filter-collection-companies
      display block

    ul.filter-active-collection-contracts .filter-collection-contracts
      display block

    ul.filter-active-collection-institutions .filter-collection-institutions
      display block

    ul.filter-active-collection-persons .filter-collection-persons
      display block

    ul.filter-active-collection-areas .filter-collection-areas
      display block

    ul.filter-active-collection-products .filter-collection-products
      display block

    // .left-box
    //     overflow hidden
    //     width calc(100% - 400px)
    //     #filtersList
    //         // flex-wrap nowrap
    .show_all_options
        color: $blue
        border-color: $blue
        &:hover
            background-color: $blue !important
            color: #ffffff

    .filter-line
        background-color: #cacaca

.selector-filter-type
    padding 4px 8px 2px
    font-weight bold
    max-width 140px
    p
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

.selection-filter-box
    background-color #e6e6e6
    padding 4px 8px 2px
    overflow hidden
    // white-space nowrap
    text-overflow ellipsis
    max-width 200px
    display: flex !important;
    align-content center!important

.with-value
    background-color $darkblue
    color #ffffff
    .close
        color #ffffff
        margin-top -2px

.filter-selected
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    margin 1px 0 0

// RESULTS
.collection-title
    color $darkblue
    font-size 2rem

.error
.results-list
    padding 10rem 5rem 0
.sources-list
    padding 1rem 5rem 3rem
    background-color #ffffff

.index-list-title
    margin-bottom 0.4rem
    a
        font-weight bold
        color #4e4e4e
        font-size 1.3rem
        text-transform uppercase


.index-list-elements
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -webkit-flex-direction row
    -ms-flex-direction row
    flex-direction row
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align start
    -webkit-align-items start
    -ms-flex-align start
    align-items start
    font-size 0.9em
    p, span
        color $gray

    a p
        color #2b00f7

    .full-elements
    .left-elements
    .right-elements
        // display -webkit-box
        // display -webkit-flex
        // display -ms-flexbox
        // display flex
        // max-width: 100%

    .left-elements
    .right-elements
        position static
        // padding 0

        div
            float right
        // max-width: 50%


        // -webkit-box-pack justify
        // -webkit-justify-content space-between
        // -ms-flex-pack justify
        // justify-content space-between
        // -webkit-box-align start
        // -webkit-align-items start
        // -ms-flex-align start
        // align-items start
        // -webkit-box-flex 0
        // -webkit-flex 0 auto
        // -ms-flex 0 auto
        // flex 0 auto

        // display -webkit-box
        // display -webkit-flex
        // display -ms-flexbox
        // display flex
        // -webkit-box-pack justify
        // -webkit-justify-content space-between
        // -ms-flex-pack justify
        // justify-content space-between
        // -webkit-box-align start
        // -webkit-align-items start
        // -ms-flex-align start
        // align-items start
        // -webkit-box-flex 0
        // -webkit-flex 0 auto
        // -ms-flex 0 auto
        // flex 0 auto
        // float right
        .area-company
            position absolute
            right calc(60px + 13% * 0)
            text-align: right
        .area-shareholder
            position absolute
            right calc(60px + 14% * 1)
            text-align: right
        .area-proveedor
            position absolute
            right calc(60px + 14% * 2)
            text-align: right
        .area-boardmember
            position absolute
            right calc(60px + 14% * 3)
            text-align: right
        .area-funcionario
            position absolute
            right calc(60px + 14% * 4)
            text-align: right
        .area-institution
            position absolute
            right calc(60px + 14% * 5)
            text-align: right



.index-list-element
    margin-right 1em

.index-list-item
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center
    padding: 10px 0 14px

    p, span
        margin-top 0
        margin-bottom 0
        max-height: 1.5em
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap;

.index-list-group
    -webkit-box-flex 1
    -webkit-flex 1
    -ms-flex 1
    flex 1
    width 90%
    overflow hidden

.index-list-button
    -webkit-box-flex 0
    -webkit-flex 0 auto
    -ms-flex 0 auto
    flex 0 auto
    font-size 2rem

.hr-index
    margin 0.85em 0
    background-color #ddd

.document-description //QUE ES ESTO?
    margin-top 10px


// PAGINATION

.pagination
    flex-wrap wrap
.page-link
    color $light-text-color
    &:hover
        color $main-color

.page-item.active .page-link
    z-index 0
    color #fff
    background-color $link-hover-color
    border-color $link-hover-color

.input-group-prepend .btn, .input-group-append .btn
    z-index 0

.page-ellipsis
    position relative
    display block
    padding 0.5rem 0.2rem
    margin-left -1px
    line-height 1.25
    background-color #fff
    border-left 1px solid #dee2e6
    border-right 1px solid #dee2e6

.dropdown-menu
    .easy-search-input-filter
        width 99% !important
        margin-top -6.5px
    .form-control:focus
        color: #495057
    .twitter-typeahead
        width 70% !important
    input[readonly]
     color #9e9e9e

.center
    text-align center

.btn-light:not(:disabled):not(.disabled).active
    color #ffffff
    background-color $darkblue
    border-color $darkblue

.date-graph
    transform rotate(90deg)
    white-space: nowrap
    margin: 15px auto 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;

.search-totalscore
    font-size: 1.1rem
    font-weight: bold

// RESPONSIVE VIEWS
@media screen and (max-width: 1270px)
    .index-list-elements
        .right-elements
            .area-shareholder
                right calc(60px + 15.5% * 1)
            .area-proveedor
                right calc(60px + 15% * 2)
            .area-boardmember
                right calc(60px + 15.5% * 3)
            .area-funcionario
                right calc(60px + 15% * 4)
            .area-institution
                right calc(60px + 15% * 5)

    .pagination-container
        .w-50
            width: 100% !important

@media screen and (max-width: 1200px)
    .filters
        .dropdown-menu-morefilters
            width 100%
            margin-left: 0

@media screen and (max-width: 991px)
    .filters
        top 56px
    .index-list-elements
        .right-elements
            padding-right: 20px
            .area-institution,
            .area-owner,
            .area-company,
            .area-proveedor,
            .area-person,
            .area-funcionario,
            .area-boardmember,
            .area-shareholder
                position static


@media screen and (max-width: 767px)
    .page-break
        margin-bottom 2rem !important
        text-align center
        margin auto
        .input-group
            margin auto
    .pagination-container
        h6
            font-size 0.8rem
        .input-group-lg
            & > .form-control
                font-size 1rem
            .input-group-append > .btn
                font-size 1rem
        .form-control-lg
            font-size 1rem

    .page-results
        margin-top 2rem
        text-align center !important
        .form-group
            select
                float none !important
                margin auto

    .index-list-item
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-orient horizontal
        -webkit-box-direction normal
        -webkit-flex-direction row
        -ms-flex-direction row
        flex-direction row
        -webkit-box-align center
        -webkit-align-items center
        -ms-flex-align center
        align-items center
    .index-list-group
        -webkit-box-flex 1
        -webkit-flex 1
        -ms-flex 1
        flex 1
    .index-list-button
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
    .filters
        .filter-dropdown-menu, .dropdown-menu-morefilters
            width: calc(100% - 10px) !important

@media screen and (max-width: 590px)
    .emphasis-color-text
        font-size: 0.8rem
    .filters
        .filter-title
            font-size: 0.7rem
        .filter-selected.simple
            font-size 0.8rem
            margin-top -4px
        .filter-title.dropdown-tools, .filters .filter-title-simple.dropdown-tools
            font-size 0.7rem
            .icon-tools
                font-size 1.3rem
        .nav-item.general-filters
            margin-left 0
            max-width none
            min-width auto
    .collection-title
        font-size 1.5rem

@media (min-width: 576px)
    .filters
        .form-inline .form-control
            width 50%

@media (max-width: 576px)
    .error, .results-list, .sources-list
        padding-left 0
        padding-right 0
    .index-list-title a
        font-size 0.9rem

@media screen and (max-width: 492px)
    .results-items
        display none
    .nav-item.more-filters-dropdown
        margin-left 0
        max-width none
        min-width auto
    .error, .results-list
        padding-top: 9rem

@media screen and (max-width: 364px)
    .filters
        .filter-selected.simple
            font-size 0.6rem
            margin-top -4px
        .filter-title.dropdown-tools, .filters .filter-title-simple.dropdown-tools
            font-size 0.6rem
            .icon-tools
                font-size 1.2rem
        .nav-link.dropdown-tools
            padding: 0.5rem
        .nav-item
            margin-bottom: 0
    .collection-title
        font-size 1.2rem
    .error, .results-list
        padding-top: 8rem