// FILTERS

.filters
    position fixed
    top 60px
    z-index 1
    width 100%
    padding-top 0
    padding-bottom 0
    .nav-item
        margin-left 10px
        min-width 100px
    .type-filter
        border-right 3px solid $main-color
        margin-left 0
    .filter-dropdown
        position static !important  
    .filter-dropdown-menu
        margin-top 0px !important  
        width 100% !important 
        background-color #e6e6e6
        padding 1rem
    .filter-dropdown-menu-tools
        background-color #e6e6e6
        padding 1rem
        min-width 240px
    .filter-dropdown-item
        white-space normal
    .filter-dropdown-item.active, .filter-dropdown-item:active
        color #16181b
        background-color #f8f9fa
    .dropdown-toggle::after
        font-family "Font Awesome 5 Free"
        font-weight 900
        content "\f078"
        float right
        border none
    .dropdown-tools::after
        display none
    .icon-tools
        font-size 1.7rem
        margin-top 5px
    .dropdown-divider
        border-top 1px solid #ffffff
    .filter-title, .filter-title-simple
        color #595959
        font-size 0.9rem
        border-radius 0
        border-bottom 2px solid transparent
    .filter-title-simple
        display block
        padding 0.5rem 1rem
        margin 0
    .filter-selected
        &.simple
            padding: 4px 8px 2px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 200px;
            display: flex !important;
            align-content: center !important;
    .filter-title:hover
        background-color #e6e6e6
    .nav-pills .show > .nav-link
        color #595959
        background-color #e6e6e6
        border-bottom 2px solid #4d4d4d
    .filter-item
        padding 0.25rem 1.5rem
    .btn-filter-states
        background-color #ffffff !important
.selector-filter-type
    padding 4px 8px 2px
    font-weight bold

.selection-filter-box
    background-color #e6e6e6
    padding 4px 8px 2px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 200px
    display: flex !important;
    align-content: center!important;

.filter-selected
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    margin 1px 0 0

.social-share-icons
    a 
        font-size 2.5rem
        color $darkgray !important
        &:hover
            color $link-hover-color !important

@media (min-width: 576px)
    .filters
        .form-inline .form-control
            width 50%







.index-list-title
    margin-bottom 1rem
    a 
        font-weight bold
        color #4e4e4e
        font-size 1.5rem
        text-transform uppercase

.index-list-elements
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -webkit-flex-direction row
    -ms-flex-direction row
    flex-direction row
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center
    p 
        color #9b9b9b

    a p 
        color #2b00f7

    .left-elements
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items start
        -ms-flex-align start
        align-items start
        -webkit-box-flex 0
        -webkit-flex 0 auto
        -ms-flex 0 auto
        flex 0 auto

    .right-elements
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items start
        -ms-flex-align start
        align-items start
        -webkit-box-flex 0
        -webkit-flex 0 auto
        -ms-flex 0 auto
        flex 0 auto
        // float right

.index-list-element
    margin-right 20px

.index-list-item
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center

.index-list-group
    -webkit-box-flex 1
    -webkit-flex 1
    -ms-flex 1
    flex 1

.index-list-button
    -webkit-box-flex 0
    -webkit-flex 0 auto
    -ms-flex 0 auto
    flex 0 auto
    font-size 2rem

.hr-index
    margin-bottom 20px

.document-description
    margin-top 10px

@media screen and (max-width: 767px)
  .index-list-elements
    span 
        display none
    // -webkit-box-orient vertical
    // -webkit-box-direction normal
    // -webkit-flex-direction column
    // -ms-flex-direction column
    // flex-direction column
    // -webkit-box-align stretch
    // -webkit-align-items stretch
    // -ms-flex-align stretch
    // align-items stretch
    span 
        display none

@media screen and (max-width: 479px)
    .left-elements
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    .right-elements
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        -webkit-box-pack justify
        -webkit-justify-content space-between
        -ms-flex-pack justify
        justify-content space-between
        -webkit-box-align start
        -webkit-align-items flex-start
        -ms-flex-align start
        align-items flex-start
    // .index-list-elements
    //     -webkit-box-orient vertical
    //     -webkit-box-direction normal
    //     -webkit-flex-direction column
    //     -ms-flex-direction column
    //     flex-direction column
    //     -webkit-box-pack justify
    //     -webkit-justify-content space-between
    //     -ms-flex-pack justify
    //     justify-content space-between
    //     -webkit-box-align start
    //     -webkit-align-items flex-start
    //     -ms-flex-align start
    //     align-items flex-start
    .index-list-item
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-orient horizontal
        -webkit-box-direction normal
        -webkit-flex-direction row
        -ms-flex-direction row
        flex-direction row
        -webkit-box-align center
        -webkit-align-items center
        -ms-flex-align center
        align-items center
    .index-list-group
        -webkit-box-flex 1
        -webkit-flex 1
        -ms-flex 1
        flex 1
    .index-list-button
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column





// SE PUEDE USAR?
.search-label
  color #9C9C9C
  // text-transform uppercase
  margin-bottom .3rem
  margin-top .8rem
  line-height 1.2rem

  &.selected
  &:hover p
  &:focus p
    color #21018b
    text-decoration none
    font-weight bold

.search-card
    overflow hidden

.search-results-header
  display flex
  align-items center

.search-result-title
  & a
    color #4e4e4e
.search-result-title
.description-data-name h3
.description-data-title h3
  font-weight bold
  color #4e4e4e
  margin-bottom 0.7rem
  font-size 1.5rem
  text-transform uppercase

.dataTables_info
// .dataTables_length label
  padding-top 0 !important
  font-size .9rem
  font-weight bold !important
  color #21018b
  line-height 1.8rem
  float right

.dataTables_length
  text-align right
  padding-top 0.65rem
  font-weight normal !important
  font-size 0.9rem
  color #585858

.doc-download-link
  font-size 12px
  color #2b00f7 !important

.doc-download-link:hover
  color #21018b !important
  background transparent !important