.emphasis-color-text {
  color: #2d1c9d !important;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.42857143;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #2b00f7;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:focus {
  color: #2d1c9d;
  text-decoration: underline;
}
hr {
  background-color: #999;
  height: 1px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-light:hover {
  background-color: #2d1c9d;
  border-color: #2d1c9d;
  color: #fff;
}
.btn-light:focus,
.btn-light:active {
  background-color: #2b00f7 !important;
  border-color: #2b00f7 !important;
  color: #fff !important;
}
.btn-primary {
  background-color: #2b00f7;
  border-color: #2b00f7;
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #2d1c9d;
}
.btn-primary:focus,
.btn-primary:active {
  background-color: #2d1c9d !important;
  border-color: #2d1c9d !important;
  color: #fff !important;
}
.btn-secondary {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.menu-bar {
  background: #110046;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.button_container {
  position: absolute;
  top: 16px;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #fff;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #110046;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 3;
}
.overlay #search-header {
  padding-top: 70px;
  text-align: center;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(5) {
  animation-delay: 0.55s;
}
.overlay.open li:nth-of-type(6) {
  animation-delay: 0.6s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 6);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 40%;
}
img.logo-horizontal {
  width: 10rem;
  margin: 1.1rem 2%;
}
img.logo {
  width: 714px;
  margin: auto;
}
img.name {
  width: 25rem;
  vertical-align: middle;
  margin-left: 1rem;
}
.icon-navbar {
  width: 20px;
  margin-right: 10px;
  margin-top: -6px;
}
.icon-navbar-persons {
  width: 35px;
}
@media (max-width: 768px) {
  .overlay nav {
    font-size: 25px;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
#content {
  min-height: 100%;
}
.red-text {
  color: #db2828 !important;
}
.green-text {
  color: #278529 !important;
}
.funder-text {
  color: #b6893e !important;
}
.text-darkgray {
  color: #5c5c5c !important;
}
.text-white {
  color: #fff !important;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.serif-gray {
  font-family: serif;
  color: #5c5c5c;
}
.bg-gray {
  background-color: #f7f7f7;
}
.bg-darkblue {
  background-color: #110046;
}
.btn {
  border-radius: 0;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
input[type="email"] {
  padding: 10px;
  margin-right: 5px;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}
.form-control {
  border-radius: 0;
}
.button-link {
  background-color: #2b00f7;
  color: #fff;
  border: none;
  padding: 10px 12px;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.button-link:hover,
.button-link:focus {
  color: #fff;
  background-color: #2200c5;
  text-decoration: none;
}
.important-button-link {
  font-weight: bold;
  padding: 15px 20px;
}
.btn-filter {
  background-color: #9b9b9b;
  color: #fff;
  border-radius: 0;
  padding: 10px 12px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  margin-right: 5px;
  margin-bottom: 5px;
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: #2d1c9d;
  color: #fff;
}
.contract-button {
  margin-top: 3rem;
}
[class*="col-"] {
  width: 100%;
  float: left;
}
section.explore-data {
  padding-top: 0;
}
.bg-image {
  background-image: url("../images/apis-bg.png");
  height: 714px;
  margin-left: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.tools-img {
  width: 150px;
}
div.card-pad h3 {
  color: #2b00f7;
  text-align: center;
}
.triplet-text {
  color: #686868;
}
.triplet-last-update {
  font-size: 0.7rem;
  color: #808080;
  bottom: 0;
}
.sources-icons {
  width: 7rem;
}
.card-border {
  border-width: 2px;
  border-style: dotted;
  border-color: #3a32f9;
  position: relative;
}
.card-pad {
  overflow: hidden;
  padding: 1rem;
}
.card-image-container {
  max-height: 220px;
  overflow: hidden;
}
.card-image {
  display: inline-block;
  width: 100%;
  height: 11rem;
  overflow-y: hidden;
  overflow-x: hidden;
}
h2 .card-image-container {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
h2 .card-image-container.document-title {
  color: #21018b;
  font-size: 2.3rem;
  margin: 0;
}
.landing-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(88%, rgba(255,255,255,0)), color-stop(100%, #fff)), url("../images/fondo-home.png") no-repeat top left #def /* safari4+,chrome */;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
}
div.landing-header-content {
  padding: 4rem;
  width: 75%;
  text-align: center;
  margin: auto;
}
div.landing-header-content h1 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 4rem;
}
div.landing-header-content p {
  display: inline-block;
  margin: 7%;
  font-size: 1.5rem;
  color: #5c5c5c;
  text-align: center;
}
div.landing-search {
  text-align: left;
}
div.landing-search p {
  font-size: 1rem;
  color: #2d1c9d;
  margin: 1rem auto 1rem auto;
}
div.landing-search p:first-child {
  font-size: 1.2rem;
  color: #2d1c9d;
  margin: 0.5rem auto 1rem auto;
}
div.card-pad h3 strong {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}
div.card-pad h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
div.proyecto {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #2b00f7;
  position: relative;
}
div.proyecto .center-button {
  position: absolute;
  margin: 0.8rem auto;
  bottom: 0;
  left: 0;
  right: 0;
}
div .proyecto-info-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}
div .proyecto-info-img img {
  width: 100%;
}
div .proyecto-info-img p {
  margin-bottom: 3rem;
  padding-top: 1rem;
  font-size: 1.1rem;
}
div.investigaciones-card .card-image-container {
  width: 220px;
  height: 140px;
  float: left;
}
div.investigaciones-card .card-pad {
  padding: 0.5rem 1rem;
  font-size: 1.3em;
}
div.investigaciones-card img {
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
div.investigaciones-card .center-button {
  margin: 0.2rem auto;
}
div.tab {
  overflow: hidden;
  border: 2px dotted #3a32f9;
  background-color: #f1f1f1;
}
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
div.tab button:hover {
  background-color: #ddd;
}
div.tab button.active {
  background-color: #ccc;
}
div.document-header {
  margin-bottom: 2rem;
  margin-top: 6rem;
}
div.document-body {
  padding: 0 2rem 2rem 2rem;
}
div.search-card {
  border-bottom: 1px dashed #4d29ff;
  padding: 1.5rem 0;
}
div.content {
  display: block;
  margin: auto;
  width: 85%;
}
.card-h3 {
  margin-top: -10px;
}
.proyectos h2 {
  color: #fff;
}
.proyecto-info {
  margin-top: 0;
}
.proyecto button {
  bottom: 30px;
  right: 30px;
}
.contacto-text {
  text-align: center;
}
.contacto-text p {
  display: inline-block;
  font-size: 2rem;
}
.contacto-text button,
.contacto-text a {
  vertical-align: super;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.investigaciones.row {
  height: 400px;
}
.investigaciones.row h2 {
  color: #150b58;
}
.investigaciones.row p {
  font-size: 1.5rem;
}
@media only screen and (max-width: 557px) {
  .card-image-container {
    display: none;
  }
}
@media only screen and (max-width: 557px) {
  .button-link {
    white-space: normal;
  }
}
@media only screen and (max-width: 800px) {
  .explore-card.button-link {
    color: #2b00f7;
    background-color: #fff;
  }
}
@media only screen and (max-width: 700px) {
  div.landing-header-content {
    padding: 64px 0 0 0;
  }
  div.landing-header-content p {
    font-size: 1.2rem;
  }
  div.card-pad h3 strong {
    font-size: 2rem;
    -webkit-margin-before: 0.2rem;
    -webkit-margin-after: 0.2rem;
  }
  div.investigaciones-card {
    position: relative;
  }
  img.name {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .explore-card.button-link {
    color: #fff;
    background-color: #2b00f7;
    padding: 14px 14px;
    font-size: 0.9rem;
  }
  .explore-card button {
    width: auto;
  }
  div.proyecto img {
    width: 15rem;
    display: block;
    margin: auto;
  }
  .card-pad {
    padding: 1rem 1rem 3rem;
  }
  .card-pad .button-link {
    font-size: 1rem;
  }
  .investigaciones.row {
    height: 400px;
  }
  .addinfo-box {
    margin: 3rem 0 0 0;
  }
  .investigaciones.row {
    height: auto;
  }
  .investigaciones-card .card-pad .button-link {
    position: inherit;
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 870px) {
  .explore-card.button-link {
    padding: 9px;
    font-size: 0.7rem;
  }
  div.landing-header-content {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .card-pad .button-link {
    font-size: 0.8rem;
  }
  .proyecto-info-img {
    display: block !important;
    flex: none !important;
  }
}
@media only screen and (max-width: 1299px) {
  .bg-image {
    height: 500px;
    margin: 0;
  }
}
@media only screen and (max-width: 1300px) {
  div .m-noflex {
    display: block;
  }
  div .proyecto img {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .proyecto a {
    font-size: 13px;
    white-space: initial;
  }
  div .proyecto-info-img p {
    margin-bottom: 5rem;
  }
  .important-button-link {
    font-size: 90%;
  }
  div.proyecto {
    margin-right: 0;
  }
  h2 {
    font-size: 1.7rem;
  }
  .sources-icons {
    width: 4rem;
  }
  .text-left-sm {
    text-align: left !important;
  }
  section.explore-data {
    padding-top: 40px !important;
  }
}
.autosuggest {
  position: relative;
  display: inline-block;
  width: 100%;
}
.autosuggest .search-input-spinner {
  position: absolute;
  right: 15px;
  top: 15px;
}
.autosuggest .search-input-spinner i {
  color: auxColor;
}
.autosuggest ul.suggestions {
  background-color: backgroundColor;
  position: absolute;
  top: 45px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #000;
  z-index: 9999;
}
.autosuggest ul.suggestions li {
  margin: 0.5em 0.5em 0.5em 1em;
}
.autosuggest ul.suggestions li i {
  margin-right: 5pt;
}
header .navbar .autosuggest a,
.autosuggest a {
  color: auxColor;
}
header .navbar .autosuggest i,
.autosuggest i {
  color: #ddd;
}
.tt-menu {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tt-menu,
.gist {
  text-align: left;
}
.tt-suggestion {
  padding: 3px 0;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none !important;
  color: #5c5c5c !important;
}
.tt-suggestion div:hover {
  background-color: #eaeaea;
  cursor: pointer;
  color: #2b00f7;
}
.tt-dataset hr {
  background-color: #d2d2d2;
  margin: 5px 0;
}
.tt-footer {
  margin-top: 10px;
  display: block;
  margin-right: 10px;
}
.tt-footer a {
  color: #2b00f7;
}
.tt-footer a:hover {
  color: #2200c5;
}
input[type=text].landing-search-inputtext {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  display: inline-block;
  border-color: #2b00f7;
}
input[type=submit].landing-search-inputtext {
  width: 15%;
  float: right;
  margin-right: 2em;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: #2b00f7;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .tt-footer {
    display: block;
  }
}
.profile-list-hidden,
.supplier-hidden {
  display: none;
}
.hilight {
  background: #ec0;
}
.supplier-list-item {
  margin-bottom: 0.1em;
}
@media only screen and (max-width: 700px) {
  input[type=submit].landing-search-inputtext {
    float: none;
    margin-top: 5px;
    width: 100%;
  }
  .autosuggest {
    width: 100% !important;
  }
}
.filters {
  position: fixed;
  top: 60px;
  z-index: 1;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.filters .nav-item {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 150px;
  text-align: left;
  min-width: 100px;
}
.filters .type-filter {
  border-right: 3px solid #2d1c9d;
  margin-left: 0;
}
.filters .filter-dropdown {
  position: static !important;
}
.filters .filter-dropdown-menu {
  margin-top: 0px !important;
  width: 100% !important;
  background-color: #e6e6e6;
  padding: 1rem;
}
.filters .filter-dropdown-menu-tools {
  background-color: #e6e6e6;
  padding: 1rem;
  min-width: 240px;
}
.filters .filter-dropdown-item {
  white-space: normal;
}
.filters .filter-dropdown-item.active,
.filters .filter-dropdown-item:active {
  color: #16181b;
  background-color: #f8f9fa;
}
.filters .dropdown-toggle::after {
  display: none;
}
.filters .dropdown-tools::after {
  display: none;
}
.filters .icon-tools {
  font-size: 1.7rem;
  margin-top: 5px;
}
.filters .dropdown-divider {
  border-top: 1px solid #fff;
}
.filters .filter-title,
.filters .filter-title-simple {
  color: #595959;
  font-size: 0.9rem;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  text-transform: uppercase;
  position: relative;
}
.filters .filter-title.dropdown-tools,
.filters .filter-title-simple.dropdown-tools {
  display: block;
}
.filters .filter-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.filters .filter-title span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}
.filters .filter-title i {
  margin-left: 2px;
}
.filters .filter-title-simple {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
}
.filters .filter-selected.simple {
  padding: 4px 8px 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: flex !important;
  align-content: center !important;
}
.filters .filter-title:hover {
  background-color: #e6e6e6;
}
.filters .nav-pills .show > .nav-link {
  color: #595959;
  background-color: #e6e6e6;
  border-bottom: 2px solid #4d4d4d;
}
.filters .filter-item {
  padding: 0.25rem 1.5rem;
}
.filters .btn-filter-states {
  background-color: #fff !important;
}
.filters input.input-string {
  width: 70%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}
.filters input.input-minmax {
  width: 200px !important;
  margin-left: 0.5rem;
}
.filters input.input-date {
  width: 200px !important;
  margin-right: 0.5rem;
  padding: 5px 5px 5px 25px;
  width: 100%;
  background-image: url("../images/calendar.png");
  background-repeat: no-repeat;
  background-position: 6px;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
}
.selector-filter-type {
  padding: 4px 8px 2px;
  font-weight: bold;
  max-width: 140px;
}
.selector-filter-type p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection-filter-box {
  background-color: #e6e6e6;
  padding: 4px 8px 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: flex !important;
  align-content: center !important;
}
.filter-selected {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1px 0 0;
}
.social-share-icons a {
  font-size: 2.5rem;
  color: #5c5c5c !important;
}
.social-share-icons a:hover {
  color: #2d1c9d !important;
}
.results-list {
  padding: 14rem 5rem 0;
}
.index-list-title {
  margin-bottom: 1rem;
}
.index-list-title a {
  font-weight: bold;
  color: #4e4e4e;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.index-list-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.index-list-elements p {
  color: #9b9b9b;
}
.index-list-elements a p {
  color: #2b00f7;
}
.index-list-elements .left-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.index-list-elements .right-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.index-list-element {
  margin-right: 20px;
}
.index-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.index-list-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 90%;
}
.index-list-button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 2rem;
}
.hr-index {
  margin-bottom: 20px;
}
.document-description {
  margin-top: 10px;
}
.pagination {
  flex-wrap: wrap;
}
.page-link {
  color: #595959;
}
.page-link:hover {
  color: #2d1c9d;
}
.page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #2d1c9d;
  border-color: #2d1c9d;
}
.input-group-prepend .btn,
.input-group-append .btn {
  z-index: 0;
}
@media (min-width: 576px) {
  .filters .form-inline .form-control {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .results-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .index-list-elements span {
    display: none;
  }
  .page-break {
    margin-bottom: 2rem !important;
    text-align: center;
    margin: auto;
  }
  .page-break .input-group {
    margin: auto;
  }
  .page-results {
    margin-top: 2rem;
    text-align: center !important;
  }
  .page-results .form-group select {
    float: none !important;
    margin: auto;
  }
  .left-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .right-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .index-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .index-list-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .index-list-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.text-orange {
  color: #ffa500;
}
.text-purple {
  color: #4900a3 !important;
}
.text-red {
  color: #eb004a;
}
#mujeresenlabolsa .logo-mujeres {
  width: 250px;
}
#mujeresenlabolsa .stockexchange-img {
  width: 95%;
  margin-top: 2rem;
}
#mujeresenlabolsa .data-icon {
  display: flex;
  align-items: center;
}
#mujeresenlabolsa .data-icon i {
  font-size: 3rem;
  margin-right: 5px;
}
#mujeresenlabolsa .data-icon .js-data {
  margin: 0;
  font-size: 1.5rem;
}
#mujeresenlabolsa .data-description {
  color: #9b9b9b;
  margin-top: 1.3rem;
}
#mujeresenlabolsa .container-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.stockexchange-mx {
  background: #4900a3 !important;
}
.stockexchange-out {
  background: #008075 !important;
}
.bg-purple {
  background: #4900a3;
}
.bg-purple-light {
  background: #f5f7ff;
}
.bg-green {
  background: #00cab9;
}
.text-gray {
  color: #9b9b9b;
}
.border {
  border-right: 1px solid #999;
}
.variations-container {
  padding: 3rem 2rem;
}
.flex-variations {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.data-icon-variations {
  font-size: 2.7rem;
  color: #fff;
  margin-right: 20px;
  text-align: right;
}
.variation-icon {
  font-size: 2rem;
  margin-right: 20px;
}
.variation-icon.fa-chevron-up {
  color: #12b616 !important;
}
.variation-icon.fa-chevron-down {
  color: #db2828 !important;
}
.variation-icon.fa-equals {
  color: #fff;
}
.icon-variations1 {
  width: 40px;
  margin-right: 20px;
}
.icon-variations2 {
  width: 35px;
  margin-right: 20px;
}
#variaciones p {
  margin-bottom: 0;
  color: #fff !important;
}
#variaciones p span.percentage,
#variaciones p span.number {
  font-weight: normal;
  font-size: 0.8rem;
  margin-left: 10px;
}
#variaciones p span.number {
  margin-left: 0;
}
#variaciones hr {
  margin-bottom: 20px !important;
}
.data-item-left {
  padding: 20px 10px 20px;
}
.data-item-right {
  padding: 20px 10px 20px 30%;
}
.org-logo {
  width: 150px;
  padding: 0 10px;
}
#empresas-mujeres-table_wrapper,
#empresas-mujeres-table {
  width: 100% !important;
  overflow-x: visible;
}
#empresas-mujeres-table_wrapper .description-data-company,
#empresas-mujeres-table .description-data-company {
  overflow: hidden;
  max-width: 30em;
}
@media (max-width: 992px) {
  .data-icon {
    margin-right: 10px;
  }
  .variation-icon {
    margin-right: 10px;
  }
  .icon-variations1 {
    margin-right: 10px;
  }
  .icon-variations2 {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .variation-icon {
    display: none;
  }
  .data-item-left {
    display: flex;
  }
  .flex-variations {
    justify-content: center;
  }
  .border {
    border-right: none;
  }
  .mt-mobile {
    margin-top: 3rem;
  }
  .description-data-title h3 {
    font-size: 1.5rem;
  }
}
.man-cards {
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  margin-right: 30px;
  min-width: 350px;
  margin-bottom: 60px;
}
.overflow-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.overflow-cards::-webkit-scrollbar {
  height: 15px;
}
.overflow-cards::-webkit-scrollbar-track:horizontal {
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.overflow-cards::-webkit-scrollbar-thumb:horizontal {
  background: #4900a3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.overflow-cards.scroller {
  scrollbar-color: #4900a3 #f7f7f7;
  scrollbar-width: auto;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.grid-2 {
  -ms-grid-columns: 0.5fr 1fr 1fr;
  grid-template-columns: 0.5fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}
.element-with-icon {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.icon {
  width: 20px;
}
.element-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .grid {
    -ms-grid-columns: 0.25fr 1fr 1fr;
    grid-template-columns: 0.25fr 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .grid {
    -ms-grid-columns: 0.5fr 1fr 1fr;
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}
#twenty-year {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}
#nineteen-year {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}
#element-icons-a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}
#element-icons-b {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}
#element-icons-c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}
#element-icons-d {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}
#element-icons-e {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}
#element-with-icon-a {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}
#element-with-icon-b {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
#element-with-icon-c {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}
#element-with-icon-d {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}
#element-with-icon-e {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}
#element-a {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}
#element-b {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
#element-c {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}
#element-d {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}
#element-e {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}
@media screen and (max-width: 489px) {
  .data-icon-variations {
    font-size: 2rem;
    margin-right: 10px;
  }
  .variation-icon {
    font-size: 1.5rem;
    margin-right: 0;
  }
  .icon-variations1 {
    width: 30px;
    margin-right: 10px;
  }
  .icon-variations2 {
    width: 25px;
    margin-right: 10px;
  }
  #variaciones p {
    font-size: 14px;
  }
}
@media screen and (max-width: 412px) {
  .element-icons {
    display: block;
    text-align: center;
  }
  .icon-variations1 {
    width: 30px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  .icon-variations2 {
    width: 25px;
    margin-right: 1px;
    margin-bottom: 3px;
  }
  .data-icon-variations {
    margin-right: 0;
  }
}
.type,
.description-data-subtitle {
  color: #2d1c9d;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.breadcrumb {
  padding-top: 2rem;
  margin-bottom: 20px;
}
.description-data-subname {
  font-size: 1.1rem;
  color: #5c5c5c;
  font-weight: bold;
}
.amount-data {
  color: #2d1c9d;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 5px;
}
#right-menu {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-left: 40px;
  position: absolute;
}
#right-menu ul {
  padding: 0 5px;
}
#right-menu li {
  color: #9b9b9b;
  text-decoration: none;
}
#right-menu li a {
  color: #9b9b9b;
  text-decoration: none;
  padding: 5px 10px !important;
}
#right-menu li a i {
  margin-right: 10px;
}
.menu-profile {
  margin-top: 0 !important;
}
.affix {
  top: 197px;
  position: fixed !important;
}
.addinfo {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.addinfo-box {
  margin-right: 0;
  margin: 0 0 3rem 3rem;
  text-align: center;
  font-size: 100%;
}
.addinfo-box h4 {
  font-weight: bold;
  color: #4e4e4e;
}
.addinfo-title {
  color: #2d1c9d;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.addinfo-form textarea,
.contact-template textarea {
  padding: 10px 5px;
}
.addinfo-form input[type="text"],
.contact-template input[type="text"] {
  padding: 20px 5px;
  margin-right: 5px;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 1px;
}
.addinfo-form label,
.contact-template label {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px;
}
.addinfo-box-logo {
  width: 250px;
  padding: 2rem 0;
  margin: auto;
}
#subscribe-popup .form-suscribe,
#login-dropdown-list .form-suscribe {
  margin-right: 10px;
}
#subscribe-popup .modal-dialog,
#login-dropdown-list .modal-dialog {
  margin: 100px auto 30px;
}
#subscribe-popup p,
#login-dropdown-list p {
  color: #5b5b5b;
  font-size: 1.1rem;
}
#subscribe-popup ul,
#login-dropdown-list ul {
  padding-left: 0;
}
#subscribe-popup li,
#login-dropdown-list li {
  list-style-type: none;
  color: #5b5b5b;
}
#subscribe-popup h2,
#login-dropdown-list h2 {
  color: #2d1c9d;
  font-weight: bold;
}
#subscribe-popup .modal-body,
#login-dropdown-list .modal-body {
  padding: 40px 15px;
}
#subscribe-popup label,
#login-dropdown-list label {
  color: #2d1c9d;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}
#subscribe-popup input,
#login-dropdown-list input {
  padding: 20px;
}
#subscribe-popup button,
#login-dropdown-list button {
  padding: 15px 25px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #2b00f7;
  text-transform: uppercase;
  color: #fff;
  border: none;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
#subscribe-popup button:hover,
#login-dropdown-list button:hover,
#subscribe-popup button:focus,
#login-dropdown-list button:focus {
  color: #fff;
  background-color: #2200c5;
  text-decoration: none;
}
#subscribe-popup .modal-content,
#login-dropdown-list .modal-content {
  background-color: #f6f6f6;
}
#subscribe-popup .at-form,
#login-dropdown-list .at-form {
  margin-top: -35px;
  margin-bottom: 0;
}
#chartSupplier svg,
#chartBuyer svg,
#chartFunder svg {
  height: 450px;
  width: 100%;
}
.nvd3 .nv-axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}
.nvd3.nv-line {
  fill-opacity: 0 !important;
}
.nvd3.nv-line path {
  fill-opacity: 0 !important;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1 !important;
  stroke-opacity: 1 !important;
}
.nvd3.nv-line {
  fill-opacity: 0 !important;
}
#piechartSupplier svg,
#piechartBuyer svg,
#piechartFunder svg {
  height: 450px;
  width: 100%;
}
#treemap {
  height: 300px;
  width: 100%;
  margin: auto;
}
#treemap svg {
  width: 100%;
}
#graph-container,
#graph-container svg {
  width: 100%;
  height: 600px;
}
#flags-graph svg {
  width: 100%;
  height: 200px;
}
#flags-graph svg .nv-background rect {
  fill: #fff;
}
.node .nodeBack {
  opacity: 0.85;
}
.node.active .nodeBack {
  opacity: 0;
}
.node circle {
  stroke: #fff;
  stroke-width: 1px;
}
.node .bubble-label {
  font-weight: bold;
  font-size: 1rem;
  fill: #000;
}
.foreign-tooltip {
  display: flex;
  width: 160px;
  position: absolute;
  pointer-events: none;
}
.foreign-tooltip .node-tooltip {
  background-color: #222;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  position: relative;
  text-align: center;
  padding: 7px 8px 2px;
  line-height: 1em;
  display: inline-table;
  margin: 0 auto;
}
.foreign-tooltip .node-tooltip::before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #222;
  top: -20px;
  left: calc(50% - 10px);
}
.foreign-tooltip .node-tooltip .name {
  font-family: 'Poppins';
  font-size: 12px;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 600;
}
.nodesChart {
  transform: translate(0, 20px);
}
.button-tools {
  background: transparent;
  border: none;
  margin-top: 0.6rem;
  padding: 5px;
}
.button-tools img {
  width: 20px;
}
.button-tools:hover {
  color: #2200c5;
}
#apiUrl,
#pageUrl {
  padding: 5px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #d3d3d3;
  display: inline-block;
}
.btn-copy,
.btn-csv {
  width: 100%;
  display: inline-block;
  border: 1px solid #808080;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 5px;
  padding: 6px 8px !important;
}
.tools-section {
  background: #f0f0f0;
  padding-right: 20px;
  padding-left: 20px;
}
.tools-section .document-description {
  margin-bottom: 0 !important;
}
.tools-section .dropdown {
  text-align: right;
}
.share-icons {
  width: 17px;
  margin-right: 5px;
}
.buyer-button {
  background: #db2828 !important;
}
.supplier-button {
  background: #278529 !important;
}
.funder-button {
  background: #b6893e !important;
}
.flag_name {
  float: left;
  line-height: 2em;
}
.flag_pole {
  position: relative;
  height: 1.5em;
  margin: 2em 2em 2em 10em;
}
.flag_marker {
  position: absolute;
  background: inherit;
  border: 2px solid #808080;
  color: #222;
  margin-top: -1.55em;
  padding: 0.5em;
  border-radius: 3em;
  width: 4.5em;
  height: 4.5em;
  line-height: 3.5em;
  text-align: center;
  margin-left: -2.7em;
  font-weight: bold;
}
.flag_total_score {
  background: #ff9694;
}
.flag_trans {
  background: #2465ff;
}
.flag_temp {
  background: #acd7f6;
}
.flag_comp {
  background: #85beff;
}
.flag_traz {
  background: #408efc;
}
.flag_conf {
  background: #00cc9c;
}
.flag_pole_min,
.flag_pole_max {
  background: rgba(0,0,0,0.5);
  height: 1.5em;
  float: left;
}
.flag_pole_max {
  position: absolute;
  right: 0;
}
.wrap,
.wrap-contract {
  position: relative;
  background: #fff;
  -webkit-transition: height 0.35s;
  -moz-transition: height 0.35s;
  transition: height 0.35s;
}
.fixed-title,
.fixed-title-contract {
  height: 72px;
  background: #fff;
  position: fixed !important;
  margin-top: -4px;
  z-index: 1;
  width: 85%;
}
.fixed-title .breadcrumb,
.fixed-title-contract .breadcrumb {
  padding-top: 0;
  margin-bottom: 0 !important;
}
.fixed-title .breadcrumb h4,
.fixed-title-contract .breadcrumb h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}
.fixed-title .description-data-title h3,
.fixed-title-contract .description-data-title h3 {
  margin-top: 0;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.fixed-title .contract-amount,
.fixed-title-contract .contract-amount {
  width: 35%;
  float: right;
  margin-top: -15px;
}
.fixed-title .contract-amount .amount-data,
.fixed-title-contract .contract-amount .amount-data {
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.fixed-title img.icon-lf,
.fixed-title-contract img.icon-lf {
  width: 15px;
}
.fixed-title hr,
.fixed-title-contract hr {
  margin-top: 0 !important;
}
.fixed-title-contract {
  height: 70px;
}
.fixed-title-contract .description-data-title {
  width: 65%;
  float: left;
}
.profile-menu-margin {
  margin-top: 10rem;
}
.contract-margin {
  margin-top: 11.5rem;
}
.profile-margin {
  margin-top: 6rem;
}
.gender-indicator-container {
  padding: 20px;
}
.mujeres-logo-white {
  width: 150px;
  min-width: 130px;
  padding: 10px;
}
.gender-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 12px;
}
.gender-grid .data-icon {
  display: flex;
  align-items: center;
}
.gender-grid .data-icon i {
  font-size: 2.6rem;
  margin-right: 5px;
  color: #fff;
}
.gender-grid .data-icon .js-data {
  margin: 0;
}
.gender-grid .data-icon .js-data,
.gender-grid .data-icon .js-title-data {
  color: #fff;
}
.gender-grid .data-icon .js-title-data {
  font-size: 14px;
}
.grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.container-button-gender {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
.gender-icons {
  height: 41px;
  margin-right: 4px;
}
.gender-country-link {
  color: #00cab9;
}
.gender-country-link:hover {
  color: #00cab9;
}
p.document-description {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #585858;
}
.search-terms-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #21018b;
  line-height: 1.8rem;
  margin-bottom: 0;
}
.search-terms-text span {
  color: #fff;
  background-color: #21018b;
  border-radius: 7px;
  font-weight: 300;
  padding: 0.2rem 0.5rem 0.2rem 0.7rem;
  margin: 0.2rem 0.2rem 0 0;
  display: inline-block;
}
.delete-blob-filter {
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.9;
  cursor: pointer;
}
.addinfo-box {
  background-color: #f7f7f7;
  border-color: #9c9c9c;
  border-width: 1px;
  border-style: solid;
  margin: 0 1rem 1rem 0;
  font-size: 0.8rem;
  padding: 1rem;
}
.addinfo-box img.form-control {
  width: auto;
  padding: 0;
  border: none;
  background: transparent;
  display: inline;
  box-shadow: none;
  margin-right: 0;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section.profile {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section.profile-header {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
section.country-mujeres {
  padding-top: 0;
  padding-bottom: 0;
}
section.data-sources {
  background-color: #f7f7f7;
}
section.proyectos {
  background-color: #110046;
}
section.investigaciones {
  border-top: 2px dotted #3a32f9;
}
section.investigaciones h2 {
  font-weight: bold;
  text-align: center;
}
section.tabs {
  margin-top: 2rem;
  min-height: 100vh;
}
section.tabs h3 {
  font-size: 1.5rem;
  color: #3a32f9;
  margin-bottom: 2rem;
}
section.tabs h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.category-profile {
  padding: 1rem 1.5rem 0 0;
}
@media screen and (max-width: 1149px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 578px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .gender-indicator-container {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .tools-section .dropdown {
    text-align: center;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .nodesChart {
    transform: translate(0, 40px);
  }
}
@media only screen and (max-width: 992px) {
  #right-menu {
    font-size: 1rem;
  }
  #right-menu li a i {
    margin-right: 5px;
  }
}
.error-template,
.about-template,
.privacy-template {
  padding-top: 5rem;
}
.error-template h1,
.about-template h1,
.privacy-template h1 {
  color: #150b58;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.error-template h1 img,
.about-template h1 img,
.privacy-template h1 img {
  width: 50px;
}
.error-template h2,
.about-template h2,
.privacy-template h2 {
  color: #150b58;
  font-family: monospace;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.error-template h3,
.about-template h3,
.privacy-template h3 {
  color: #150b58;
  font-weight: bold;
  margin-top: 2.5rem;
}
.error-template h4,
.about-template h4,
.privacy-template h4 {
  margin-top: 1.5rem;
}
.privacy-template h3 {
  font-weight: bold;
  color: #4e4e4e;
  text-transform: uppercase;
}
.apis-template .card {
  margin-bottom: 2rem;
  padding-bottom: 2.5rem;
}
.apis-template .card .card-content {
  padding: 1rem 1rem 2.5rem 1rem;
}
.apis-template .card p {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.apis-template .card h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #2b00f7;
}
.apis-template .card .button-link {
  color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: normal;
  margin-right: 1rem;
}
.apis-template .card .button-link:hover,
.apis-template .card .button-link:focus {
  color: #fff;
}
.apis-template .card .link {
  text-decoration: underline !important;
}
.apis-template .card-list {
  position: relative;
}
.apis-template .card-list img {
  width: 90%;
}
.apis-template .card-list p {
  padding-bottom: 0;
}
.apis-template .subtitle-apis {
  margin-bottom: 40px;
}
.apis-template .apis-bg {
  background-image: url("../images/apis-bg.png");
  height: 460px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.apis-template .hr-apis {
  background-color: #bec8ff;
}
.apis-template .apis-kibana {
  height: 150px;
  background-image: url("../images/apis-tlc.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.apis-template hr {
  margin-bottom: 20px;
}
.apis-template .button-link-apilist {
  margin-right: 0 !important;
  right: 1rem;
  bottom: 0;
}
.apis-template .card-software {
  padding-bottom: 0;
}
.apis-template .card-post-blog {
  padding: 0.5rem;
}
.apis-template .content-post-blog {
  text-align: center !important;
  background-color: #f7f7f7;
  border: solid 1px rgba(222,222,222,0.3);
  padding: 1rem;
}
.apis-template .content-post-blog h4 {
  margin: 0;
}
.apis-template .button-link-status-container {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
}
.apis-template .button-link-status-container .button-link-status {
  font-weight: normal;
  border: solid 1px #2b00f7;
  color: #2b00f7;
  background-color: transparent;
}
.apis-template .button-link-status-container .button-link-status:hover {
  color: #fff;
  background-color: #2b00f7;
}
.about-template div.proyecto {
  background-color: #f7f7f7;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.about-template div.proyecto img {
  width: 90%;
}
.about-template div.proyecto p {
  margin-right: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem 0 0;
  font-size: 1.1rem;
}
.about-sidebar {
  position: fixed;
  width: 18%;
  right: auto;
  margin-top: 20px;
  background-color: #f7f7f7;
}
.about-sidebar ul {
  padding: 1rem 2rem;
  margin: 0;
}
.about-sidebar ul a {
  text-decoration: none !important;
  font-weight: bold;
}
.about-sidebar ul a li {
  list-style: none;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.about-sidebar ul a li:hover,
.about-sidebar ul a li:focus,
.about-sidebar ul a li.active {
  background-color: #2b00f7;
  color: #fff;
}
.partners .media {
  margin-bottom: 3rem;
}
.informe-iframe {
  width: 100%;
  height: 700px;
  margin-top: 40px;
  display: block;
}
#left-sidebar {
  display: none;
  background-color: #f7f7f7;
  border-color: #9c9c9c;
  border-width: 1px;
  border-style: solid;
  color: #3e3e3e;
}
.button-manual.right {
  text-align: right !important;
  padding-right: 1rem;
}
.button-manual.left {
  text-align: left !important;
}
@media (max-width: 767px) {
  #left-sidebar {
    display: block;
  }
}
@media (max-width: 767px) {
  .button-manual.right {
    text-align: center !important;
    padding-right: 0;
  }
  .button-manual.left {
    text-align: center !important;
  }
}
@media only screen and (max-width: 767px) {
  .button-link-apilist {
    position: relative !important;
    margin-top: 1rem;
  }
  .apis-template .button-link-status-container {
    text-align: center;
    margin-top: 0;
  }
  .apis-template h1 {
    font-size: 2rem;
  }
  .apis-template .card p {
    margin-bottom: 1.5rem;
  }
  .apis-template .card-list img {
    width: 100%;
  }
  .apis-template .card-software {
    padding-bottom: 0.5rem;
  }
  .apis-template .card-software p {
    margin-left: 16px;
  }
  .apis-template .card-software h3 {
    margin-left: 16px;
  }
  .apis-template #right-menu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .button-link-apifirst {
    margin-bottom: 3rem;
  }
  .about-sidebar {
    position: initial;
    width: 100%;
  }
  .about-sidebar ul a {
    font-size: 1rem;
  }
  .about-sidebar {
    display: none;
  }
  .about-sidebar.open {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}
@media only screen and (max-width: 992px) {
  .apis-template .card .link {
    display: block;
    margin-top: 2rem;
  }
  .about-sidebar {
    position: initial;
    width: 95%;
  }
  .about-sidebar ul a {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1200px) {
  .apis-template .card h3 {
    margin-right: 1rem;
  }
  .apis-template .card p {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 1160px) {
  div.explore-card {
    width: 100%;
  }
  .proyecto-info {
    position: relative;
  }
  .proyecto button,
  .proyecto a.proyecto-link {
    width: 85%;
    bottom: 0;
    right: 0;
    display: block;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 1042px) {
  input[type=text].landing-search-inputtext {
    width: 100%;
  }
  input[type=submit].landing-search-inputtext {
    width: auto;
    margin: 0;
  }
  .contacto button {
    margin-left: auto;
  }
  .explore-card button {
    width: 85%;
  }
  .investigaciones .card p {
    font-size: 1.4rem;
  }
}
footer {
  background-color: #21018b;
  padding: 1rem;
  clear: both;
}
footer p {
  color: #fff;
  line-height: 1.5rem;
}
footer p:first-child {
  margin-top: 1rem;
}
footer a {
  color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
footer a:hover,
footer a:focus {
  color: #ccd;
  text-decoration: none;
}
footer a img {
  margin-top: 1rem;
}
footer a .logofooter-ml {
  width: 80px;
  margin-left: 1.5rem;
}
footer a .logofooter-pl {
  width: 120px;
}
footer .text-link {
  margin-top: 3rem !important;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
}
.owl-carousel {
  margin-left: -30px;
  margin-bottom: 20px;
  z-index: 0 !important;
}
.owl-carousel .owl-nav {
  text-align: left;
  margin-left: 110px;
  margin-top: 10px;
}
.owl-carousel .owl-nav button[class*='owl-'] {
  color: #fff;
  font-size: 1rem;
  margin: 5px;
  padding: 4px 7px;
  background: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  opacity: 0.6;
}
.owl-carousel .owl-nav button[class*='owl-']:hover,
.owl-carousel .owl-nav button[class*='owl-']:focus {
  color: #ccd;
  background-color: transparent;
}
.logos-orgs {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 20px 0;
  height: 50px;
  width: 200px;
}
.logo-wingu {
  background-image: url("../images/wingu-blanco.png");
  height: 35px;
}
.logo-ojopublico {
  background-image: url("../images/logo-ojopublico-blanco.png");
  height: 30px;
}
.logo-cargo {
  background-image: url("../images/cargografias.png");
}
.logo-ml {
  background-image: url("../images/mexicoleaks.png");
  height: 35px;
}
@media only screen and (max-width: 767px) {
  footer .left,
  footer .right {
    float: none;
  }
  footer .text-link {
    margin-top: 2rem !important;
  }
}
@media only screen and (max-width: 768px) {
  footer a .logofooter-ml,
  footer a .logofooter-pl {
    margin-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  footer {
    position: relative !important;
  }
}
