.social-share-icons
    a 
        font-size 2.5rem
        color $darkgray !important
        &:hover
            color $link-hover-color !important

.filter-dropdown-menu-tools
    background-color #e6e6e6
    padding 1rem
    min-width 240px
