<div class="apis-template">
    <div class="col-m-9 col-9">
        <h1>Herramientas</h1>
        <p class="subtitle-apis">“No se trata de construir un sistema sino un instrumento, una lógica propia a las relaciones de poder y a las luchas que se comprometen alrededor de ellas”, decía Michel Foucault en su libro Un diálogo sobre el poder y otras conversaciones. Siguiendo la lógica del filósofo francés, alrededor de la base de datos de QuiénEsQuién.wiki construimos herramientas e instrumentos que permitan explicar mejor las relaciones de poder y cómo luchar contra ellas.</p>
    </div>
    <div class="col-3 col-m-3">
        <div class="button-link-status-container">
            <a href="https://status.quienesquien.wiki/" class="button-link button-link-status">QQW API STATUS</a>
        </div>
    </div>
    <div class="col-12 col-m-12 card">
        <div class="apis-bg"></div>
        <div class="card-content">
            <div class="col-m-6 col-6 button-link-apifirst">
                <h3>API de datos de QuienEsQuien.wiki</h3>
                <p>A través de nuestra API REST abierta podrá consultar de forma automatizada todos los datos disponibles en nuestro sitio web.</p>
                <a href="https://api.quienesquien.wiki/v2/docs/" class="button-link">VER DOCUMENTACIÓN</a>
            </div>
            <div class="col-m-6 col-6">
                <h3>Cliente de API en Node.js</h3>
                <p>node-qqw es una librería para consultas asincrónicas a nuestra API REST.</p>
                <a href="https://github.com/ProjectPODER/node-qqw" class="button-link">VER NODE-QQW</a>
                <a href="https://github.com/ProjectPODER/QuienEsQuienApi" class="link">Ver código de QuienEsQuienAPI</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-m-12">
        <h3 style="font-size: 2rem; margin-top: 3rem; margin-bottom: 2rem;">Software reutilizable</h3>
    </div>
    <div class="col-12 col-m-12 card card-software mb-5">
        <div class="col-12 col-m-12 card-list">
            <div class="col-m-3 col-3">
                <img src="images/apis-tb.png" alt="">
            </div>
            <div class="col-m-7 col-7">
                <h3>Tower Builder</h3>
                <p>Generador de web y visualizaciones de datos de contrataciones públicas que no requiere programación, ni hosting dedicado. Los usos más destacados son para seguir grandes obras públicas, <a href="https://torredecontrol.org/">www.torredecontrol.org</a>, y compras medicas, <a href="https://vivirconvih.org/">VivirconVih.org</a></p>
            </div>
            <div class="col-m-2 col-2 text-right">
                <a href="https://github.com/ProjectPODER/TowerBuilder" class="button-link button-link-apilist" target="_blank">VER TB</a>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="hr-apis">
        </div>
        <div class="col-12 col-m-12 card-list">
            <div class="col-m-3 col-3">
                <img src="images/apis-tlc.png" alt="">
            </div>
            <div class="col-m-7 col-7">
                <h3>Todos los contratos</h3>
                <p>Web principal del sistema de evaluación de las dependencias y contratos mexicanos que aparecen en QuiénEsQuién.Wiki. En el minisitio se encuentra la metodología detallada, una panorámica general del país y cómo se pueden mejorar los sistemas de compras.</p>
            </div>
            <div class="col-m-2 col-2 text-right">
                <a href="https://github.com/ProjectPODER/OCDS_RedFlags" class="button-link button-link-apilist" target="_blank">VER CÓDIGO</a>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="hr-apis">
        </div>
        <div class="col-12 col-m-12 card-list">
            <div class="col-m-3 col-3">
                <img src="images/apis-kibana.png" alt="">
            </div>
            <div class="col-m-7 col-7">
                <h3>Kibana</h3>
                <p><a href="https://quienesquien.wiki/">QuiénEsQuién.Wiki</a> usa Kibana para ser una herramienta de análisis de datos que permite cruces, visualizaciones y gráficos de contrataciones públicas, relaciones entre personas y organizaciones. Se puede analizar la captura del estado y la calidad de las contrataciones públicas.</p>
            </div>
            <div class="col-m-2 col-2 text-right">
                <a href="https://kibana.quienesquien.wiki/" class="button-link button-link-apilist" target="_blank">VER MANUAL</a>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="hr-apis">
        </div>
        <div class="col-12 col-m-12 card-list">
            <div class="col-m-3 col-3">
                <img src="images/apis-qqw.png" alt="">
            </div>
            <div class="col-m-7 col-7">
                <h3>QuienEsQuien</h3>
                <p>Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas.</p>
            </div>
            <div class="col-m-2 col-2 text-right">
                <a href="https://github.com/ProjectPODER/QuienEsQuien" class="button-link button-link-apilist" target="_blank">VER QQW</a>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="hr-apis">
        </div>
        <div class="col-12 col-m-12 card-list">
            <div class="col-m-3 col-3">
                <img src="images/apis-cnet2ocds.png" alt="">
            </div>
            <div class="col-m-7 col-7">
                <h3>cnet2ocds</h3>
                <p>Convertir documentos COMPRANET a OCDS.</p>
            </div>
            <div class="col-m-2 col-2 text-right">
                <a href="https://github.com/ProjectPODER/cnet2ocds" class="button-link button-link-apilist" target="_blank">VER CNET2OCDS</a>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="hr-apis">
        </div>
    </div>

    {{!-- <div class="col-m-12 col-12 ">
        <h1>Últimas entradas al blog</h1>
    </div>
    <div class="col-m-12 col-12 flex mb-5">
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Lorem ipsum dolor sit amet</h4></a>
            </div>
        </div>
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Aliquam tincidunt ligula in est volutpat dapibus</h4></a>
            </div>
        </div>
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Praesent vitae vestibulum neque, eu elementum sem</h4></a>
            </div>
        </div>
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Aliquam tincidunt ligula in</h4></a>
            </div>
        </div>
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Praesent vitae vestibulum neque, eu elementum sem vestibulum neque</h4></a>
            </div>
        </div>
        <div class="col-m-4 col-4 card-post-blog flex-item">
            <div class="content-post-blog">
                <a href=""><h4>Donec eu est dapibus, finibus mi at, lacinia justo</h4></a>
            </div>
        </div>
    </div> --}}
</div>