<div class="history">
  <div class="row">
    <div class="col-m-12 col-12 mb-1">

      <h1 class="page-title"><img src="../../../images/favicon-96x96.png" alt="logo-QQW"> Historia</h1>
      <p>QuiénEsQuién.Wiki es una plataforma que presenta datos de distinta procedencia y permite mapear las élites económicas y políticas en América Latina, exhibiendo así el fenómeno de la captura del estado.</p>
      <p>La captura del estado -mediante la cual intereses económicos privados interfieren en la toma de decisiones públicas para su propio beneficio- sucede a nivel nacional, regional e internacional. El propósito para construir una base de datos latinoamericana es facilitar la detección de patrones de captura tales como la opacidad, la corrupción y la impunidad.</p>
      <p>QuiénEsQuién.Wiki está promovido por <a href="http://projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>, construido enteramente usando software libre y siempre bajo premisas de datos abiertos. La información está abierta a organizaciones de la sociedad civil, medios de comunicación, académicos, investigadores y otros actores que busquen evidenciar la captura del estado y otros fenómenos asociados.</p>
      <p>En la construcción de la plataforma ha contribuido <a href="https://winguweb.org/" target="_blank">Wingu</a> en distintos momentos, hemos contado con el apoyo de <a href="https://www.hivos.org/" rel="nofollow noreferrer noopener" target="_blank">Hivos</a> y <a href="" rel="nofollow noreferrer noopener" target="_blank">Luminate</a>, y hemos realizado proyectos con <a href="https://ojo-publico.com/" rel="nofollow noreferrer noopener" target="_blank">Ojo-Público</a> y <a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a>, entre otros. </p>
      <p>Somos más efectivos si trabajamos de forma colaborativa compartiendo datos e información del estado en la región,  por esto formamos parte de <a href="http://www.interconexion.lat/">Interconexión.lat</a>. Si estás interesado en hacer un proyecto conjunto, quieres añadir una nueva fuente de información o tienes dudas sobre los datos o cómo cruzarlos, escríbenos a <a href="mailto:info@quienequien.wiki">info@quienequien.wiki</a>.</p>
    </div>
  </div>
</div>