<div class="projects-template">
  <div class="row">
    <h1>Proyectos con datos de QuiénEsQuién.Wiki</h1>
    <p>A partir de la investigación con datos de QuiénEsQuién.Wiki, se han realizado proyectos de largo aliento, visualizaciones innovadoras e investigaciones regionales.</p>

    <!--End mc_embed_signup-->
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="https://lamafiadelaciencia.projectpoder.org/"><img src="images/lamafiadelaciencia.png" alt="La mafia de la ciencia"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">El Foro Consultivo Científico y Tecnológico, A.C., fue la vía utilizada por académicos para usurpar funciones públicas y beneficiarse por más de 16 años de fondos públicos discrecionales del Consejo Nacional de Ciencia y Tecnología (Conacyt). El dinero se usó para pagar sueldos y comprar una casa que administran de manera privada. Ahora, para mantener los privilegios, el Foro A.C. sostiene un juicio en contra de Conacyt.</p>
          <a class="button-link" type="button" href="https://lamafiadelaciencia.projectpoder.org/" target="_blank">VER LA MAFIA DE LA CIENCIA</a>
      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="https://mujeresenlabolsa.org/"><img src="images/mujeres2020.png" alt="MujeresEnLaBolsa.org"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">El 8 de marzo lanzamos un proyecto con perspectiva de género en colaboración con 15 medios de comunicación de América Latina y España. Analizamos la proporción de consejeras y consejeros en las juntas directivas de las empresas que cotizan en 15 bolsas de valores hispanas y Brasil. Descubrimos que en promedio hay 7 hombres por cada mujer. México es el peor país en equidad de género en esta materia y lidera el ranking Costa Rica con un 22.43% de los asientos en los consejos de administración ocupados por mujeres, y aún queda mucho trabajo por hacer.</p>
          <a class="button-link" type="button" href="https://mujeresenlabolsa.org/" target="_blank">VER MUJERESENLABOLSA.ORG</a>
      </div>
    </div>
    {{!-- <div class="contacto-text">
      <h3 class="text-white">Te avisamos cuando saquemos un nuevo proyecto</h3>
      <div id="mc_embed_signup">
        <form action="https://projectpoder.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;id=62bed77118" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingresa tu email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2717e723ef63df492f38fc669_62bed77118" tabindex="-1" value=""></div>
            <input type="submit" value="Recibir newsletter" name="suscribirse" id="mc-embedded-subscribe" class="button button-link">
          </div>
        </form>
      </div>
    </div> --}}

      <div class="proyecto row">
        <div class="col-4 col-m-5 proyecto-info-img">
          <a href="https://lanuevaamenazadegrupomexico.projectpoder.org/"><img src="images/nueva-amenaza-site.png" alt="La nueva amenaza de Grupo México"></a>
        </div>
        <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Grupo México amenaza con la construcción de una megapresa de jales a habitantes de Sonora afectados por el derrame de lixiviado de cobre en su mina Buenavista del Cobre en 2014. Con este reportaje se logró que las autoridades visitaran a las comunidades afectadas y les prometieran un plan de remediación.</p>
          <div class="center-button centered mb-1-2">
            <a class="button-link proyecto-link" type="button" href="https://lanuevaamenazadegrupomexico.projectpoder.org/" target="_blank">VER: La nueva amenaza de Grupo México</a>
          </div>
        </div>

      </div>

    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="http://contratosdeldesastre.com/"><img src="images/desastre-site.png" alt="ContratosDelDesastre.org"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Siguiendo con nuestra línea de trabajo de vincular contratos con derechos humanos realizamos una investigación para saber cómo se gastan los recursos públicos en situaciones de desastre. Es una colaboración entre PODER y El Intercambio, de Guatemala; apoyada por Hivos y para la que se ha desarrollado una metodología de análisis que otros grupos ya están estudiando replicar.</p>
          <a class="button-link" type="button" href="http://contratosdeldesastre.com/" target="_blank">VER CONTRATOSDELDESASTRE.COM</a>
      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="https://vivirconvih.org/"><img src="images/vih-site.png" alt="VivirconVIH.org"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">A partir del análisis de la compras de antirretrovirales en Guatemala mostramos la situación en la que está el país y apuntamos acciones de incidencia para permitir mejorar la vida de las personas que viven con el virus.</p>
          <a class="button-link" type="button" href="https://vivirconvih.org/" target="_blank">VER VIVIRCONVIH.ORG</a>
      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="https://conoceblackrock.projectpoder.org/"><img src="images/blackrock.png" alt="Proyecto BlackRock"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Desde PODER, y con el apoyo de Connectas y el ICFJ, se mapearon todos los vínculos que la gestora de activos BlackRock tiene en México: acciones en la bolsa de valores, proyectos energéticos, gestión de inversión de pensiones y sus relaciones con el poder político.</p>
          <a class="button-link" type="button" href="https://conoceblackrock.projectpoder.org/" target="_blank">VER BLACKROCK</a>

      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="https://torredecontrol.projectpoder.org/"><img src="images/apis-tdc.png" alt="Proyecto Torre de Control"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">La construcción del Nuevo Aeropuerto Internacional del Ciudad de Mexico tiene una inversión prevista de 250 mil millones de pesos. Este proyecto de PODER y Wingu vincula y pone a disposición todos los contratos con los beneficiarios reales de las empresas ganadoras.</p>
          <a class="button-link" type="button" href="https://torredecontrol.projectpoder.org/" target="_blank">VER TORRE DE CONTROL</a>
      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <img src="images/contratistasdelpoder.png" alt="Proyecto Contratistas del Poder">
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Análisis de las empresas más beneficiadas por la contratación pública en los tres primeros años del mandato del presidente Enrique Peña Nieto. Proyecto realizado por El Universal Data y PODER.</p>
          <button class="btn btn-default" type="button" disabled>FUERA DE LÍNEA</button>

      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <a href="http://ojo-publico.com/113/que-es-la-sala-del-poder"><img src="images/saladepoder.png" alt="Proyecto Sala de Poder"></a>
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Ojo Público usó la información sobre la Bolsa de Valores de Lima que hay en QuiénEsQuién.Wiki para lanzar su sección "Sala del poder" que quiere "fiscalizar y conocer a los grupos económicos nos permite entender el Perú".</p>
          <a class="button-link" type="button" href="http://ojo-publico.com/113/que-es-la-sala-del-poder" target="_blank">VER SALA DE PODER</a>
      </div>
    </div>
    <div class="proyecto row">
      <div class="col-4 col-m-5 proyecto-info-img">
        <img src="images/LogoINCIDEALTARES.jpg" alt="Proyecto VigilanciaWiki">
      </div>
      <div class="col-8 col-m-7">
          <p class="serif-gray proyecto-info">Incide Social registró las votaciones de los consejeros del Instituto Nacional Electoral de México para mostrar si existía algún tipo de colusión entre ello. </p>
          <button class="btn btn-default" type="button" disabled>FUERA DE LÍNEA</button>
      </div>
    </div>
    {{!-- <div class="col-12 col-m-12 text-center mt-2">
      <a class="button-link important-button-link" type="button" href="" target="_blank">VER TODAS LAS INVESTIGACIONES</a>
    </div> --}}
  </div>
</div>
