<div class="doc-template">
  <div class="row">
    <h1>Manual</h1>
    <p>QuiénEsQuién.Wiki es una herramienta que reúne casi 4 millones de contratos, datos de cerca de 228 mil empresas, más de 3 mil instituciones y más de 201 mil personas. Y aunque pareciera mucha información, hay diversas formas de obtener el máximo provecho, en especial para hacer investigaciones periodísticas.</p>
    <p>Por eso, ante el mar de datos que hay en QQW, que utiliza la herramienta de elastic search Kibana para montar los datos, presentamos este manual que puede ayudar a investigadores y periodistas en sus búsquedas. </p>
    <div>
    	<iframe class="informe-iframe" src="https://manualinvestigarcontrataciones.readthedocs.io/es/latest/"></iframe>
    </div>
    <div class="col-12 col-m-12 centered mt-2">
	    <a class="button-link important-button-link" type="button" href="https://manualinvestigarcontrataciones.readthedocs.io/es/latest/">IR AL MANUAL</a>
	 </div>
  </div>
</div>
