<div class="doc-template">
  <div class="row">
    <h1>Manual</h1>
    <p>QuiénEsQuién.Wiki es una herramienta que congrega más de 3 millones de contratos, datos de más de 200 mil empresas, 200 mil personas y más de 13 mil instituciones. Y aunque pareciera mucha información, hay formas de obtener el máximo provecho, en especial para hacer investigaciones periodísticas.</p>
    <p>Por eso, ante el mar de datos que hay en QQW, presentamos este manual para ayudar a investigadores y periodistas a entender cómo usar esta herramienta para sus búsquedas.</p>
  </div>
</div>