<div class="partners">
  <div class="row">
    <div class="col-m-12 col-12 mb-3">
      <h1>
      <a id="user-content-organizaciones-aliadas" class="anchor" href="#organizaciones-aliadas" aria-hidden="true"></a>Organizaciones aliadas</h1>

      <p>QuiénEsQuién.Wiki no tiene propietario, en cambio <a href="http://projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>, una organización de la sociedad civil, lidera el proyecto, y  busca implicar a otras organizaciones interesadas, ya sea añadiendo datos o generado visualizaciones en código abierto para que otros actores las puedan adaptar. La intención es que eventualmente la plataforma sea regida por un gobierno compartido entre varias organizaciones usuarias.</p>

      <p class="mb-3">El ecosistema actual de la plataforma es variado: va desde periodistas a investigadores que usan la plataforma, hasta organizaciones cuyo interés particular en un país o tema les lleva a construir una plataforma vinculada mediante la cual comparte datos.</p>

      <div class="media">
        <div class="media-left">
          <a id="user-content-poder" class="anchor" href="#poder" aria-hidden="true"></a>
          <a href="https://www.projectpoder.org/es/" target="_blank">
            <img class="media-object" src="../../images/logo_poder_2018.png" alt="Logo PODER">
          </a>
        </div>
        <div class="media-body">
          <!-- <h3>
          <a id="user-content-poder" class="anchor" href="#poder" aria-hidden="true"></a><a href="https://www.projectpoder.org/es/" rel="nofollow noreferrer noopener" target="_blank">PODER</a>
        </h3> -->
          <p>El Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER) es una organización regional, no gubernamental, sin fines de lucro. Nuestra misión es fomentar la transparencia y rendición de cuentas de las empresas en América Latina y fortalecer a los actores de la sociedad civil afectados por prácticas empresariales para que actúen como garantes de la rendición de cuentas a largo plazo. PODER logra esto mediante la inteligencia empresarial, las tecnologías de transparencia y la organización comunitaria para construir un movimiento ciudadano a favor de la rendición de cuentas empresarial.</p>
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a id="user-content-wingu" class="anchor" href="#wingu" aria-hidden="true"></a>
          <a href="https://winguweb.org/" target="_blank">
            <img class="media-object" src="../../images/wingu.svg" alt="Logo Wingu">
          </a>
        </div>
        <div class="media-body">
          <!-- <h3>
          <a id="user-content-wingu" class="anchor" href="#wingu" aria-hidden="true"></a><a href="https://winguweb.org/" rel="nofollow noreferrer noopener" target="_blank">WINGU</a>
        </h3> -->
          <p>Wingu {Tecnología sin fines de lucro} es una organización sin fines de lucro con base en Buenos Aires y Ciudad de México. Nuestra misión es fortalecer otros proyectos e iniciativas sin fines de lucro en América Latina a través de la implementación de tecnologías y metodologías innovadoras para maximizar su impacto. Lo logramos a través de capacitaciones, la implementación de servicios, y el desarrollo de tecnología cívica basados en datos.</p>
        </div>
      </div>
      
      <div class="media">
        <div class="media-left">
          <a id="user-content-ojo-publico" class="anchor" href="#ojo-publico" aria-hidden="true"></a>
          <a href="http://ojo-publico.com" target="_blank">
            <img class="media-object" src="../../images/logo-ojopublico.png" alt="Logo Ojo Público">
          </a>
        </div>
        <div class="media-body">
          <!-- <h3>
          <a id="user-content-ojo-público" class="anchor" href="#ojo-público" aria-hidden="true"></a><a href="http://ojo-publico.com" rel="nofollow noreferrer noopener" target="_blank">Ojo Público</a>
        </h3> -->
          <p>Es un medio digital de periodismo de investigación y nuevas narrativas que apunta a ofrecer un cóctel cada vez más raro: historias relevantes, noticias verdaderas, textos bien escritos y herramientas informativas innovadoras sobre temas urgentes de la agenda pública nacional. Es un equipo de reporteros experimentados que asume el reto de los lectores: ser incómodos con el poder, vigilantes de la democracia, poner nuestra mirada al servicio del interés ciudadano en vez de promover intereses ajenos. </p>
        </div>
      </div>
      
      <div class="media">
        <div class="media-left">
          <a id="user-content-cargografias" class="anchor" href="#cargografias" aria-hidden="true"></a>
          <a href="http://www.cargografias.org/" target="_blank">
            <img class="media-object" src="../../images/cargografias.png" alt="Logo Cargografías">
          </a>
        </div>
        <div class="media-body">
          <!-- <h3>
          <a id="user-content-cargografías" class="anchor" href="#cargograf%C3%ADas" aria-hidden="true"></a><a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">Cargografías</a>
        </h3> -->
          <p>Cargografías es una línea de tiempo que muestra los cargos públicos que tuvo cada funcionario a lo largo de su vida. </p>
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a id="user-content-mexicoleaks" class="anchor" href="#mexicoleaks" aria-hidden="true"></a>
          <a href="https://mexicoleaks.mx/enviar-para.php?r=poder" target="_blank">
            <img class="media-object" src="../../images/mexicoleaks-negro.png" alt="Logo Méxicoleaks">
          </a>
        </div>
        <div class="media-body">
          <!-- <h3>
          <a id="user-content-méxicoleaks" class="anchor" href="#méxicoleaks" aria-hidden="true"></a><a href="https://mexicoleaks.mx/enviar-para.php?r=poder" rel="nofollow noreferrer noopener" target="_blank">Méxicoleaks</a>
        </h3> -->
          <p>Méxicoleaks es una herramienta que permite enviar información de interés público a medios de comunicación y organizaciones civiles a través de tecnologías seguras que garantizan el anonimato de la fuente. En virtud de la transparencia y la participación ciudadana, busca construir en la sociedad la justicia y la democracia. </p>
        </div>
      </div>

    </div>
  </div>
</div>